//- PAGE TITLE
div(class="page-title")
    h2() Candidato:&nbsp;
        span(class="txt-grises", ng-bind="user.name")
//- END PAGE TITLE
//- PAGE CONTENT WRAPPER
div(class="page-content-wrap")
    div(class="row")
        div(class="col-md-12")
            div(class="alert alert-danger", role="alert", style="display: none")
                button(type="button", class="close", data-dismiss="alert")
                    span(aria-hidden="true") x
                    span(class="sr-only") Close
                strong() Importante!
                span() &nbsp;Aqui se podrán visualizar todos los mensajes de alerta según las acciones que estemos efectuando en la pantalla.
    //- CANDIDATOS
    div(class="row")
        div(class="col-md-3")
            //- START PANEL WITH STATIC CONTROLS
            div(class="panel panel-default")
                div(class="panel-heading")
                    div(class="form-group")
                        div(class="col-md-9 col-xs-9")
                            h3(class="profile-data-name", ng-bind="user.name")
                            div(class="profile-data-title", ng-bind="user.title")
                        div(class="col-md-3 col-xs-3")
                            ul(class="panel-controls")
                                li()
                                    a(class="panel-edit", ng-click="user.edit = !user.edit")
                                        span(class="fa fa-pencil", ng-hide="user.edit")
                                        span(class="fa fa-save", ng-show="user.edit")
                div(class="panel-body")
                    div(class="text-center profilecand", id="user_image")
                        img(src="assets/images/users/user2.jpg", class="img-thumbnail")
                    br()
                    div(class="form-group")
                        div(class="col-md-4 col-xs-4")
                            label(for="") #ID
                        div(class="col-md-8 col-xs-8")
                            p(ng-bind="user.id")
                    div(class="form-group")
                        div(class="col-md-4 col-xs-4")
                            label(for="") UserName
                        div(class="col-md-8 col-xs-8")
                            p(ng-bind="user.username")
                    div(class="form-group")
                        div(div class="col-md-4 col-xs-4")
                            label(for="") Email
                        div(class="col-md-8 col-xs-8")
                            p()
                                a(href="#", ng-bind="user.email")
            //- END PANEL WITH STATIC CONTROLS
        div(class="col-md-6")
            //- START PANEL WITH STATIC CONTROLS
            div(class="panel panel-default")
                div(class="panel-heading")
                    h3(class="panel-title") Ficha del candidato
                    ul(class="panel-controls")
                        li()
                            a(href="#", class="panel-fullscreen")
                                span(class="fa fa-expand")
                        li(class="dropdown")
                            a(href="#", class="dropdown-toggle", data-toggle="dropdown")
                                span(class="fa fa-cog")
                            ul(class="dropdown-menu")
                                li()
                                    a(href="#", class="panel-collapse")
                                        span(span class="fa fa-angle-down")
                                        span() Collapse
                                li()
                                    a(href="#", class="panel-refresh")
                                        span(class="fa fa-refresh")
                                        span() Refresh
                        li()
                            a(href="#", class="panel-remove")
                                span(class="fa fa-times")
                div(class="panel-body")
                    div(class="form-group clearfix")   
                        label(class="col-md-3 control-label") Nombre Completo:
                        div(class="col-md-9")
                            input(type="text", class="form-control", placeholder="", ng-model="user.name", ng-readonly="!user.edit")
                    div(class="form-group clearfix")
                        label(class="col-md-3 control-label") Sexo:
                        //-select(style="height: 36px; padding: 0px 10px !important", class="form-control",data-ng-model="user.sexo", data-ng-options="sexo.value as sexo.label for sexo in variablesGlobales.sexo")
                        div(class="col-md-9").
                                <select class="form-control" select2="" name="sexo" data-ng-model="user.sexo" ng-options="c.label as c.label for c in variablesGlobales.sexo" ng-disabled="!user.edit">
                                    <option value="">Seleccione</option>
                                </select>
                    div(class="form-group clearfix")
                        label(class="col-md-3 control-label") Estatus:
                        div(class="col-md-9")
                            div(class="input-group")
                                span(class="input-group-btn")
                                    button(class="btn btn-default", type="button")
                                        i(class="fa fa-circle status-disponible")
                                select(class="form-control", select2="", name="estado", data-ng-model="user.estado", ng-options="estado.value as estado.label for estado in variablesGlobales.estados", ng-disabled="!user.edit")
                                    option(value="") Seleccione
                    div(class="form-group clearfix")
                        label(class="col-md-3 control-label") Número de identificación:
                        div(class="col-md-9")
                            input(type="text", class="form-control", placeholder="", ng-model="user.numeroId", ng-readonly="!user.edit")
                    div(class="form-group clearfix")
                        label(class="col-md-3 control-label") Teléfono:
                        div(class="col-md-9")
                            input(type="text", class="form-control", placeholder="", ng-model="user.telefono", ng-readonly="!user.edit")
                    div(class="form-group clearfix")
                        label(class="col-md-3 control-label") E-mail:
                        div(class="col-md-9")
                            input(type="email", class="form-control", placeholder="", ng-model="user.email", ng-readonly="!user.edit")
                    div(class="form-group clearfix")
                        label(class="col-md-3 control-label") Dirección:
                        div(class="col-md-9")
                            input(type="text", class="form-control", placeholder="", ng-model="user.direccion", ng-readonly="!user.edit")                    
                    div(class="form-group clearfix")
                        label(class="col-md-3 control-label") Población:
                        div(class="col-md-9")
                            select(class="form-control", select2="", name="ciudad", data-ng-model="user.ciudad", ng-options="ciudad.value as ciudad.label for ciudad in variablesGlobales.poblacion", ng-disabled="!user.edit")
                                    option(value="") Seleccione
                    div(class="form-group clearfix")
                        label(class="col-md-3 control-label") Código postal:
                        div(class="col-md-9")
                            input(type="text", class="form-control", placeholder="", ng-model="user.codigopostal", ng-readonly="!user.edit")
                    div(class="form-group clearfix")
                        label(class="col-md-3 control-label") Pais:
                        div(class="col-md-9")
                            select(class="form-control", select2="", name="pais", data-ng-model="user.pais", ng-options="pais.value as pais.label for pais in variablesGlobales.paises", ng-disabled="!user.edit")
                                    option(value="") Seleccione
                    div(class="form-group clearfix")
                        label(class="col-md-3 control-label") Nacionalidad:
                        div(class="col-md-9")
                            select(class="form-control", select2="", name="nacionalidad", data-ng-model="user.nacionalidad", ng-options="nacionalidad.value as nacionalidad.label for nacionalidad in variablesGlobales.paises", ng-disabled="!user.edit")
                                    option(value="") Seleccione
            //- END PANEL WITH STATIC CONTROLS
        div(class="col-md-3")
            //- START PANEL WITH STATIC CONTROLS
            div(class="panel panel-default")
                div(class="panel-heading")
                    h3(class="panel-title") Información Adicional
                div(class="panel-body")
                    h4(class="txt-redAlert") Esta información no se puede editar
                    div(class="form-group")
                        div(class="col-md-12")
                            label(for="") Coordenadas GPS
                        div(class="col-md-12")
                            p.
                                &nbsp; &nbsp;<strong>Long:</strong> {{user.long}}
                            p.
                                &nbsp; &nbsp;<strong>Lat:</strong> {{user.lat}}
                    div(class="form-group")
                        div(class="col-md-4 col-xs-4")
                            label(for="") Desde
                        div(class="col-md-8 col-xs-8")
                            p(ng-bind="user.desde")
                    div(class="form-group")
                        div(class="col-md-4 col-xs-4")
                            label(for="") Última Actualización
                        div(class="col-md-8 col-xs-8")
                            p(ng-bind="user.ultimaAct")
            //- END PANEL WITH STATIC CONTROLS
            div(class="panel panel-default", style="display:none;")
                div(class="panel-heading")
                    h3(class="panel-title") Categorias del candidato
                div(class="panel-body")
                    ul(class="list-tags")
                        li(ng-repeat="categoria in user.categorias")
                            a(href="#")
                                span(class="fa fa-tag")
                                span(ng-bind="categoria")
    //- FIN CANDIDATOS
    div(class="row", id="Estudios")
        div(class="col-md-12")
            div(class="panel panel-default")
                div(class="panel-heading")
                    h3(class="panel-title") Estudios del candidato
                div(class="panel-body")
                    div(class="form-group")
                        div(class="col-md-12")
                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarEstudio()") Agregar
                    div(class="form-group")
                        div(class="col-md-12")
                            div(class="dd", id="nestable")
                                ol(class="dd-list")
                                    li(class="dd-item", data-id="1", ng-repeat="estudio in user.estudios")
                                        div(class="dd-handle clearfix")
                                            div(class="form-group")
                                                div(class="col-md-10")
                                                    div(class="form-group")
                                                        h3() Titulo obtenidos por el candidato
                                                        div(class="col-md-1")
                                                            label(for="") Centro Educativo
                                                        div(class="col-md-3")
                                                            p(ng-bind="estudio.centroEducativo", ng-hide="estudio.edit")
                                                            input(ng-model="estudio.centroEducativo", type="text", class="form-control", ng-show="estudio.edit")
                                                        div(class="col-md-1")
                                                            label(for="") Grado
                                                        div(class="col-md-2")
                                                            p(ng-bind="estudio.grado", ng-hide="estudio.edit")
                                                            input(ng-model="estudio.grado", type="text", class="form-control", ng-show="estudio.edit")
                                                        div(class="col-md-1")
                                                            label(for="") Titulo
                                                        div(class="col-md-3")
                                                            p(ng-bind="estudio.titulo", ng-hide="estudio.edit")
                                                            input(ng-model="estudio.titulo", type="text", class="form-control", ng-show="estudio.edit")
                                                    div(class="form-group")
                                                        div(class="col-md-1")
                                                            label(for="") País
                                                        div(class="col-md-3")
                                                            p(ng-bind="estudio.pais", ng-hide="estudio.edit")
                                                            div(class="col-md-12", ng-show="estudio.edit")
                                                                select(class="form-control", select2="", data-ng-model="estudio.pais", ng-options="pais.value as pais.label for pais in variablesGlobales.paises")
                                                                    option(value="") Seleccione
                                                        div(class="col-md-1")
                                                            label(for="") Fecha Fin
                                                        div(class="col-md-3")
                                                            p(ng-bind="estudio.fechaFin", ng-hide="estudio.edit")
                                                            input(ng-model="estudio.fechaFin", type="date", class="form-control", ng-show="estudio.edit")
                                                div(class="col-md-2")
                                                    ul(class="panel-controls")
                                                        li()
                                                            a(class="panel-fullscreen", ng-click="estudio.edit = !estudio.edit")
                                                                span(class="fa fa-pencil", ng-hide="estudio.edit")
                                                                span(class="fa fa-save", ng-show="estudio.edit")
                                                        li()
                                                            a(class="panel-remove", ng-click="eliminarEstudio(estudio)")
                                                                span(class="fa fa-times")
                    div(class="form-group")
                        div(class="col-md-12")
                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarEstudio()") Agregar
    div(class="row", id="ExperienciaTrabajo")
        div(class="col-md-12")
            div(class="panel panel-default")
                div(class="panel-heading")
                    h3(class="panel-title") Experiencia del candidato
                div(class="panel-body")
                    div(class="form-group")
                        div(class="col-md-12")
                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarExperiencia()") Agregar
                    div(class="form-group")
                        div(class="col-md-12")
                            div(class="dd", id="nestable")
                                ol(class="dd-list")
                                    li(class="dd-item", data-id="1", ng-repeat="exp in user.experiencia")
                                        div(class="dd-handle clearfix")
                                            div(class="form-group")
                                                div(class="col-md-10")
                                                    div(class="form-group")
                                                        h3(ng-bind="exp.empresa") 
                                                        div(class="col-md-1")
                                                            label(for="") Cargo:
                                                        div(class="col-md-3")
                                                            p(ng-bind="exp.cargo", ng-hide="exp.edit")
                                                            input(ng-model="exp.cargo", type="text", class="form-control", ng-show="exp.edit")
                                                        div(class="col-md-1")
                                                            label(for="") Fecha:
                                                        div(class="col-md-2")
                                                            p(ng-bind="exp.fecha", ng-hide="exp.edit")
                                                            input(ng-model="exp.fecha", type="text", class="form-control", ng-show="exp.edit")
                                                        div(class="col-md-2")
                                                            label(for="") Características:
                                                        div(class="col-md-3")
                                                            p(ng-bind="exp.caracteristicas", ng-hide="exp.edit")
                                                            input(ng-model="exp.caracteristicas", type="text", class="form-control", ng-show="exp.edit")
                                                    div(class="form-group")
                                                        div(class="col-md-1")
                                                            label(for="") Funciones:
                                                        div(class="col-md-3")
                                                            p(ng-bind="exp.funciones", ng-hide="exp.edit")
                                                            input(ng-model="exp.funciones", type="text", class="form-control", ng-show="exp.edit")
                                                        div(class="col-md-1")
                                                            label(for="") Meses:
                                                        div(class="col-md-3")
                                                            p(ng-bind="exp.meses", ng-hide="exp.edit")
                                                            input(ng-model="exp.meses", type="text", class="form-control", ng-show="exp.edit")
                                                div(class="col-md-2")
                                                    ul(class="panel-controls")
                                                        li()
                                                            a(class="panel-fullscreen", ng-click="exp.edit = !exp.edit")
                                                                span(class="fa fa-pencil", ng-hide="exp.edit")
                                                                span(class="fa fa-save", ng-show="exp.edit")
                                                        li()
                                                            a(class="panel-remove", ng-click="eliminarExperiencia(exp)")
                                                                span(class="fa fa-times")
                    div(class="form-group")
                        div(class="col-md-12")
                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarExperiencia()") Agregar
    div(class="row", id="habilidades")
        div(class="col-md-6")
            div(class="panel panel-default")
                div(class="panel-heading")
                    h3(class="panel-title") Carga de archivos
                div(class="panel-body")
                    form(role="form", class="form-horizontal")
                        div(class="form-group")
                            label(class="col-md-2 col-xs-12 control-label") Archivos
                            div(class="col-md-9 col-xs-12")
                                label(class="file-input-wrapper btn btn-default fileinput btn-primary")
                                    span(class="custom-file-control") Buscar archivo
                                    input(type="file", id="file", class="custom-file-input", onchange="angular.element(this).scope().uploadFile(this.files)")
                                span(class="help-block") Tipo de archivo: PDF
                        div(class="form-group")
                            div(class="col-md-2 text-center")
                                span(class="fa fa-file-word-o icoLoadfileok text-center")
                            div(class="col-md-9")
                                h3(class="text-success", ng-show="user.archivoCargado") Archivo Cargado
                                p() Hoja de vida de: {{user.nombreArchivo}}
        div(class="col-md-6")
            div(class="panel panel-default")
                div(class="panel-heading")
                    h3(class="panel-title") Habilidades/Skills
                div(class="panel-body")
                    form(role="form", class="form-horizontal")
                        div(class="form-group")
                            div(class="col-md-12")
                                button(type="button", class="btn btn-primary pull-right") Agregar
                        div(class="dd", id="nestable")
                            ol(class="dd-list")
                                li(class="dd-item", data-id="1", ng-repeat="skill in user.skills")
                                    div(class="dd-handle clearfix")
                                        div(class="form-group")
                                            div(class="col-md-9")
                                                div(class="form-group")
                                                    div(class="col-md-2")
                                                        label(for="") Habilidad
                                                    div(class="col-md-4")
                                                        p(ng-bind="skill.habilidad")
                                                    div(class="col-md-2")
                                                        label(for="") Fecha
                                                    div(class="col-md-4")
                                                        p(ng-bind="skill.fecha")
                                                div(class="form-group")
                                                    div(class="col-md-3")
                                                        label(for="") Verificado
                                                    div(class="col-md-4").
                                                        <p>Si
                                                            <input type="radio" class="icheckbox" checked="checked" ng-model="skill.verificado" value="Si"> No
                                                            <input type="radio" class="icheckbox" ng-model="skill.verificado" value="No">
                                                        </p>
                                            div(class="col-md-3")
                                                ul(class="panel-controls")
                                                    li()
                                                        a(href="#", class="panel-fullscreen")
                                                            span(class="fa fa-pencil")
                                                    li()
                                                        a(href="#", class="panel-remove")
                                                            span(class="fa fa-times")
                            div(class="form-group")
                                div(class="col-md-12")
                                    button(type="button", class="btn btn-primary pull-right") Agregar
        div(class="row", id="habilidades")
            div(class="col-md-6")
                div(class="panel panel-default")
                    div(class="panel-heading")
                        h3(class="panel-title") Cargos a los que se ha postulado
                    div(class="panel-body")
                        form(role="form", class="form-horizontal")
                            div(class="panel panel-default", ng-repeat="postulacion in user.postulaciones")
                                div(class="form-group")
                                    label(class="col-sm-2") Cargo:
                                    div(class="col-md-10")
                                        p(class="form-control-static", ng-bind="postulacion.cargo")
                                div(class="form-group")
                                    label(class="col-sm-2") Empresa:
                                    div(class="col-md-10")
                                        p(class="form-control-static", ng-bind="postulacion.empresa")
                                div(class="form-group")
                                    label(class="col-sm-2") Fecha:
                                    div(class="col-md-10")
                                        p(class="form-control-static", ng-bind="postulacion.fecha")
                                div(class="form-group")
                                    label(class="col-sm-2") Ranking
                                    div(class="col-md-10")
                                        p(class="form-control-static", ng-bind="postulacion.ranking")
                                div(class="form-group")
                                    label(class="col-sm-2") Seleccionado
                                    div(class="col-md-10").
                                        <p>Si
                                            <input type="radio" class="icheckbox" checked="checked" value="Si" ng-model="postulacion.seleccionado" disabled="disabled"/> No
                                            <input type="radio" class="icheckbox" value="No" ng-model="postulacion.seleccionado"  disabled="disabled"/>
                                        </p>
            div(class="col-md-6")
                div(class="panel panel-default")
                    div(class="panel-heading")
                        h3(class="panel-title") Idiomas
                    div(class="panel-body")
                        form(role="form", class="form-horizontal")
                            div(class="dd", id="nestable")
                                ol(class="dd-list")
                                    li(class="dd-item", data-id="1")
                                        div(class="dd-handle clearfix", ng-repeat="idioma in user.idiomas")
                                            div(class="form-group")
                                                div(class="col-md-9")
                                                    div(class="form-group")
                                                        div(class="col-md-3")
                                                            label(for="") Idioma
                                                        div(class="col-md-2")
                                                            p(ng-bind="idioma.nombre")
                                                        div(class="col-md-3")
                                                            label(for="") Nivel
                                                        div(class="col-md-2")
                                                            p(ng-bind="idioma.nivel")
                                                    div(class="form-group")
                                                        div(class="col-md-3")
                                                            label(for="") Hablado
                                                        div(class="col-md-2")
                                                            p(ng-bind="idioma.hablado")
                                                        div(class="col-md-3")
                                                            label(for="") Verificado
                                                        div(class="col-md-4").
                                                            <p>Si
                                                                <input type="radio" class="icheckbox" checked="checked" value="Si" disabled="disabled" ng-model="idioma.verificado"> No
                                                                <input type="radio" class="icheckbox" value="No" disabled="disabled" ng-model="idioma.verificado">
                                                            </p>
                                                div(class="col-md-3")
                                                    ul(class="panel-controls")
                                                        li()
                                                            a(href="#", class="panel-fullscreen")
                                                                span(class="fa fa-pencil")
                                                        li()
                                                            a(href="#", class="panel-remove")
                                                                span(class="fa fa-times")