div.row(style="padding: 10px;")
  div.col-md-12
    p Nuevo Candidato
  div.col-md-6
    input.form-control(type="file", name="image", ngf-select, ng-model="picFile", name="file" )
  div.col-md-6  
    button.btn.btn-success(ng-click="uploadPic(picFile)") Subir
div.row
table(class = "table")
    thead
      tr: th Nombre
          th Datos
          th     
    tbody
      tr(ng-repeat = "candidate in candidates")
        td {{candidate.name}}
        td Datos
        td: button.btn.btn-success(ng-click="showCandidate(candidate)") Ver