//- PAGE TITLE
div(class="page-title")
    h2() Lista de candidatos
        span(class="txt-grises", ng-bind="lista.cantidad")
//- END PAGE TITLE
//- PAGE CONTENT WRAPPER
div(class="page-content-wrap")
    div(class="row")
        div(class="col-md-12")
            div(class="col-md-12")
                div(class="panel panel-default")
                        div(class="panel-body")
                            p() Creación de candidatos.
                            form(class="form-horizontal")
                                div(class="form-group")
                                    div(class="col-md-9")
                                        div(class="input-group")
                                            label(class="file-input-wrapper btn btn-default fileinput btn-primary")
                                                span() Buscar archivo
                                                input(type="file", id="file", accept="image/pdf", class="custom-file-input", onchange="angular.element(this).scope().uploadFile(this.files)")
                                            span(class="help-block") Tipos de archivo: PDF
                                    div(class="col-md-3")
                                        button(ng-click="crearNuevo()", class="btn btn-default btn-block")
                                            i(class="fa fa-user-plus", aria-hidden="true")
                                            span() Crear nuevo candidato
            div(class="col-md-12")
                div(class="panel panel-default")
                    div(class="panel-body")
                        p() Usa la búsqueda para encontrar candidatos. Puede buscar por: nombre, dirección, teléfono o usa la búsqueda avanzada.
                        form(class="form-horizontal")
                            div(class="form-group")
                                div(class="col-md-9")
                                    div(class="input-group")
                                        div(class="input-group-addon")
                                            span(class="fa fa-search")
                                        input(class="form-control", placeholder="¿A quién estás buscando?", type="text", ng-model="search.name")
                                        div(class="input-group-btn")
                                            button(class="btn btn-primary mb-control", data-box="#message-box-success",ng-click="advSearch(Dato.country,status,Dato.skill,Dato.jobFunction,Dato.jobs)", ng-hide="busquedaAvanzada") Buscar
                                div(class="col-md-3")
                                    button(class="btn btn-default btn-block mb-control", ng-click="busquedaAvanzada = !busquedaAvanzada")
                                        span(class="fa fa-plus")
                                        span() Búsqueda Avanzada
                            div(class="form-group", ng-show="busquedaAvanzada")
                                div(class="dd-handle clearfix")
                                    div(class="row row-space")
                                        div(class="col-sm-1") 
                                            label(for="") Pais
                                        div(class="col-sm-3")
                                            input(class="form-control",ng-focus="onFocus('pais',1)",ng-blur="onBlur('pais',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(Dato.country,'CountryName','dataPais')", ng-model="Dato.country")
                                            ul(ng-show="{{ 'pais' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                li(class="list-group-item",ng-click="Dato.country = item.er", ng-repeat="item in dataPais") {{item.er}}
                                        div(class="col-sm-1") 
                                            label(for="") Estatus
                                        div(class="col-sm-3")
                                            select(style="width:100%",class="form-control", select2="", name="estatus", ng-model="status")
                                                option(value="") Seleccione
                                        div(class="col-sm-1") 
                                            label(for="") Skill
                                        div(class="col-sm-3")
                                            input(class="form-control",ng-focus="onFocus('skill',1)",ng-blur="onBlur('skill',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(Dato.skill,'SkillName','dataSkills')", ng-model="Dato.skill")
                                            ul(ng-show="{{ 'skill' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                li(class="list-group-item",ng-click="Dato.skill = item.er", ng-repeat="item in dataSkills") {{item.er}}
                                    div(class="row row-space")
                                        div(class="col-sm-1") 
                                            label(for="") Job/Function
                                        div(class="col-sm-3")
                                            input(class="form-control",ng-focus="onFocus('jobFunction',1)",ng-blur="onBlur('jobFunction',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(Dato.jobFunction,'JobFunctionName','dataJobFuncion')", ng-model="Dato.jobFunction")
                                            ul(ng-show="{{ 'jobFunction' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                li(class="list-group-item",ng-click="Dato.jobFunction = item.er", ng-repeat="item in dataJobFuncion") {{item.er}}
                                        div(class="col-sm-1") 
                                            label(for="") Jobs
                                        div(class="col-sm-3")
                                            input(class="form-control",ng-focus="onFocus('job',1)",ng-blur="onBlur('job',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(Dato.job,'JobName','dataJob')", ng-model="Dato.job")
                                            ul(ng-show="{{ 'job' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                li(class="list-group-item",ng-click="Dato.job = item.er", ng-repeat="item in dataJob") {{item.er}}
                                    div(class="row")
                                        div(class="col-sm-12")
                                            button(class="btn btn-primary mb-control pull-right",ng-click="advSearch(Dato.country,status,Dato.skill,Dato.jobFunction,Dato.jobs)", data-box="#message-box-success") Buscar
        //- CANDIDATOS
        div(class="row")
            div(class="col-sm-12")
                div(class="col-md-3", ng-repeat="candidato in filtered = lista.candidatos | filter : search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit")
                    //- CONTACT ITEM
                    div(class="panel panel-default", ng-click="buscarDetalle(candidato.id)", style="cursor: pointer;")
                        div(class="panel-body profileCandidato")
                            div(class="profile-image")
                                img(src="assets/images/users/avatar.jpg", alt="John Doe")
                            div(class="profile-data")
                                h3(class="profile-data-name") {{candidato.name}}
                                p(class="profile-data-title") Web Developer / Administrator
                        div(class="panel-body")
                            div(class="contact-info")
                                p()
                                    strong() Estatus:
                                    span() En proceso de selección
                                p()
                                    strong() Nº Identificación:
                                    span() #0987654321
                                p()
                                    strong() Teléfono:
                                    span() (+1 57_) 345 67 89
                                p()
                                    strong() E-Mail:
                                    a(href="#") JMarioDoeM@mail.com
        //- FIN CANDIDATOS
        div(class="row")
            div(class="col-sm-12")
                div(class="col-md-9")
                    pagination(class="pagination pagination-sm",page="currentPage", max-size="noOfPages", total-items="totalItems", items-per-page="entryLimit")
                div(class="col-md-3")
                    button(ng-click="crearNuevo()", class="btn btn-default btn-block")
                        i(class="fa fa-user-plus", aria-hidden="true")
                        span() Crear nuevo candidato
        div(class="row")
            div(class="col-md-12") &nbsp;