div.row
    div.col-md.12
        button.btn.btn-info(data-toggle="collapse", data-target="#jobs") Cargos
        div(id="jobs", class="collapse")
            table(class = "table")
                thead
                tr: th Nombre
                    th Empresa
                    th Fecha inicial
                    th Fecha final
                    th Acciones
                tbody
                tr(ng-repeat = "job in jobs")
                    td {{job.jobName}}
                    td {{job.company}}
                    td {{job.start}}
                    td {{job.end}}
                    td: button.btn.btn-success(ng-click="showCandidate(candidate)") Esto
div.row
    div.col-md.12
        button.btn.btn-info(data-toggle="collapse", data-target="#features") Caracteristicas
        div(id="features", class="collapse")
            table(class = "table")
                thead
                tr: th Caracteristica
                    th Tiempo
                    th Acciones
                tbody
                tr(ng-repeat = "feature in features")
                    td {{feature.feature}}
                    td Datos
                    td: button.btn.btn-success(ng-click="showCandidate(candidate)") Esto
div.row
    div.col-md.12
        button.btn.btn-info(data-toggle="collapse", data-target="#schooling") Estudios
        div(id="schooling", class="collapse")
            table(class = "table")
                thead
                tr: th Grado
                    th Institución
                    th Tipo
                    th Acciones    
                tbody
                tr(ng-repeat = "study in schooling")
                    td {{study.degree}}
                    td {{study.name}}
                    td {{study.type}}
                    td: button.btn.btn-success(ng-click="showCandidate(candidate)") Esto
