//- PAGE TITLE
div(class="page-title")
    h2() Candidato:&nbsp;
        span(class="txt-grises", ng-bind="usuario.candidateInfo.name")
//- END PAGE TITLE
//- PAGE CONTENT WRAPPER
div(class="page-content-wrap")
    div(class="row")
        div(class="col-sm-12")
            div(class="row")
                div(class="col-md-12")
                    div(class="alert alert-danger", role="alert", style="display: none")
                        button(type="button", class="close", data-dismiss="alert")
                            span(aria-hidden="true") x
                            span(class="sr-only") Close
                        strong() Importante!
                        span() &nbsp;Aqui se podrán visualizar todos los mensajes de alerta según las acciones que estemos efectuando en la pantalla.
            //- CANDIDATOS
            form(name="formCandidato", novalidate)
                div(class="row")
                    div(class="col-md-3",style="display:none;")
                        //- START PANEL WITH STATIC CONTROLS
                        div(class="panel panel-default")
                            div(class="panel-heading")
                                div(class="form-group")
                                    div(class="col-md-9 col-xs-9")
                                        h3(class="profile-data-name", ng-bind="usuario.candidateInfo.name")
                                        div(class="profile-data-title", ng-bind="usuario.candidateInfo.title")
                                    div(class="col-md-3 col-xs-3")
                                        ul(class="panel-controls")
                                            li()
                                                a(class="panel-edit", ng-click="usuario.edit = !usuario.edit")
                                                    span(class="fa fa-pencil", ng-hide="usuario.edit")
                                                    span(class="fa fa-save", ng-show="usuario.edit", ng-click="actualizarCandidato()")
                            div(class="panel-body")
                                div(class="text-center profilecand", id="user_image")
                                    img(src="assets/images/users/user2.jpg", class="img-thumbnail")
                                br()
                                div(class="form-group")
                                    div(class="col-md-4 col-xs-4")
                                        label(for="") #ID
                                    div(class="col-md-8 col-xs-8")
                                        p(ng-bind="usuario.candidateInfo.id")
                                div(class="form-group")
                                    div(class="col-md-4 col-xs-4")
                                        label(for="") UserName
                                    div(class="col-md-8 col-xs-8")
                                        p(ng-bind="usuario.candidateInfo.username")
                                div(class="form-group")
                                    div(div class="col-md-4 col-xs-4")
                                        label(for="") Email
                                    div(class="col-md-8 col-xs-8")
                                        p()
                                            a(href="#", ng-bind="usuario.candidateInfo.email")
                        //- END PANEL WITH STATIC CONTROLS
                    div(class="col-md-9", ng-class="{'col-md-12': variablesGlobales.expandir,'col-md-9' : !variablesGlobales.expandir}")
                        //- START PANEL WITH STATIC CONTROLS
                        div(class="panel panel-default")
                            div(class="panel-heading")
                                h3(class="panel-title") Ficha del candidato
                                ul(class="panel-controls")
                                    li()
                                        a(class="panel-fullscreen", ng-click="variablesGlobales.expandir= !variablesGlobales.expandir")
                                            span(class="fa fa-expand")
                                    li()
                                        a(class="panel-remove", style="display:none;")
                                            span(class="fa fa-times")
                            div(id="collapse1", class="panel-collapse collapse in")
                                div(class="panel-body")
                                    div(class="form-group clearfix", ng-class="{ 'has-error' : formCandidato.nombre.$invalid && !formCandidato.nombre.$pristine }")   
                                        label(class="col-md-3 control-label") Nombre Completo:
                                        div(class="col-md-9")
                                            input(class="form-control",ng-focus="onFocus('NombreVisible',1)",ng-blur="onBlur('NombreVisible',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(usuario.candidateInfo.name,'Name','dataName')", ng-model="usuario.candidateInfo.name")
                                            ul(ng-show="{{ 'NombreVisible' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                li(class="list-group-item",ng-mousedown="usuario.candidateInfo.name = persona.er", ng-repeat="persona in dataName") {{persona.er}}
                                    div(class="form-group clearfix")
                                        label(class="col-md-3 control-label") Sexo:
                                        //-select(style="height: 36px; padding: 0px 10px !important", class="form-control",data-ng-model="user.sexo", data-ng-options="sexo.value as sexo.label for sexo in variablesGlobales.sexo")
                                        div(class="col-md-9").
                                                <select class="form-control" select2="", name="sexo" data-ng-model="usuario.candidateInfo.sex" >
                                                    <option value="">Seleccione</option>
                                                    <option ng-repeat="c in variablesGlobales.sexo" value="c.value">{{c.label}}</option>
                                                </select>
                                    div(class="form-group clearfix")
                                        label(class="col-md-3 control-label") Estatus:
                                        div(class="col-md-9")
                                            div(class="input-group")
                                                span(class="input-group-btn")
                                                    button(class="btn btn-default", type="button")
                                                        i(class="fa fa-circle status-disponible")
                                                select(class="form-control", select2="", name="estado", data-ng-model="usuario.candidateInfo.status")
                                                    option(value="") Seleccione
                                                    option(ng-repeat="estado in variablesGlobales.estados", value="estado.value") {{estado.label}}
                                    div(class="form-group clearfix")
                                        label(class="col-md-3 control-label") Número de identificación:
                                        div(class="col-md-9")
                                            input(type="text", class="form-control", placeholder="", ng-model="usuario.candidateInfo.idNumber")
                                    div(class="form-group clearfix")
                                        label(class="col-md-3 control-label") Teléfono:
                                        div(class="col-md-9")
                                            input(type="text", class="form-control", placeholder="", ng-model="usuario.candidateInfo.formattedNumber")
                                    div(class="form-group clearfix", ng-class="{ 'has-error' : formCandidato.email.$invalid && !formCandidato.email.$pristine }")
                                        label(class="col-md-3 control-label") E-mail:
                                        div(class="col-md-9")
                                            input(name="email", type="email", class="form-control", placeholder="", ng-model="usuario.candidateInfo.email")
                                    div(class="form-group clearfix")
                                        label(class="col-md-3 control-label") Dirección:
                                        div(class="col-md-9")
                                            input(type="text", class="form-control", placeholder="", ng-model="usuario.candidateInfo.addressLine")                    
                                    div(class="form-group clearfix")
                                        label(class="col-md-3 control-label") Población:
                                        div(class="col-md-9")
                                            input(class="form-control",ng-focus="onFocus('poblacionVisible',1)",ng-blur="onBlur('poblacionVisible',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(usuario.candidateInfo.cityName,'CityName','dataCity')", ng-model="usuario.candidateInfo.cityName")
                                            ul(ng-show="{{ 'poblacionVisible' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                li(class="list-group-item",ng-mousedown="usuario.candidateInfo.cityName = city.er", ng-repeat="city in dataCity") {{city.er}}
                                    div(class="form-group clearfix")
                                        label(class="col-md-3 control-label") Código postal:
                                        div(class="col-md-9")
                                            input(type="text", class="form-control", placeholder="", ng-model="usuario.candidateInfo.postalCode")
                                    div(class="form-group clearfix")
                                        label(class="col-md-3 control-label") País:
                                        div(class="col-md-9")
                                            input(class="form-control",ng-focus="onFocus('paisVisible',1)",ng-blur="onBlur('paisVisible',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(usuario.candidateInfo.country,'CountryName','dataPais')", ng-model="usuario.candidateInfo.country")
                                            ul(ng-show="{{ 'paisVisible' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                li(class="list-group-item",ng-mousedown="usuario.candidateInfo.country = pais.er", ng-repeat="pais in dataPais") {{pais.er}}
                                    div(class="form-group")
                                        div(class="col-md-12")
                                            button(type="button", class="btn btn-primary pull-right", ng-click="formCandidato.$valid && actualizarCandidato()") 
                                                li(class="fa fa-save")
                                                span() Guardar
                        //- END PANEL WITH STATIC CONTROLS
                    div(class="col-md-3")
                        //- START PANEL WITH STATIC CONTROLS
                        div(class="panel panel-default")
                            div(class="panel-heading")
                                h3(class="panel-title") Información Adicional
                            div(class="panel-body")
                                h4(class="txt-redAlert") Esta información no se puede editar
                                div(class="form-group")
                                    div(class="col-md-12")
                                        label(for="") Coordenadas GPS
                                    div(class="col-md-12")
                                        p.
                                            &nbsp; &nbsp;<strong>Long:</strong> {{usuario.candidateInfo.long}}
                                        p.
                                            &nbsp; &nbsp;<strong>Lat:</strong> {{usuario.candidateInfo.lat}}
                                div(class="form-group")
                                    div(class="col-md-4 col-xs-4")
                                        label(for="") Desde
                                    div(class="col-md-8 col-xs-8")
                                        p(ng-bind="usuario.candidateInfo.desde")
                                div(class="form-group")
                                    div(class="col-md-4 col-xs-4")
                                        label(for="") Última Actualización
                                    div(class="col-md-8 col-xs-8")
                                        p(ng-bind="usuario.candidateInfo.ultimaAct")
                        div(class="panel panel-default")
                            div(class="panel-body")
                                div(class="form-group")
                                    div(class="col-md-4 col-xs-4")
                                        label(for="") Edad
                                    div(class="col-md-8 col-xs-8")
                                        p(ng-bind="usuario.candidateInfo.age")
                                div(class="form-group")
                                    div(class="col-md-4 col-xs-4")
                                        label(for="") Grado
                                    div(class="col-md-8 col-xs-8")
                                        p(ng-bind="usuario.candidateInfo.maxDegree")
                        //- END PANEL WITH STATIC CONTROLS
                        div(class="panel panel-default", style="display:none;")
                            div(class="panel-heading")
                                h3(class="panel-title") Categorias del candidato
                            div(class="panel-body")
                                ul(class="list-tags")
                                    li(ng-repeat="categoria in user.categorias")
                                        a(href="#")
                                            span(class="fa fa-tag")
                                            span(ng-bind="categoria")
            //- FIN CANDIDATOS
            div(class="row")    
                div(class="col-sm-12")
                    div(class="panel panel-default nav-tabs-vertical")
                        ul(class="nav nav-tabs")
                            li(style="border-bottom: 1px solid #ddd;", ng-repeat="item in usuario.metaFeatures | orderBy : '-oredr'")
                                a(data-toggle="tab", ng-attr-data-target="{{ '#tab' + item.id }}") {{item.name}}
                            li(style="border-bottom: 1px solid #ddd;")
                                a(data-toggle="tab", data-target="#tabPostulaciones") Cargos a los que se ha postulado
                            li(style="border-bottom: 1px solid #ddd;")
                                a(data-toggle="tab", data-target="#tabSinResolver") Sin resolver
                        div(class="tab-content", style="min-height:100vh; border-left: 1px solid #ddd;")
                            div(id="tab6397", class="tab-pane fade")
                                div(class="panel-body")
                                    div(class="form-group")
                                        div(class="col-md-12")
                                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarEstudio()") 
                                                li(class="fa fa-plus")
                                                span() Agregar
                                    div(class="form-group")
                                        div(class="row", style="display: flex; flex-wrap: wrap;")
                                            div(class="col-md-6", ng-repeat="estudio in usuario.studies")
                                                div(class="dd", id="nestable")
                                                    ol(class="dd-list")
                                                        li(class="dd-item", data-id="1")
                                                            div(class="dd-handle clearfix")
                                                                div(class="form-group")
                                                                    div(class="col-md-9")
                                                                        div(class="form-group row row-space", ng-class="{ 'has-error' : formEstudio.estudio.$invalid && !formEstudio.estudio.$pristine }")
                                                                            div(class="col-md-3")
                                                                                label(for="") Estudio
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="estudio.studyName", ng-hide="estudio.edit")
                                                                                div(style="width:100%", ng-show="estudio.edit")
                                                                                    input(class="form-control",ng-focus="onFocus('estudioNombre',$index)",ng-blur="onBlur('estudioNombre',$index)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(estudio.studyName,'studiesName','dataEstudio')", ng-model="estudio.studyName")
                                                                                    ul(ng-show="{{ 'estudioNombre' + $index }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                                                        li(class="list-group-item",ng-mousedown="estudio.studyName = estudio.er", ng-repeat="estudio in dataEstudio") {{estudio.er}}  
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Grado
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="estudio.methaRelation", ng-hide="estudio.edit")
                                                                                div(style="width:100%", ng-show="estudio.edit")
                                                                                    select(select2="", ng-model="estudio.methaRelation", class="form-control")  
                                                                                        option(value="0") Básico
                                                                                        option(value="1") Bachillerato
                                                                                        option(value="2") Form. Profesional
                                                                                        option(value="3") Licenciatura
                                                                                        option(value="4") Pregrado
                                                                                        option(value="5") Máster
                                                                                        option(value="6") Post grado
                                                                        div(class="form-group row row-space")    
                                                                            div(class="col-md-3")
                                                                                label(for="") Fecha de terminación
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="estudio.fechaTerminacion", ng-hide="estudio.edit")
                                                                                input(ng-model="estudio.fechaTerminacion", type="text", class="form-control", ng-show="estudio.edit")
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") País
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="estudio.pais", ng-hide="estudio.edit")
                                                                                div(style="width:100%", ng-show="estudio.edit")
                                                                                    input(class="form-control",ng-focus="onFocus('estudioPais',$index)",ng-blur="onBlur('estudioPais',$index)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(estudio.pais,'CountryName','dataEstudioPais')", ng-model="estudio.pais")
                                                                                    ul(ng-show="{{ 'estudioPais' + $index }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                                                        li(class="list-group-item",ng-mousedown="estudio.pais = estudio.er", ng-repeat="estudio in dataEstudioPais") {{estudio.er}}
                                                                    div(class="col-md-3")
                                                                        ul(class="panel-controls")
                                                                            li()
                                                                                a(class="panel-fullscreen", ng-click="estudio.edit = !estudio.edit")
                                                                                    span(class="fa fa-pencil", ng-hide="estudio.edit")
                                                                                    span(class="fa fa-save", ng-show="estudio.edit", ng-click="actualizarEstudios(estudio)")
                                                                            li()
                                                                                a(class="panel-remove", ng-click="eliminarEstudio(estudio)")
                                                                                    span(class="fa fa-times")
                                    div(class="form-group")
                                        div(class="col-md-12")
                                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarEstudio()") 
                                                li(class="fa fa-plus")
                                                span() Agregar
                            div(id="tab6366", class="tab-pane fade")
                                div(class="panel-body")
                                    div(class="form-group")
                                        div(class="col-md-12")
                                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarCentroEstudio()") 
                                                li(class="fa fa-plus")
                                                span() Agregar
                                    div(class="form-group")
                                        div(class="row", style="display: flex; flex-wrap: wrap;")
                                            div(class="col-md-6", ng-repeat="estudio in usuario.schooling")
                                                div(class="dd", id="nestable")
                                                    ol(class="dd-list")
                                                        li(class="dd-item", data-id="1")
                                                            div(class="dd-handle clearfix")
                                                                div(class="form-group")
                                                                    div(class="col-md-9")
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Nombre
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="estudio.name", ng-hide="estudio.edit")
                                                                                div(style="width:100%", ng-show="estudio.edit")
                                                                                    input(class="form-control",ng-focus="onFocus('centroNombre',$index)",ng-blur="onBlur('centroNombre',$index)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(estudio.name,'EducationalCenterName','dataEstudioName')", ng-model="estudio.name")
                                                                                    ul(ng-show="{{ 'centroNombre' + $index }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                                                        li(class="list-group-item",ng-mousedown="estudio.name = item.er", ng-repeat="item in dataEstudioName") {{item.er}}
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") País
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="estudio.pais", ng-hide="estudio.edit")
                                                                                div(style="width:100%", ng-show="estudio.edit")
                                                                                    input(class="form-control",ng-focus="onFocus('centroPais',$index)",ng-blur="onBlur('centroPais',$index)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(estudio.pais,'CountryName','dataEstudioPais')", ng-model="estudio.pais")
                                                                                    ul(ng-show="{{ 'centroPais' + $index }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                                                        li(class="list-group-item",ng-mousedown="estudio.pais = item.er", ng-repeat="item in dataEstudioPais") {{item.er}}
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Meta Relación
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="estudio.methaRelation", ng-hide="estudio.edit")
                                                                                div(style="width:100%", ng-show="estudio.edit")
                                                                                    select(select2="", ng-model="estudio.methaRelation", class="form-control")  
                                                                                        option(value="0") Unike                                                                              
                                                                    div(class="col-md-3")
                                                                        ul(class="panel-controls")
                                                                            li()
                                                                                a(class="panel-fullscreen", ng-click="estudio.edit = !estudio.edit")
                                                                                    span(class="fa fa-pencil", ng-hide="estudio.edit")
                                                                                    span(class="fa fa-save", ng-show="estudio.edit", ng-click="actualizarCentroEducativo(estudio)")
                                                                            li()
                                                                                a(class="panel-remove", ng-click="eliminarCentroEstudio(estudio)")
                                                                                    span(class="fa fa-times")
                                    div(class="form-group")
                                        div(class="col-md-12")
                                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarCentroEstudio()") 
                                                li(class="fa fa-plus")
                                                span() Agregar
                            div(id="tab6370", class="tab-pane fade")
                                div(class="panel-body")
                                    div(class="form-group")
                                        div(class="col-md-12")
                                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarCertificado()") 
                                                li(class="fa fa-plus")
                                                span() Agregar
                                    div(class="form-group")
                                        div(class="row", style="display: flex; flex-wrap: wrap;")
                                            div(class="col-md-6", ng-repeat="estudio in usuario.estudiosCertificaciones")
                                                div(class="dd", id="nestable")
                                                    ol(class="dd-list")
                                                        li(class="dd-item", data-id="1")
                                                            div(class="dd-handle clearfix")
                                                                div(class="form-group")
                                                                    div(class="col-md-9")
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Estudio
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="estudio.estudio", ng-hide="estudio.edit")
                                                                                div(style="width:100%", ng-show="estudio.edit")
                                                                                    input(class="form-control",ng-focus="onFocus('certificadoNombre',$index)",ng-blur="onBlur('certificadoNombre',$index)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(estudio.estudio,'CertificateName','dataCertificadoEstudio')", ng-model="estudio.estudio")
                                                                                    ul(ng-show="{{ 'certificadoNombre' + $index }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                                                        li(class="list-group-item",ng-mousedown="estudio.estudio = item.er", ng-repeat="item in dataCertificadoEstudio") {{item.er}}
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") País
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="estudio.pais", ng-hide="estudio.edit")
                                                                                div(style="width:100%", ng-show="estudio.edit")
                                                                                    input(class="form-control",ng-focus="onFocus('certificadoPais',$index)",ng-blur="onBlur('certificadoPais',$index)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(estudio.pais,'CountryName','dataCertificadoPais')", ng-model="estudio.pais")
                                                                                    ul(ng-show="{{ 'certificadoPais' + $index }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                                                        li(class="list-group-item",ng-mousedown="estudio.pais = item.er", ng-repeat="item in dataCertificadoPais") {{item.er}}
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Meta Relación
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="estudio.methaRelation", ng-hide="estudio.edit")
                                                                                div(style="width:100%", ng-show="estudio.edit")
                                                                                    select(select2="", ng-model="estudio.methaRelation", class="form-control")  
                                                                                        option(value="0") Unike
                                                                    div(class="col-md-3")
                                                                        ul(class="panel-controls")
                                                                            li()
                                                                                a(class="panel-fullscreen", ng-click="estudio.edit = !estudio.edit")
                                                                                    span(class="fa fa-pencil", ng-hide="estudio.edit")
                                                                                    span(class="fa fa-save", ng-show="estudio.edit", ng-click="actualizarCertificacion(estudio)")
                                                                            li()
                                                                                a(class="panel-remove", ng-click="eliminarCertificado(estudio)")
                                                                                    span(class="fa fa-times")
                                    div(class="form-group")
                                        div(class="col-md-12")
                                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarCertificado()") 
                                                li(class="fa fa-plus")
                                                span() Agregar
                            div(id="tab6373", class="tab-pane fade")
                                div(class="panel-body")
                                    div(class="form-group")
                                        div(class="col-md-12")
                                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarExperiencia()") 
                                                li(class="fa fa-plus")
                                                span() Agregar
                                    div(class="form-group")
                                        div(class="row", style="display: flex; flex-wrap: wrap;")
                                            div(class="col-md-6", ng-repeat="exp in usuario.jobFunctions")
                                                div(class="dd", id="nestable")
                                                    ol(class="dd-list")
                                                        li(class="dd-item", data-id="1")
                                                            div(class="dd-handle clearfix")
                                                                div(class="form-group")
                                                                    div(class="col-md-9")
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Trabajo
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="exp.name", ng-hide="exp.edit")
                                                                                div(style="width:100%", ng-show="exp.edit")
                                                                                    input(class="form-control",ng-focus="onFocus('experienciaNombreVisible',$index)",ng-blur="onBlur('experienciaNombreVisible',$index)", ng-attr-list="{{ 'experienciaNombre' + $index }}", ng-attr-name="{{ 'experienciaNombre' + $index }}",ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(exp.name,'JobFunctionName','dataExperienciaNombre')", ng-model="exp.name")
                                                                                    ul(ng-show="{{ 'experienciaNombreVisible' + $index }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                                                        li(class="list-group-item",ng-mousedown="exp.name = item.er", ng-repeat="item in dataExperienciaNombre") {{item.er}} 
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Fecha
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="exp.lastDate", ng-hide="exp.edit")
                                                                                input(ng-model="exp.lastDate", type="text", class="form-control", ng-show="exp.edit")
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Meses
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="exp.value", ng-hide="exp.edit")
                                                                                input(ng-model="exp.value", type="text", class="form-control", ng-show="exp.edit")
                                                                    div(class="col-md-3")
                                                                        ul(class="panel-controls")
                                                                            li()
                                                                                a(class="panel-fullscreen", ng-click="exp.edit = !exp.edit")
                                                                                    span(class="fa fa-pencil", ng-hide="exp.edit")
                                                                                    span(class="fa fa-save", ng-show="exp.edit", ng-click="actualizarExperiencia(exp)")
                                                                            li()
                                                                                a(class="panel-remove", ng-click="eliminarExperiencia(exp)")
                                                                                    span(class="fa fa-times")
                                    div(class="form-group")
                                        div(class="col-md-12")
                                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarExperiencia()") 
                                                li(class="fa fa-plus")
                                                span() Agregar
                            div(id="tab6369", class="tab-pane fade")
                                div(class="panel-body")
                                    div(class="form-group")
                                        div(class="col-md-12")
                                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarEmpleador()") 
                                                li(class="fa fa-plus")
                                                span() Agregar
                                    div(class="form-group")
                                        div(class="row", style="display: flex; flex-wrap: wrap;")
                                            div(class="col-md-6", ng-repeat="exp in usuario.jobs")
                                                div(class="dd", id="nestable")
                                                    ol(class="dd-list")
                                                        li(class="dd-item", data-id="1")
                                                            div(class="dd-handle clearfix")
                                                                div(class="form-group")
                                                                    div(class="col-md-9")
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Nombre
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="exp.jobName", ng-hide="exp.edit")
                                                                                input(class="form-control",ng-focus="onFocus('empleadorNombre',$index)",ng-blur="onBlur('empleadorNombre',$index)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(exp.jobName,'EmployerName','dataEmpleadorNombre')", ng-model="exp.jobName", ng-show="exp.edit")
                                                                                ul(ng-show="{{ 'empleadorNombre' + $index }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                                                    li(class="list-group-item",ng-mousedown="exp.jobName = item.er", ng-repeat="item in dataEmpleadorNombre") {{item.er}}
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Fecha
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="exp.lastDate", ng-hide="exp.edit")
                                                                                input(ng-model="exp.lastDate", type="text", class="form-control", ng-show="exp.edit")
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Meses
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="exp.value", ng-hide="exp.edit")
                                                                                input(ng-model="exp.value", type="text", class="form-control", ng-show="exp.edit")
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Meta Relación
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="exp.methaRelation", ng-hide="exp.edit")
                                                                                div(style="width:100%", ng-show="exp.edit")
                                                                                    select(select2="", ng-model="exp.methaRelation", class="form-control")  
                                                                                        option(value="0") Empleado por
                                                                                        option(value="1") Empleado para
                                                                    div(class="col-md-3")
                                                                        ul(class="panel-controls")
                                                                            li()
                                                                                a(class="panel-fullscreen", ng-click="exp.edit = !exp.edit")
                                                                                    span(class="fa fa-pencil", ng-hide="exp.edit")
                                                                                    span(class="fa fa-save", ng-show="exp.edit", ng-click="actualizarEmpleador(exp)")
                                                                            li()
                                                                                a(class="panel-remove", ng-click="eliminarEmpleador(exp)")
                                                                                    span(class="fa fa-times")
                                    div(class="form-group")
                                        div(class="col-md-12")
                                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarEmpleador()") 
                                                li(class="fa fa-plus")
                                                span() Agregar
                            div(id="tab6371", class="tab-pane fade")
                                div(class="panel-body")
                                    div(class="form-group")
                                        div(class="col-md-12")
                                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarIdioma()") 
                                                li(class="fa fa-plus")
                                                span() Agregar
                                    div(class="form-group")
                                        div(class="row", style="display: flex; flex-wrap: wrap;")
                                            div(class="col-md-6", ng-repeat="idioma in usuario.languages")
                                                div(class="dd", id="nestable")
                                                    ol(class="dd-list")
                                                        li(class="dd-item", data-id="1")
                                                            div(class="dd-handle clearfix")
                                                                div(class="form-group")
                                                                    div(class="col-md-9")
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Idioma
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="idioma.lenguageName", ng-hide="idioma.edit")
                                                                                div(style="width:100%", ng-show="idioma.edit")
                                                                                    input(class="form-control",ng-focus="onFocus('idiomaNombre',$index)",ng-blur="onBlur('idiomaNombre',$index)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(idioma.lenguageName,'LanguageName','dataIdioma')", ng-model="idioma.lenguageName")
                                                                                    ul(ng-show="{{ 'idiomaNombre' + $index }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                                                        li(class="list-group-item",ng-mousedown="idioma.lenguageName = item.er", ng-repeat="item in dataIdioma") {{item.er}}
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Meta Relación
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="idioma.methaRelation", ng-hide="idioma.edit")
                                                                                div(style="width:100%", ng-show="idioma.edit")
                                                                                    select(select2="", ng-model="idioma.methaRelation", class="form-control")  
                                                                                        option(value="0") Hablado
                                                                                        option(value="1") Escrito
                                                                                        option(value="2") Leído
                                                                    div(class="col-md-3")
                                                                        ul(class="panel-controls")
                                                                            li()
                                                                                a(class="panel-fullscreen", ng-click="idioma.edit = !idioma.edit")
                                                                                    span(class="fa fa-pencil", ng-hide="idioma.edit")
                                                                                    span(class="fa fa-save", ng-show="idioma.edit", ng-click="actualizarIdioma(idioma)")
                                                                            li()
                                                                                a(class="panel-remove", ng-click="eliminarIdioma(idioma)")
                                                                                    span(class="fa fa-times")
                                    div(class="form-group")
                                        div(class="col-md-12")
                                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarIdioma()") 
                                                li(class="fa fa-plus")
                                                span() Agregar
                            div(id="tab6394", class="tab-pane fade")
                                div(class="panel-body")
                                    div(class="form-group")
                                        div(class="col-md-12")
                                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarSkill()") 
                                                li(class="fa fa-plus")
                                                span() Agregar
                                    div(class="form-group")
                                        div(class="row", style="display: flex; flex-wrap: wrap;")
                                            div(class="col-md-6", ng-repeat="skill in usuario.skills")
                                                div(class="dd", id="nestable")
                                                    ol(class="dd-list")
                                                        li(class="dd-item", data-id="1")
                                                            div(class="dd-handle clearfix")
                                                                div(class="form-group")
                                                                    div(class="col-md-9")
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Habilidad
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="skill.name", ng-hide="skill.edit")
                                                                                div(style="width:100%", ng-show="skill.edit")
                                                                                    input(class="form-control",ng-focus="onFocus('skillNombre',$index)",ng-blur="onBlur('skillNombre',$index)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(skill.name,'SkillName','dataSkill')", ng-model="skill.name")
                                                                                    ul(ng-show="{{ 'skillNombre' + $index }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                                                        li(class="list-group-item",ng-mousedown="skill.name = item.er", ng-repeat="item in dataSkill") {{item.er}}
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Meses
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="skill.value", ng-hide="skill.edit")
                                                                                input(ng-model="skill.value", type="text", class="form-control", ng-show="skill.edit")
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Fecha
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="skill.lastDate", ng-hide="skill.edit")
                                                                                input(ng-model="skill.lastDate", type="text", class="form-control", ng-show="skill.edit")
                                                                    div(class="col-md-3")
                                                                        ul(class="panel-controls")
                                                                            li()
                                                                                a(class="panel-fullscreen", ng-click="skill.edit = !skill.edit")
                                                                                    span(class="fa fa-pencil", ng-hide="skill.edit")
                                                                                    span(class="fa fa-save", ng-show="skill.edit", ng-click="actualizarSkill(skill)")
                                                                            li()
                                                                                a(class="panel-remove", ng-click="eliminarSkill(skill)")
                                                                                    span(class="fa fa-times")
                                    div(class="form-group")
                                        div(class="col-md-12")
                                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarSkill()") 
                                                li(class="fa fa-plus")
                                                span() Agregar 
                            div(id="tab6373", class="tab-pane fade")
                                div(class="panel-body")
                                    div(class="form-group")
                                        div(class="col-md-12")
                                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarCaracteristica()") 
                                                li(class="fa fa-plus")
                                                span() Agregar
                                    div(class="form-group")
                                        div(class="row", style="display: flex; flex-wrap: wrap;")
                                            div(class="col-md-6", ng-repeat="caracteristica in usuario.caracteristicas")
                                                div(class="dd", id="nestable")
                                                    ol(class="dd-list")
                                                        li(class="dd-item", data-id="1")
                                                            div(class="dd-handle clearfix")
                                                                div(class="form-group")
                                                                    div(class="col-md-9")
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Caracteristica
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="caracteristica.nombre", ng-hide="caracteristica.edit")
                                                                                div(style="width:100%", ng-show="caracteristica.edit")
                                                                                    input(class="form-control",ng-focus="onFocus('caracteristicaNombre',$index)",ng-blur="onBlur('caracteristicaNombre',$index)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(caracteristica.nombre,undefined,'dataJob')", ng-model="caracteristica.nombre")
                                                                                    ul(ng-show="{{ 'caracteristicaNombre' + $index }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                                                        li(class="list-group-item",ng-mousedown="caracteristica.nombre = item.er", ng-repeat="item in dataJob") {{item.er}}
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Valor
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="caracteristica.valor", ng-hide="caracteristica.edit")
                                                                                input(ng-model="caracteristica.valor", type="text", class="form-control", ng-show="caracteristica.edit")
                                                                    div(class="col-md-3")
                                                                        ul(class="panel-controls")
                                                                            li()
                                                                                a(class="panel-fullscreen", ng-click="caracteristica.edit = !caracteristica.edit")
                                                                                    span(class="fa fa-pencil", ng-hide="caracteristica.edit")
                                                                                    span(class="fa fa-save", ng-show="caracteristica.edit", ng.click="actualizarCaracteristica(caracteristica)")
                                                                            li()
                                                                                a(class="panel-remove", ng-click="eliminarCaracteristica(caracteristica)")
                                                                                    span(class="fa fa-times")
                                    div(class="form-group")
                                        div(class="col-md-12")
                                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarCaracteristica()") 
                                                li(class="fa fa-plus")
                                                span() Agregar
                            div(id="tab6424", class="tab-pane fade")
                                div(class="panel-body")
                                    div(class="form-group")
                                        div(class="col-md-12")
                                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarCaracteristicaPsicologica()") 
                                                li(class="fa fa-plus")
                                                span() Agregar
                                    div(class="form-group")
                                        div(class="row", style="display: flex; flex-wrap: wrap;")
                                            div(class="col-md-6", ng-repeat="caracteristica in usuario.caracteristicasPsicologicas")
                                                div(class="dd", id="nestable")
                                                    ol(class="dd-list")
                                                        li(class="dd-item", data-id="1")
                                                            div(class="dd-handle clearfix")
                                                                div(class="form-group")
                                                                    div(class="col-md-9")
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Caracteristica
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="caracteristica.nombre", ng-hide="caracteristica.edit")
                                                                                div(style="width:100%", ng-show="caracteristica.edit")
                                                                                    input(class="form-control",ng-focus="onFocus('caracteristicasPsicologicasNombre',$index)",ng-blur="onBlur('caracteristicasPsicologicasNombre',$index)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(caracteristica.nombre,'PsychologicalCharacteristicsName','dataJobFunction')", ng-model="caracteristica.nombre")
                                                                                    ul(ng-show="{{ 'caracteristicasPsicologicasNombre' + $index }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                                                        li(class="list-group-item",ng-mousedown="caracteristica.nombre = item.er", ng-repeat="item in dataJobFunction") {{item.er}}
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Valor
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="caracteristica.valor", ng-hide="caracteristica.edit")
                                                                                input(ng-model="caracteristica.valor", type="text", class="form-control", ng-show="caracteristica.edit")
                                                                    div(class="col-md-3")
                                                                        ul(class="panel-controls")
                                                                            li()
                                                                                a(class="panel-fullscreen", ng-click="caracteristica.edit = !caracteristica.edit")
                                                                                    span(class="fa fa-pencil", ng-hide="caracteristica.edit")
                                                                                    span(class="fa fa-save", ng-show="caracteristica.edit", ng-click="actualizarCaracteristicaPsicologica(caracteristica)")
                                                                            li()
                                                                                a(class="panel-remove", ng-click="eliminarCaracteristicaPsicologica(caracteristica)")
                                                                                    span(class="fa fa-times")
                                    div(class="form-group")
                                        div(class="col-md-12")
                                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarCaracteristicaPsicologica()") 
                                                li(class="fa fa-plus")
                                                span() Agregar
                            div(id="tabPostulaciones", class="tab-pane fade")
                                div(class="panel-body")
                                    div(class="form-group")
                                        div(class="row", style="display: flex; flex-wrap: wrap;")
                                            div(class="col-md-6", ng-repeat="postulacion in usuario.postulaciones")
                                                form(role="form", class="form-horizontal")
                                                    div(class="panel panel-default")
                                                        div(class="form-group")
                                                            label(class="col-sm-2") Cargo:
                                                            div(class="col-md-10")
                                                                p(class="form-control-static", ng-bind="postulacion.job")
                                                        div(class="form-group")
                                                            label(class="col-sm-2") Empresa:
                                                            div(class="col-md-10")
                                                                p(class="form-control-static", ng-bind="postulacion.empleador")
                                                        div(class="form-group")
                                                            label(class="col-sm-2") Fecha:
                                                            div(class="col-md-10")
                                                                p(class="form-control-static", ng-bind="postulacion.fecha")
                                                        div(class="form-group")
                                                            label(class="col-sm-2") Ranking
                                                            div(class="col-md-10")
                                                                p(class="form-control-static", ng-bind="postulacion.ranking")
                                                        div(class="form-group")
                                                            label(class="col-sm-2") Seleccionado
                                                            div(class="col-md-10").
                                                                <p>Si
                                                                    <input type="radio" class="icheckbox" checked="checked" value="Si" ng-model="postulacion.seleccionado" disabled="disabled"/> No
                                                                    <input type="radio" class="icheckbox" value="No" ng-model="postulacion.seleccionado"  disabled="disabled"/>
                                                                </p>
                            div(id="tabSinResolver", class="tab-pane fade")
                                div(class="panel-body")
                                    div(class="form-group")
                                        div(class="row", style="display: flex; flex-wrap: wrap;")
                                            div(class="col-md-6",, ng-repeat="caracteristica in usuario.unresolved")
                                                div(class="dd", id="nestable")
                                                    ol(class="dd-list")
                                                        li(class="dd-item", data-id="1")
                                                            div(class="dd-handle clearfix")
                                                                div(class="form-group")
                                                                    div(class="col-md-9")
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Caracteristica
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="caracteristica.name", ng-hide="caracteristica.edit")
                                                                                div(style="width:100%", ng-show="caracteristica.edit")
                                                                                    input(class="form-control",ng-focus="onFocus('caracteristicasPsicologicasNombre',$index)",ng-blur="onBlur('caracteristicasPsicologicasNombre',$index)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(caracteristica.nombre,'PsychologicalCharacteristicsName','dataJobFunction')", ng-model="caracteristica.nombre")
                                                                                    ul(ng-show="{{ 'caracteristicasPsicologicasNombre' + $index }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                                                        li(class="list-group-item",ng-mousedown="caracteristica.nombre = item.name", ng-repeat="item in dataJobFunction") {{item.name}}
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Valor
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="caracteristica.valor", ng-hide="caracteristica.edit")
                                                                                input(ng-model="caracteristica.valor", type="text", class="form-control", ng-show="caracteristica.edit")
                                                                    div(class="col-md-3")
                                                                        ul(class="panel-controls")
                                                                            li()
                                                                                a(class="panel-fullscreen", ng-click="caracteristica.edit = !caracteristica.edit")
                                                                                    span(class="fa fa-pencil", ng-hide="caracteristica.edit")
                                                                                    span(class="fa fa-save", ng-show="caracteristica.edit", ng-click="actualizarCaracteristicaPsicologica(caracteristica)")
                                                                            li()
                                                                                a(class="panel-remove", ng-click="eliminarCaracteristicaPsicologica(caracteristica)")
                                                                                    span(class="fa fa-times")


           




