//- PAGE TITLE
div(class="page-title")
    h2() {{ 'CANDIDATE' | translate }}:&nbsp;
        span(class="txt-grises", ng-bind="usuario.candidateInfo.name")
//- END PAGE TITLE
//- PAGE CONTENT WRAPPER
div(class="page-content-wrap")
    div(class="row")
        div(class="col-sm-12")
            //- CANDIDATOS
            form(name="formCandidato", novalidate)
                div(class="row")
                    div(class="col-md-9", ng-class="{'col-md-12': variablesGlobales.expandir,'col-md-9' : !variablesGlobales.expandir}")
                        //- START PANEL WITH STATIC CONTROLS
                        div(class="panel panel-default")
                            div(class="panel-heading")
                                h3(class="panel-title") {{ 'CANDIDATE_FILE' | translate }}
                                ul(class="panel-controls")
                                    li()
                                        div(class="col-sm-12", ng-hide="usuario.candidateInfo.id")
                                            input(class="form-control",ng-focus="onFocus('paisCVVisible',1)",ng-blur="onBlur('paisCVVisible',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(usuario.paisCV,'CountryName','dataPaisCV','null');", ng-model="usuario.paisCV")
                                            ul(ng-show="{{ 'paisCVVisible' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                li(class="list-group-item",ng-mousedown="usuario.paisCV = pais.acronym", ng-repeat="pais in dataPaisCV") {{pais.er}}
                                    li()
                                        div(class="input-group", ng-hide="usuario.candidateInfo.id", style="display:none;")
                                            label(class="file-input-wrapper btn btn-default fileinput btn-primary")
                                                i(class="fa fa-upload", aria-hidden="true")
                                                span() cv formato
                                                input(type="file", id="format", accept="image/pdf", class="custom-file-input", onchange="angular.element(this).scope().uploadFormat(this.files)")
                                    li()
                                        div(class="input-group", ng-hide="usuario.candidateInfo.id")
                                            label(class="file-input-wrapper btn btn-default fileinput btn-primary")
                                                i(class="fa fa-upload", aria-hidden="true")
                                                span() {{ 'IMPORT_CV' | translate }}
                                                input(type="file", id="file", accept="image/pdf", class="custom-file-input", onchange="angular.element(this).scope().uploadFile(this.files)")
                            div(id="collapse1", class="panel-collapse collapse in")
                                div(class="panel-body")
                                    div(class="form-group clearfix", ng-class="{ 'has-error' : formCandidato.nombre.$invalid && !formCandidato.nombre.$pristine }")   
                                        label(class="col-md-3 control-label") {{ 'FULL_NAME' | translate }}:
                                        div(class="col-md-9") 
                                            input(class="form-control",ng-focus="onFocus('NombreVisible',1)",ng-blur="onBlur('NombreVisible',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(usuario.candidateInfo.name,'Name','dataName','null')", ng-model="usuario.candidateInfo.name")
                                            ul(ng-show="{{ 'NombreVisible' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                li(class="list-group-item",ng-mousedown="usuario.candidateInfo.name = persona.er", ng-repeat="persona in dataName") {{persona.er}}
                                    div(class="form-group clearfix")
                                        label(class="col-md-3 control-label") {{ 'GENDER' | translate }}:
                                        div(class="col-md-9").
                                                <select class="form-control" select2="", name="sexo" data-ng-model="usuario.candidateInfo.sex" >
                                                    <option value="">{{ 'SELECT' | translate}}</option>
                                                    <option ng-repeat="c in variablesGlobales.sexo" value="{{c.value}}">{{ c.label | translate}}</option>
                                                </select>
                                    div(class="form-group clearfix")
                                        label(class="col-md-3 control-label") {{ 'STATUS' | translate}}:
                                        div(class="col-md-9")
                                                select(class="form-control", select2="", name="estado", data-ng-model="usuario.candidateInfo.status")
                                                    option(value="") {{ 'SELECT' | translate}}
                                                    option(ng-repeat="estado in variablesGlobales.estados", value="{{estado.value}}") {{ estado.label | translate}}
                                    div(class="form-group clearfix")
                                        label(class="col-md-3 control-label") {{ 'IDENTIFICATION_NUMBER' | translate}}:
                                        div(class="col-md-9")
                                            input(type="text", class="form-control", placeholder="", ng-model="usuario.candidateInfo.idNumber")
                                    div(class="form-group clearfix")
                                        label(class="col-md-3 control-label") {{ 'TELEPHONE' | translate}}:
                                        div(class="col-md-9")
                                            input(type="text", class="form-control", placeholder="", ng-model="usuario.candidateInfo.formattedNumber")
                                    div(class="form-group clearfix", ng-class="{ 'has-error' : formCandidato.email.$invalid && !formCandidato.email.$pristine }")
                                        label(class="col-md-3 control-label") {{ 'EMAIL' | translate}}:
                                        div(class="col-md-9")
                                            input(name="email", type="email", class="form-control", placeholder="", ng-model="usuario.candidateInfo.email")
                                    div(class="form-group clearfix")
                                        label(class="col-md-3 control-label") {{ 'ADDRESS' | translate}}:
                                        div(class="col-md-9")
                                            input(type="text", class="form-control", placeholder="", ng-model="usuario.candidateInfo.addressLine")   
                                    div(class="form-group clearfix")
                                        label(class="col-md-3 control-label") {{ 'COUNTRY' | translate}}:
                                        div(class="col-md-9")
                                            input(class="form-control",ng-focus="onFocus('paisVisible',1)",ng-blur="onBlur('paisVisible',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(usuario.candidateInfo.country,'CountryName','dataPais','null'); usuario.candidateInfo.cityName =''; usuario.candidateInfo.postalCode =''", ng-model="usuario.candidateInfo.country")
                                            ul(ng-show="{{ 'paisVisible' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                li(class="list-group-item",ng-mousedown="getAcronym(pais)", ng-repeat="pais in dataPais") {{pais.er}}                 
                                    div(class="form-group clearfix")
                                        label(class="col-md-3 control-label") {{ 'CITY' | translate}}:
                                        div(class="col-md-9")
                                            input(class="form-control",ng-focus="onFocus('poblacionVisible',1)",ng-blur="onBlur('poblacionVisible',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(usuario.candidateInfo.cityName,'CityName','dataCity',usuario.candidateInfo.acronym)", ng-model="usuario.candidateInfo.cityName", ng-disabled="!usuario.candidateInfo.country")
                                            ul(ng-show="{{ 'poblacionVisible' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                li(class="list-group-item",ng-mousedown="usuario.candidateInfo.cityName = city.er", ng-repeat="city in dataCity") {{city.er}}
                                    div(class="form-group clearfix")
                                        label(class="col-md-3 control-label") {{ 'POSTAL_CODE' | translate}}:
                                        div(class="col-md-9")
                                            input(type="text", class="form-control", placeholder="", ng-model="usuario.candidateInfo.postalCode", ng-disabled="!usuario.candidateInfo.country") 
                                    div(class="form-group clearfix")
                                        label(class="col-md-3 control-label") {{ 'BIRTHDATE' | translate}}:
                                        div(class="col-md-9")
                                            adm-dtp(ng-model='usuario.candidateInfo.birthdate', options='{calType: "gregorian", format: "YYYY-MM-DD"}', dtpType="date", autoClose="true", transition="false")
                                    div(class="form-group")
                                        div(class="col-md-12")
                                            button(type="button", class="btn btn-primary pull-right", ng-click="actualizarCandidato()") 
                                                li(class="fa fa-save")
                                                span() {{ 'SAVE' | translate}}
                        //- END PANEL WITH STATIC CONTROLS
                    div(class="col-md-3")
                        //- START PANEL WITH STATIC CONTROLS
                        div(class="panel panel-default")
                            div(class="panel-heading")
                                h3(class="panel-title") {{ 'ADDITIONAL_INFO' | translate}}
                            div(class="panel-body")
                                h4(class="txt-redAlert") {{ 'NO_EDIT_INFO' | translate}}
                                div(class="form-group")
                                    div(class="col-md-12")
                                        label(for="") {{ 'GPS_COORDINATES' | translate}}
                                    div(class="col-md-12")
                                        p.
                                            &nbsp; &nbsp;<strong>{{ 'LONG' | translate}}:</strong> {{usuario.candidateInfo.long}}
                                        p.
                                            &nbsp; &nbsp;<strong>{{ 'LAT' | translate}}:</strong> {{usuario.candidateInfo.lat}}
                                div(class="form-group")
                                    div(class="col-md-4 col-xs-4")
                                        label(for="") {{ 'SINCE' | translate}}
                                    div(class="col-md-8 col-xs-8")
                                        p(ng-bind="usuario.candidateInfo.registrationDate")
                                div(class="form-group")
                                    div(class="col-md-4 col-xs-4")
                                        label(for="") {{ 'LAST_UPDATE' | translate}}
                                    div(class="col-md-8 col-xs-8")
                                        p(ng-bind="usuario.candidateInfo.lastUpdate")
                        div(class="panel panel-default")
                            div(class="panel-body")
                                div(class="form-group")
                                    div(class="col-md-4 col-xs-4")
                                        label(for="") {{ 'AGE' | translate}}
                                    div(class="col-md-8 col-xs-8")
                                        p(ng-bind="usuario.candidateInfo.age")
                                div(class="form-group")
                                    div(class="col-md-4 col-xs-4")
                                        label(for="") {{ 'GRADE' | translate}}
                                    div(class="col-md-8 col-xs-8")
                                        p(ng-bind="usuario.candidateInfo.maxDegree")
                        div(class="panel panel-default", ng-show="vacancy")
                            div(class="panel-body")
                                div(class="form-group")
                                    div(class="col-md-4 col-xs-4")
                                        label(for="") {{ 'VACANCY' | translate}}
                                    div(class="col-md-8 col-xs-8")
                                        p(ng-bind="vacancy.name")
            //- FIN CANDIDATOS
            div(class="row")    
                div(class="col-sm-12")
                    div(class="panel panel-default nav-tabs-vertical")
                        ul(class="nav nav-tabs")
                            li(style="border-bottom: 1px solid #ddd;", ng-repeat="item in usuario.metaFeatures | orderBy : '-oredr'")
                                a(data-toggle="tab", ng-attr-data-target="{{ '#tab' + $index }}") {{item.name | translate}}
                                    span(class="badge", ng-if="(vacancy|filter:{dictionary:item.dictionary}).length > 0") {{(vacancy|filter:{dictionary:item.dictionary}).length}}
                            li(style="border-bottom: 1px solid #ddd;")
                                a(data-toggle="tab", data-target="#tabPostulaciones") {{ 'POSTULATED_JOBS' | translate}}
                            li(style="border-bottom: 1px solid #ddd;")
                                a(data-toggle="tab", data-target="#tabSinResolver") {{ 'UNRESOLVED' | translate}}
                        div(class="tab-content", style="min-height:100vh; border-left: 1px solid #ddd;")
                            div(id="{{ 'tab' + $index }}", class="tab-pane fade", ng-repeat="methafeature in usuario.metaFeatures")                                
                                div(class="panel-body")
                                    div(class="form-group")
                                        div(class="col-md-1") 
                                            label(ng-show="vacancy") {{ 'SCORE' | translate}}:
                                        div(class="col-md-3") 
                                            span(class="badge", ng-show="vacancy") {{getTotal(methafeature.dictionary) | number : 2}}
                                        div(class="col-md-8")
                                            div(class="btn-group pull-right")
                                                button(type="button", class="btn btn-default", ng-click="showUnresolved=true")
                                                    li(class="fa fa-exclamation-triangle")
                                                    span() {{ 'UNRESOLVED' | translate}}
                                                button(type="button", class="btn btn-default ", ng-click="showUnresolved=false") 
                                                    li(class="fa fa-check")
                                                    span() {{ 'RESOLVED' | translate}}
                                                button(type="button", class="btn btn-default", ng-click="agregarFeatureCopy(feature,methafeature)") 
                                                    li(class="fa fa-plus")
                                                    span() {{ 'ADD' | translate}}
                                    div(class="form-group")
                                        div(class="row", style="display: flex; flex-wrap: wrap;")
                                            //- PENDIENTES
                                            div(class="col-md-6", ng-repeat="feature in vacancy | filter:{ dictionary: methafeature.dictionary }",ng-show="showUnresolved==false || showUnresolved==undefined")
                                                div(class="dd", id="nestable")
                                                    ol(class="dd-list")
                                                        li(class="dd-item", data-id="1")
                                                            div(class="dd-handle clearfix dd-alert")
                                                                div(class="form-group")
                                                                    div(class="col-md-9")
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") {{ 'NAME' | translate}}
                                                                            div(class="col-md-9")
                                                                                div(style="width:100%")
                                                                                    input(class="form-control",ng-focus="onFocus('featureName',$index)",ng-blur="onBlur('featureName',$index)", ng-model-options="{ debounce: 500 }", ng-change="autocompletarInput(feature.name,methaFeature.dictionary,'Data','null')", ng-model="feature.name")
                                                                                    ul(ng-show="{{ 'featureName' + $index }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                                                        li(class="list-group-item",ng-mousedown="feature.name = item.er", ng-repeat="item in Data") {{item.er}}
                                                                        div(class="form-group row row-space", ng-hide="methafeature.Class == 'Mesurable'")
                                                                            div(class="col-md-3")
                                                                                label(for="") {{ 'METHARELATION' | translate}}
                                                                            div(class="col-md-9") 
                                                                                div(style="width:100%")
                                                                                    select(select2="", ng-model="feature.levelOrOrder", class="form-control")  
                                                                                        option(value="{{levelOrOrder}}", ng-repeat="relation in usuario.metaRelation | filter:{ dictionary: methafeature.dictionary }") {{relation.name}}
                                                                        div(class="form-group row row-space", ng-hide="methafeature.HasValue == 'false'")
                                                                            div(class="col-md-3")
                                                                                label(for="") {{ 'VALUE' | translate}}
                                                                            div(class="col-md-9")
                                                                                input(ng-model="feature.value", type="text", class="form-control")
                                                                        div(class="form-group row row-space", ng-hide="methafeature.HasEndDate == 'false'")
                                                                            div(class="col-md-3")
                                                                                label(for="") {{ 'DATE' | translate}}
                                                                            div(class="col-md-9")
                                                                                adm-dtp(ng-model='feature.lastDate', options='{calType: "gregorian", format: "YYYY-MM-DD"}', dtpType="date", autoClose="true", transition="false")
                                                                        div(class="form-group row row-space", ng-show="vacancy")
                                                                            div(class="col-md-3")
                                                                                label(for="") {{ 'SCORE' | translate}}
                                                                            div(class="col-md-9")
                                                                                span(class="badge") {{feature.score | number : 2}}
                                                                    div(class="col-md-3")
                                                                        ul(class="panel-controls")
                                                                            li()
                                                                                a(class="panel-fullscreen" , ng-click="createFeature(feature)")
                                                                                    span(class="fa fa-save")
                                            //- INFORMACION
                                            div(class="col-md-6", ng-repeat="feature in usuario.features | filter:{ dictionary: methafeature.dictionary }",ng-show="showUnresolved==false || showUnresolved==undefined")
                                                div(class="dd", id="nestable")
                                                    ol(class="dd-list")
                                                        li(class="dd-item", data-id="1")
                                                            div(class="dd-handle clearfix")
                                                                div(class="form-group")
                                                                    div(class="col-md-9")
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") {{ 'NAME' | translate}}
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="feature.name", ng-hide="feature.edit")
                                                                                div(style="width:100%", ng-show="feature.edit")
                                                                                    input(class="form-control",ng-focus="onFocus('featureName',$index)",ng-blur="onBlur('featureName',$index)", ng-model-options="{ debounce: 500 }", ng-change="autocompletarInput(feature.name,methaFeature.dictionary,'Data','null')", ng-model="feature.name")
                                                                                    ul(ng-show="{{ 'featureName' + $index }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                                                        li(class="list-group-item",ng-mousedown="feature.name = item.er", ng-repeat="item in Data") {{item.er}}
                                                                        div(class="form-group row row-space", ng-hide="methafeature.Class == 'Mesurable'")
                                                                            div(class="col-md-3")
                                                                                label(for="") {{ 'METHARELATION' | translate}}
                                                                            div(class="col-md-9") 
                                                                                p(ng-bind="feature.mrName", ng-hide="feature.edit")
                                                                                div(style="width:100%", ng-show="feature.edit")
                                                                                    select(select2="", ng-model="feature.levelOrOrder", class="form-control")  
                                                                                        option(value="{{levelOrOrder}}", ng-repeat="relation in usuario.metaRelation | filter:{ dictionary: methafeature.dictionary }") {{relation.name}}
                                                                        div(class="form-group row row-space", ng-hide="methafeature.HasValue == 'false'")
                                                                            div(class="col-md-3")
                                                                                label(for="") {{ 'VALUE' | translate}}
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="feature.value", ng-hide="feature.edit")
                                                                                input(ng-model="feature.value", type="text", class="form-control", ng-show="feature.edit")
                                                                        div(class="form-group row row-space", ng-hide="methafeature.HasEndDate == 'false'")
                                                                            div(class="col-md-3")
                                                                                label(for="") {{ 'DATE' | translate}}
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="feature.lastDate", ng-hide="feature.edit")
                                                                                adm-dtp(ng-model='feature.lastDate', ng-show="feature.edit", options='{calType: "gregorian", format: "YYYY-MM-DD"}', dtpType="date", autoClose="true", transition="false")
                                                                        div(class="form-group row row-space", ng-show="vacancy")
                                                                            div(class="col-md-3")
                                                                                label(for="") {{ 'SCORE' | translate}}
                                                                            div(class="col-md-9")
                                                                                span(class="badge") {{(!feature.score ? 0 : feature.score) | number : 2}}
                                                                    div(class="col-md-3")
                                                                        ul(class="panel-controls")
                                                                            li()
                                                                                a(class="panel-fullscreen", ng-hide="feature.edit", ng-click="feature.edit = !feature.edit")
                                                                                    span(class="fa fa-pencil")
                                                                                a(class="panel-fullscreen", ng-show="feature.edit", ng-click="actualizarFeature(feature)")
                                                                                    span(class="fa fa-save")
                                                                            li()
                                                                                a(class="panel-remove", ng-click="deleteFeature(feature)")
                                                                                    span(class="fa fa-times")
                                            //- SIN RESOLVER
                                            div(class="col-md-6", ng-repeat="feature in usuario.unresolved | filter:{ dictionary: methafeature.dictionary }", ng-show="showUnresolved==true")
                                                div(class="dd", id="nestable")
                                                    ol(class="dd-list")
                                                        li(class="dd-item", data-id="1")
                                                            div(class="dd-handle clearfix dd-warning")
                                                                div(class="form-group")
                                                                    div(class="col-md-9")
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Caracteristica
                                                                            div(class="col-md-9")                        
                                                                                input(type="text",ng-model="feature.name",class="form-control")
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Diccionario
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="feature.dictionary")
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") Resolver
                                                                            div(class="col-md-9")
                                                                                div(style="width:100%")
                                                                                    input(class="form-control",ng-focus="onFocus('caracteristicasPsicologicasNombre',$index)",ng-blur="onBlur('caracteristicasPsicologicasNombre',$index)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(feature.nombre,feature.dictionary,'dataUnresolved','null')", ng-model="feature.nombre")
                                                                                    input(type="hidden",ng-model="feature.idNoun")
                                                                                    ul(ng-show="{{ 'caracteristicasPsicologicasNombre' + $index }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                                                        li(class="list-group-item",ng-mousedown="feature.nombre = item.er; feature.idNoun=item.id", ng-repeat="item in dataUnresolved") {{item.er}}
                                                                                
                                                                    div(class="col-md-3")
                                                                        ul(class="panel-controls")
                                                                            li()
                                                                                a(class="panel-fullscreen", ng-click="solveAsAsociation(feature,feature.name,feature.dictionary,feature.id)")
                                                                                    span(class="fa fa-save", ng-click="solveAsAsociation(feature,feature.name,feature.dictionary,feature.id)")
                                                                            li()
                                                                                a(class="panel-remove", ng-click="deleteFeature(feature)")
                                                                                    span(class="fa fa-times")
                                    div(class="form-group")
                                        div(class="col-md-12")
                                            button(type="button", class="btn btn-default pull-right", ng-click="agregarFeatureCopy(feature,methafeature)") 
                                                li(class="fa fa-plus")
                                                span() {{ 'ADD' | translate}}
                            div(id="tabPostulaciones", class="tab-pane fade")
                                div(class="panel-body")
                                    div(class="form-group")
                                        div(class="row", style="display: flex; flex-wrap: wrap;")
                                            div(class="col-md-6", ng-repeat="postulacion in usuario.postulations")
                                                form(role="form", class="form-horizontal")
                                                    div(class="panel panel-default")
                                                        div(class="form-group")
                                                            label(class="col-sm-2") {{ 'JOB' | translate}}:
                                                            div(class="col-md-10")
                                                                p(class="form-control-static", ng-bind="postulacion.jobDescription")
                                                        div(class="form-group")
                                                            label(class="col-sm-2") {{ 'COMPANY' | translate}}:
                                                            div(class="col-md-10")
                                                                p(class="form-control-static", ng-bind="postulacion.employer")
                                                        div(class="form-group")
                                                            label(class="col-sm-2") {{ 'DATE' | translate}}:
                                                            div(class="col-md-10")
                                                                p(class="form-control-static", ng-bind="postulacion.fromDate +'-'+ postulacion.toDate")
                                                        div(class="form-group")
                                                            label(class="col-sm-2") {{ 'RANKING' | translate}}
                                                            div(class="col-md-10")
                                                                p(class="form-control-static", ng-bind="postulacion.ranking")
                                                        div(class="form-group")
                                                            label(class="col-sm-2") {{ 'SELECTED' | translate}} 
                                                            div(class="col-md-10").
                                                                <p>Si
                                                                    <input type="radio" class="icheckbox" checked="checked" value="true" ng-model="postulacion.selected" disabled="disabled"/> No
                                                                    <input type="radio" class="icheckbox" value="false" ng-model="postulacion.selected"  disabled="disabled"/>
                                                                </p>
                            div(id="tabSinResolver", class="tab-pane fade")
                                div(class="panel-body")
                                    div(class="form-group")
                                        div(class="row", style="display: flex; flex-wrap: wrap;")
                                            div(class="col-md-6",, ng-repeat="caracteristica in usuario.unresolved")
                                                div(class="dd", id="nestable")
                                                    ol(class="dd-list")
                                                        li(class="dd-item", data-id="1")
                                                            div(class="dd-handle clearfix")
                                                                div(class="form-group")
                                                                    div(class="col-md-9")
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") {{ 'CHARACTERIST' | translate}}
                                                                            div(class="col-md-9")                        
                                                                                input(type="text",ng-model="caracteristica.name",class="form-control")
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") {{ 'DICTIONARY' | translate}}
                                                                            div(class="col-md-9")
                                                                                p(ng-bind="caracteristica.dictionary")
                                                                        div(class="form-group row row-space")
                                                                            div(class="col-md-3")
                                                                                label(for="") {{ 'RESOLVE' | translate}}
                                                                            div(class="col-md-9")
                                                                                div(style="width:100%")
                                                                                    input(class="form-control",ng-focus="onFocus('caracteristicasPsicologicasNombre',$index)",ng-blur="onBlur('caracteristicasPsicologicasNombre',$index)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(caracteristica.nombre,caracteristica.dictionary,'dataUnresolved','null')", ng-model="caracteristica.nombre")
                                                                                    input(type="hidden",ng-model="caracteristica.idNoun")
                                                                                    ul(ng-show="{{ 'caracteristicasPsicologicasNombre' + $index }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                                                        li(class="list-group-item",ng-mousedown="caracteristica.nombre = item.er; caracteristica.idNoun=item.id", ng-repeat="item in dataUnresolved") {{item.er}}
                                                                                
                                                                    div(class="col-md-3")
                                                                        ul(class="panel-controls")
                                                                            li()
                                                                                a(class="panel-fullscreen", ng-click="solveAsAsociation(caracteristica,caracteristica.name,caracteristica.dictionary,caracteristica.id)")
                                                                                    span(class="fa fa-save", ng-click="solveAsAsociation(caracteristica,caracteristica.name,caracteristica.dictionary,caracteristica.id)")
                                                                            li()
                                                                                a(class="panel-remove", ng-click="deleteFeature(caracteristica)")
                                                                                    span(class="fa fa-times")

div(id="myModalCandidate", class="modal", role="dialog")
    div(class="modal-dialog modal-lg")
        div(class="modal-content") 
            div(class="modal-header")
                button(type="button", class="close", data-dismiss="modal") &times;
                h4(class="modal-title") Candidatos
            div(class="modal-body")
                div(class="row row-space")
                    div(class="col-sm-10")
                        label() Ya existen candidatos con ese mismo nombre. ¿Desea crearlo como uno nuevo o actualizar uno existente?
                    div(class="col-sm-2")
                        button(type="button", class="btn btn-default", ng-click="crearCV()") Crear nuevo
                div(class="row row-space")
                    div(class="col-sm-12")
                        table(class="table table-striped")
                            thead()
                                tr()
                                    td(class="col-md-4") 
                                        h4() {{'CANDIDATE' | translate}}
                                    td(class="col-md-4") 
                                        h4() {{'EMAIL' | translate}} 
                                    td(class="col-md-3") 
                                        h4() Fecha de registro
                                    td(class="col-md-1") 
                            tbody()
                                tr(ng-repeat="user in exist.uploadExist.candidates")
                                    td() {{user.name}}
                                    td() {{user.email}}
                                    td() {{user.addressLine}}
                                    td() 
                                        button(class="btn btn-success btn-condensed",ng-click="actualizarCV(user.candidateId)")
                                            span(class="fa fa-check")
            div(class="modal-footer")
                button(type="button", class="btn btn-default", data-dismiss="modal") {{ 'CLOSE' | translate}} 
        




