//- PAGE TITLE
div(class="page-title")
    h2() Caracterización de vacantes
//- END PAGE TITLE
//- PAGE CONTENT WRAPPER
div(class="page-content-wrap")
    div(class="row")
        div(class="col-md-12")
            //-INICIO
            div(class="row")
                div(class="col-md-12")
                    div(class="panel panel-default")
                        div(class="panel-body")
                            form(class="form-horizontal")
                                div(class="form-group")
                                    div(class="row row-space")
                                        div(class="col-sm-1")
                                            label() Empleador:
                                        div(class="col-sm-3")
                                            select(class="form-control", ng-model="Dato.employer", ng-change="getJobs()")
                                                option(value="") Todos
                                                option(ng-repeat="emp in Dato.employers")(value="{{ emp.id }}") {{ emp.name }}
                                        div(class="col-sm-1")
                                            label() Oficio:
                                        div(class="col-sm-3")
                                            select(class="form-control", ng-model="Dato.job", ng-change="getVacancies()")
                                                option(value="") Todos
                                                option(ng-repeat="job in Dato.jobs")(value="{{ job.id }}") {{ job.name }}
                                        div(class="col-sm-1")
                                            label() Vacante:
                                        div(class="col-sm-3")
                                            select(class="form-control", ng-model="Dato.vacancy")
                                                option(value="") Todos
                                                option(ng-repeat="vac in Dato.vacancies")(value="{{ vac.id }}") {{ vac.name }}
                                    div(class="row row-space")
                                        div(class="col-sm-2")
                                            label() Año de referencia:
                                        div(class="col-sm-2")
                                            select(class="form-control", ng-model="Dato.referenceYear")
                                                option(value="")
                                                option(ng-repeat="y in Dato.possibleReferenceYears", value="{{ y }}") {{ y }} 
                                        div(class="col-sm-2")
                                            label() Años atras:
                                        div(class="col-sm-2")
                                            select(class="form-control", ng-model="Dato.yearsBack")
                                                option(value="")
                                                option(ng-repeat="y in Dato.possibleYearsBack", value="{{ y }}") {{ y }} 
                                        div(class="col-sm-3")
                                            label() Porcentaje ocurrencias(%):
                                        div(class="col-sm-1")
                                            input(class="form-control", type="text", ng-model="Dato.minPercentage")
                                    div(class="row row-space")
                                        div(class="col-sm-6") Total candidatos: {{ methaFeatures[0].totalCount }}
                                        div(class="col-sm-6")
                                            div(class="btn-group pull-right")
                                                button(type="button", class="btn btn-default", ng-click="getMethaFeaturesJobLastVacancy()")
                                                    li(class="fa fa-search")
                                                    span() Consultar Job Last Vacancy
                                                button(type="button", class="btn btn-default", ng-click="calculateFrequencyMatrix()") 
                                                    li(class="fa fa-search")
                                                    span() Calcular
                                                button(type="button", class="btn btn-default", ng-click="getMethaFeatures()") 
                                                    li(class="fa fa-search")
                                                    span() Consultar
                                    div(class="row")
                                        div(class="col-sm-12")
                                            div(class="panel panel-default tabs")
                                                ul(class="nav nav-tabs")
                                                    li(ng-class="{'active' : Dato.tab == 'tab1'}")
                                                        a(data-toggle="tab", data-target="#tab1") Frecuencia
                                                    li(ng-class="{'active' : Dato.tab == 'tab2'}")
                                                        a(data-toggle="tab", data-target="#tab2") Peso
                                                    li(ng-class="{'active' : Dato.tab == 'tab3'}",ng-show="Dato.vacancy != ''")
                                                        a(data-toggle="tab", data-target="#tab3") Peso establecido
                                                    li(ng-class="{'active' : Dato.tab == 'tab4'}")
                                                        a(data-toggle="tab", data-target="#tab4") Probabilidad
                                                div(class="panel-body tab-content", style="min-height:100vh; border-left: 1px solid #ddd;")
                                                    div(id="tab1", class="tab-pane",ng-class="{'active' : Dato.tab == 'tab1'}")
                                                        div(ng-repeat="methaFeatures in methaFeatures |  orderBy : ['methaFeatureOrder', 'name']", class="panel panel-primary")
                                                            div(class="panel-heading") 
                                                                div(class="col-sm-10")
                                                                    h4() 
                                                                        span() {{methaFeatures.name}}
                                                                div(class="col-sm-2")
                                                                    button(type="button", class="btn btn-default pull-right", ng-click="showAddFeature(methaFeatures)", data-toggle="modal", data-target="#modalAddFeature") 
                                                                        li(class="fa fa-plus")
                                                                        span() Agregar
                                                            div(class="panel-body panel-body-table")
                                                                div(class="table-responsive", style="overflow-x: scroll;")
                                                                    table(class="table table-bordered table-condensed")
                                                                        thead(style="text-align: center;")
                                                                            tr(style="text-align: center;")
                                                                                th() Feature
                                                                                th() MR1
                                                                                th() MR2
                                                                                th() MR3
                                                                                th() MR4
                                                                                th() MR5
                                                                                th() MR6
                                                                                th() MR7
                                                                                th() MR8
                                                                                th() MR9
                                                                                th() MR10
                                                                                th() MR11
                                                                                th() MR12
                                                                                th()
                                                                                    span(ng-show="showValue != 'p'") Count
                                                                                    span(ng-show="showValue == 'p'") Probab
                                                                                th() Discarded
                                                                                th() Mandatory
                                                                                th() Top Weight
                                                                                th() MFR WEIGHT
                                                                                th() Point Value
                                                                        tbody()
                                                                            tr(ng-repeat="feature in methaFeatures.features | orderBy : ['name']", ng-show="feature.count >= (methaFeatures.totalCount * Dato.minPercentage / 100)")
                                                                                td() {{ feature.name }}
                                                                                td(ng-class="!feature.isWeightInferred[0] && methaFeatures.levelNames[0] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[0]}}\r\nFrecuencia: {{feature.frequency[0]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[0].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[0]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[0].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[0]}}\r\nPeso Inferido: {{feature.weightInferred[0]}}\r\nProbabilidad: {{feature.probability[0].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[0].toFixed(2)}}") 
                                                                                    span(ng-bind="feature.frequency[0] > 0 ? feature.frequency[0] : ''")
                                                                                td(ng-class="!feature.isWeightInferred[1] && methaFeatures.levelNames[1] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[1]}}\r\nFrecuencia: {{feature.frequency[1]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[1].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[1]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[1].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[1]}}\r\nPeso Inferido: {{feature.weightInferred[1]}}\r\nProbabilidad: {{feature.probability[1].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[1].toFixed(2)}}") 
                                                                                    span(ng-bind="feature.frequency[1] > 0 ? feature.frequency[1] : ''")
                                                                                td(ng-class="!feature.isWeightInferred[2] && methaFeatures.levelNames[2] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[2]}}\r\nFrecuencia: {{feature.frequency[2]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[2].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[2]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[2].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[2]}}\r\nPeso Inferido: {{feature.weightInferred[2]}}\r\nProbabilidad: {{feature.probability[2].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[2].toFixed(2)}}") 
                                                                                    span(ng-bind="feature.frequency[2] > 0 ? feature.frequency[2] : ''")
                                                                                td(ng-class="!feature.isWeightInferred[3] && methaFeatures.levelNames[3] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[3]}}\r\nFrecuencia: {{feature.frequency[3]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[3].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[3]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[3].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[3]}}\r\nPeso Inferido: {{feature.weightInferred[3]}}\r\nProbabilidad: {{feature.probability[3].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[3].toFixed(2)}}") 
                                                                                    span(ng-bind="feature.frequency[3] > 0 ? feature.frequency[3] : ''")
                                                                                td(ng-class="!feature.isWeightInferred[4] && methaFeatures.levelNames[4] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[4]}}\r\nFrecuencia: {{feature.frequency[4]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[4].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[4]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[4].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[4]}}\r\nPeso Inferido: {{feature.weightInferred[4]}}\r\nProbabilidad: {{feature.probability[4].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[4].toFixed(2)}}") 
                                                                                    span(ng-bind="feature.frequency[4] > 0 ? feature.frequency[4] : ''")
                                                                                td(ng-class="!feature.isWeightInferred[5] && methaFeatures.levelNames[5] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[5]}}\r\nFrecuencia: {{feature.frequency[5]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[5].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[5]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[5].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[5]}}\r\nPeso Inferido: {{feature.weightInferred[5]}}\r\nProbabilidad: {{feature.probability[5].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[5].toFixed(2)}}") 
                                                                                    span(ng-bind="feature.frequency[5] > 0 ? feature.frequency[5] : ''")
                                                                                td(ng-class="!feature.isWeightInferred[6] && methaFeatures.levelNames[6] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[6]}}\r\nFrecuencia: {{feature.frequency[6]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[6].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[6]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[6].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[6]}}\r\nPeso Inferido: {{feature.weightInferred[6]}}\r\nProbabilidad: {{feature.probability[6].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[6].toFixed(2)}}") 
                                                                                    span(ng-bind="feature.frequency[6] > 0 ? feature.frequency[6] : ''")
                                                                                td(ng-class="!feature.isWeightInferred[7] && methaFeatures.levelNames[7] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[7]}}\r\nFrecuencia: {{feature.frequency[7]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[7].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[7]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[7].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[7]}}\r\nPeso Inferido: {{feature.weightInferred[7]}}\r\nProbabilidad: {{feature.probability[7].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[7].toFixed(2)}}") 
                                                                                    span(ng-bind="feature.frequency[7] > 0 ? feature.frequency[7] : ''")
                                                                                td(ng-class="!feature.isWeightInferred[8] && methaFeatures.levelNames[8] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[8]}}\r\nFrecuencia: {{feature.frequency[8]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[8].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[8]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[8].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[8]}}\r\nPeso Inferido: {{feature.weightInferred[8]}}\r\nProbabilidad: {{feature.probability[8].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[8].toFixed(2)}}") 
                                                                                    span(ng-bind="feature.frequency[8] > 0 ? feature.frequency[8] : ''")
                                                                                td(ng-class="!feature.isWeightInferred[9] && methaFeatures.levelNames[9] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[9]}}\r\nFrecuencia: {{feature.frequency[9]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[9].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[9]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[9].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[9]}}\r\nPeso Inferido: {{feature.weightInferred[9]}}\r\nProbabilidad: {{feature.probability[9].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[9].toFixed(2)}}") 
                                                                                    span(ng-bind="feature.frequency[9] > 0 ? feature.frequency[9] : ''")
                                                                                td(ng-class="!feature.isWeightInferred[10] && methaFeatures.levelNames[10] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[10]}}\r\nFrecuencia: {{feature.frequency[10]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[10].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[10]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[10].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[10]}}\r\nPeso Inferido: {{feature.weightInferred[10]}}\r\nProbabilidad: {{feature.probability[10].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[10].toFixed(2)}}") 
                                                                                    span(ng-bind="feature.frequency[10] > 0 ? feature.frequency[10] : ''")
                                                                                td(ng-class="!feature.isWeightInferred[11] && methaFeatures.levelNames[11] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[11]}}\r\nFrecuencia: {{feature.frequency[11]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[11].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[11]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[11].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[11]}}\r\nPeso Inferido: {{feature.weightInferred[11]}}\r\nProbabilidad: {{feature.probability[11].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[11].toFixed(2)}}") 
                                                                                    span(ng-bind="feature.frequency[11] > 0 ? feature.frequency[11] : ''")
                                                                                td() 
                                                                                    span(ng-show="showValue != 'p'") {{ feature.count }}
                                                                                    span(ng-show="showValue == 'p'") {{ feature.featureProbability | number:2 }}
                                                                                td() 
                                                                                    input(ng-show="!feature.discarded && Dato.vacancy !== ''", class="btn btn-default", type="button", value="{{ feature.discarded }}", ng-click="showDiscarded(feature, methaFeatures, feature.discarded)", data-toggle="modal", data-target="#modalDiscarded")
                                                                                    span(ng-show="feature.discarded || Dato.vacancy === ''") {{ feature.discarded }}
                                                                                td() {{ feature.mandatory }}
                                                                                td() {{ feature.topWeight }}
                                                                                td() {{ methaFeatures.mfrWeight }}
                                                                                td() {{ methaFeatures.pointValue | number:2 }}
                                                    div(id="tab2", class="tab-pane",ng-class="{'active' : Dato.tab == 'tab2'}")
                                                        div(ng-repeat="methaFeatures in methaFeatures | orderBy : ['methaFeatureOrder', 'name']", class="panel panel-primary")
                                                            div(class="panel-heading") 
                                                                div(class="col-sm-10")
                                                                    h4() 
                                                                        span() {{methaFeatures.name}}
                                                                div(class="col-sm-2")
                                                                    button(type="button", class="btn btn-default pull-right", ng-click="showAddFeature(methaFeatures)", data-toggle="modal", data-target="#modalAddFeature") 
                                                                        li(class="fa fa-plus")
                                                                        span() Agregar
                                                            div(class="panel-body panel-body-table")
                                                                div(class="table-responsive", style="overflow-x: scroll;")
                                                                    table(class="table table-bordered table-condensed")
                                                                        thead()
                                                                            tr()
                                                                                th() Feature
                                                                                th() MR1
                                                                                th() MR2
                                                                                th() MR3
                                                                                th() MR4
                                                                                th() MR5
                                                                                th() MR6
                                                                                th() MR7
                                                                                th() MR8
                                                                                th() MR9
                                                                                th() MR10
                                                                                th() MR11
                                                                                th() MR12
                                                                                th()
                                                                                    span(ng-show="showValue != 'p'") Count
                                                                                    span(ng-show="showValue == 'p'") Probab
                                                                                th() Discarded
                                                                                th() Mandatory
                                                                                th() Top Weight
                                                                                th() MFR WEIGHT
                                                                                th() Point Value
                                                                        tbody()
                                                                            tr(ng-repeat="feature in methaFeatures.features | orderBy : ['name']", ng-show="feature.count >= (methaFeatures.totalCount * Dato.minPercentage / 100)")
                                                                                td() {{ feature.name }}
                                                                                td(ng-class="!feature.isWeightInferred[0] && methaFeatures.levelNames[0] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[0]}}\r\nFrecuencia: {{feature.frequency[0]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[0].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[0]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[0].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[0]}}\r\nPeso Inferido: {{feature.weightInferred[0]}}\r\nProbabilidad: {{feature.probability[0].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[0].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[0] ? (Dato.vacancy == '' ? feature.weightInferred[0] : (feature.isWeightInferred[0] ? feature.weightInferred[0] : feature.weightSetted[0])) : ''") 
                                                                                td(ng-class="!feature.isWeightInferred[1] && methaFeatures.levelNames[1] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[1]}}\r\nFrecuencia: {{feature.frequency[1]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[1].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[1]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[1].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[1]}}\r\nPeso Inferido: {{feature.weightInferred[1]}}\r\nProbabilidad: {{feature.probability[1].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[1].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[1] ? (Dato.vacancy == '' ? feature.weightInferred[1] : (feature.isWeightInferred[1] ? feature.weightInferred[1] : feature.weightSetted[1])) : ''") 
                                                                                td(ng-class="!feature.isWeightInferred[2] && methaFeatures.levelNames[2] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[2]}}\r\nFrecuencia: {{feature.frequency[2]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[2].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[2]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[2].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[2]}}\r\nPeso Inferido: {{feature.weightInferred[2]}}\r\nProbabilidad: {{feature.probability[2].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[2].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[2] ? (Dato.vacancy == '' ? feature.weightInferred[2] : (feature.isWeightInferred[2] ? feature.weightInferred[2] : feature.weightSetted[2])) : ''") 
                                                                                td(ng-class="!feature.isWeightInferred[3] && methaFeatures.levelNames[3] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[3]}}\r\nFrecuencia: {{feature.frequency[3]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[3].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[3]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[3].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[3]}}\r\nPeso Inferido: {{feature.weightInferred[3]}}\r\nProbabilidad: {{feature.probability[3].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[3].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[3] ? (Dato.vacancy == '' ? feature.weightInferred[3] : (feature.isWeightInferred[3] ? feature.weightInferred[3] : feature.weightSetted[3])) : ''") 
                                                                                td(ng-class="!feature.isWeightInferred[4] && methaFeatures.levelNames[4] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[4]}}\r\nFrecuencia: {{feature.frequency[4]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[4].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[4]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[4].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[4]}}\r\nPeso Inferido: {{feature.weightInferred[4]}}\r\nProbabilidad: {{feature.probability[4].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[4].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[4] ? (Dato.vacancy == '' ? feature.weightInferred[4] : (feature.isWeightInferred[4] ? feature.weightInferred[4] : feature.weightSetted[4])) : ''") 
                                                                                td(ng-class="!feature.isWeightInferred[5] && methaFeatures.levelNames[5] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[5]}}\r\nFrecuencia: {{feature.frequency[5]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[5].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[5]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[5].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[5]}}\r\nPeso Inferido: {{feature.weightInferred[5]}}\r\nProbabilidad: {{feature.probability[5].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[5].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[5] ? (Dato.vacancy == '' ? feature.weightInferred[5] : (feature.isWeightInferred[5] ? feature.weightInferred[5] : feature.weightSetted[5])) : ''") 
                                                                                td(ng-class="!feature.isWeightInferred[6] && methaFeatures.levelNames[6] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[6]}}\r\nFrecuencia: {{feature.frequency[6]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[6].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[6]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[6].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[6]}}\r\nPeso Inferido: {{feature.weightInferred[6]}}\r\nProbabilidad: {{feature.probability[6].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[6].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[6] ? (Dato.vacancy == '' ? feature.weightInferred[6] : (feature.isWeightInferred[6] ? feature.weightInferred[6] : feature.weightSetted[6])) : ''") 
                                                                                td(ng-class="!feature.isWeightInferred[7] && methaFeatures.levelNames[7] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[7]}}\r\nFrecuencia: {{feature.frequency[7]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[7].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[7]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[7].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[7]}}\r\nPeso Inferido: {{feature.weightInferred[7]}}\r\nProbabilidad: {{feature.probability[7].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[7].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[7] ? (Dato.vacancy == '' ? feature.weightInferred[7] : (feature.isWeightInferred[7] ? feature.weightInferred[7] : feature.weightSetted[7])) : ''") 
                                                                                td(ng-class="!feature.isWeightInferred[8] && methaFeatures.levelNames[8] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[8]}}\r\nFrecuencia: {{feature.frequency[8]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[8].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[8]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[8].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[8]}}\r\nPeso Inferido: {{feature.weightInferred[8]}}\r\nProbabilidad: {{feature.probability[8].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[8].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[8] ? (Dato.vacancy == '' ? feature.weightInferred[8] : (feature.isWeightInferred[8] ? feature.weightInferred[8] : feature.weightSetted[8])) : ''") 
                                                                                td(ng-class="!feature.isWeightInferred[9] && methaFeatures.levelNames[9] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[9]}}\r\nFrecuencia: {{feature.frequency[9]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[9].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[9]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[9].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[9]}}\r\nPeso Inferido: {{feature.weightInferred[9]}}\r\nProbabilidad: {{feature.probability[9].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[9].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[9] ? (Dato.vacancy == '' ? feature.weightInferred[9] : (feature.isWeightInferred[9] ? feature.weightInferred[9] : feature.weightSetted[9])) : ''") 
                                                                                td(ng-class="!feature.isWeightInferred[10] && methaFeatures.levelNames[10] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[10]}}\r\nFrecuencia: {{feature.frequency[10]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[10].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[10]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[10].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[10]}}\r\nPeso Inferido: {{feature.weightInferred[10]}}\r\nProbabilidad: {{feature.probability[10].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[10].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[10] ? (Dato.vacancy == '' ? feature.weightInferred[10] : (feature.isWeightInferred[10] ? feature.weightInferred[10] : feature.weightSetted[10])) : ''") 
                                                                                td(ng-class="!feature.isWeightInferred[11] && methaFeatures.levelNames[11] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[11]}}\r\nFrecuencia: {{feature.frequency[11]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[11].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[11]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[11].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[11]}}\r\nPeso Inferido: {{feature.weightInferred[11]}}\r\nProbabilidad: {{feature.probability[11].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[11].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[11] ? (Dato.vacancy == '' ? feature.weightInferred[11] : (feature.isWeightInferred[11] ? feature.weightInferred[11] : feature.weightSetted[11])) : ''") 
                                                                                td() 
                                                                                    span(ng-show="showValue != 'p'") {{ feature.count }}
                                                                                    span(ng-show="showValue == 'p'") {{ feature.featureProbability | number:2 }}
                                                                                td() 
                                                                                    input(ng-show="!feature.discarded && Dato.vacancy !== ''", class="btn btn-default", type="button", value="{{ feature.discarded }}", ng-click="showDiscarded(feature, methaFeatures, feature.discarded)", data-toggle="modal", data-target="#modalDiscarded")
                                                                                    span(ng-show="feature.discarded || Dato.vacancy === ''") {{ feature.discarded }}
                                                                                td() {{ feature.mandatory }}
                                                                                td() {{ feature.topWeight }}
                                                                                td() {{ methaFeatures.mfrWeight }}
                                                                                td() {{ methaFeatures.pointValue | number:2 }}
                                                    div(id="tab3", class="tab-pane",ng-class="{'active' : Dato.tab == 'tab3'}")
                                                        div(ng-repeat="methaFeatures in methaFeatures | orderBy : ['methaFeatureOrder', 'name']", class="panel panel-primary")
                                                            div(class="panel-heading") 
                                                                div(class="col-sm-10")
                                                                    h4() 
                                                                        span() {{methaFeatures.name}}
                                                                div(class="col-sm-2")
                                                                    button(type="button", class="btn btn-default pull-right", ng-click="showAddFeature(methaFeatures)", data-toggle="modal", data-target="#modalAddFeature") 
                                                                        li(class="fa fa-plus")
                                                                        span() Agregar
                                                            div(class="panel-body panel-body-table")
                                                                div(class="table-responsive", style="overflow-x: scroll;")
                                                                    table(class="table table-bordered table-condensed")
                                                                        thead()
                                                                            tr()
                                                                                th() Feature
                                                                                th() MR1
                                                                                th() MR2
                                                                                th() MR3
                                                                                th() MR4
                                                                                th() MR5
                                                                                th() MR6
                                                                                th() MR7
                                                                                th() MR8
                                                                                th() MR9
                                                                                th() MR10
                                                                                th() MR11
                                                                                th() MR12
                                                                                th()
                                                                                    span(ng-show="showValue != 'p'") Count
                                                                                    span(ng-show="showValue == 'p'") Probab
                                                                                th() Discarded
                                                                                th() Mandatory
                                                                                th() Top Weight
                                                                                th() MFR WEIGHT
                                                                                th() Point Value
                                                                        tbody()
                                                                            tr(ng-repeat="feature in methaFeatures.features | orderBy : ['name']", ng-show="feature.count >= (methaFeatures.totalCount * Dato.minPercentage / 100)")
                                                                                td() {{ feature.name }}
                                                                                td(ng-class="!feature.isWeightInferred[0] && methaFeatures.levelNames[0] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[0]}}\r\nFrecuencia: {{feature.frequency[0]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[0].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[0]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[0].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[0]}}\r\nPeso Inferido: {{feature.weightInferred[0]}}\r\nProbabilidad: {{feature.probability[0].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[0].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[0] ? (feature.weightSetted[0] > 0 ? feature.weightSetted[0] : '') : ''")
                                                                                    span(ng-show="methaFeatures.levelNames[0]", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature,methaFeatures, 0)") 
                                                                                        i(class="glyphicon glyphicon-edit")
                                                                                td(ng-class="!feature.isWeightInferred[1] && methaFeatures.levelNames[1] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[1]}}\r\nFrecuencia: {{feature.frequency[1]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[1].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[1]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[1].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[1]}}\r\nPeso Inferido: {{feature.weightInferred[1]}}\r\nProbabilidad: {{feature.probability[1].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[1].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[1] ? (feature.weightSetted[1] > 0 ? feature.weightSetted[1] : '') : ''")
                                                                                    span(ng-show="methaFeatures.levelNames[1]", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature,methaFeatures, 1)") 
                                                                                        i(class="glyphicon glyphicon-edit")
                                                                                td(ng-class="!feature.isWeightInferred[2] && methaFeatures.levelNames[2] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[2]}}\r\nFrecuencia: {{feature.frequency[2]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[2].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[2]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[2].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[2]}}\r\nPeso Inferido: {{feature.weightInferred[2]}}\r\nProbabilidad: {{feature.probability[2].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[2].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[2] ? (feature.weightSetted[2] > 0 ? feature.weightSetted[2] : '') : ''")
                                                                                    span(ng-show="methaFeatures.levelNames[2]", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature,methaFeatures, 2)") 
                                                                                        i(class="glyphicon glyphicon-edit")
                                                                                td(ng-class="!feature.isWeightInferred[3] && methaFeatures.levelNames[3] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[3]}}\r\nFrecuencia: {{feature.frequency[3]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[3].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[3]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[3].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[3]}}\r\nPeso Inferido: {{feature.weightInferred[3]}}\r\nProbabilidad: {{feature.probability[3].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[3].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[3] ? (feature.weightSetted[3] > 0 ? feature.weightSetted[3] : '') : ''")
                                                                                    span(ng-show="methaFeatures.levelNames[3]", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature,methaFeatures, 3)") 
                                                                                        i(class="glyphicon glyphicon-edit")
                                                                                td(ng-class="!feature.isWeightInferred[4] && methaFeatures.levelNames[4] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[4]}}\r\nFrecuencia: {{feature.frequency[4]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[4].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[4]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[4].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[4]}}\r\nPeso Inferido: {{feature.weightInferred[4]}}\r\nProbabilidad: {{feature.probability[4].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[4].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[4] ? (feature.weightSetted[4] > 0 ? feature.weightSetted[4] : '') : ''")
                                                                                    span(ng-show="methaFeatures.levelNames[4]", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature,methaFeatures, 4)") 
                                                                                        i(class="glyphicon glyphicon-edit")
                                                                                td(ng-class="!feature.isWeightInferred[5] && methaFeatures.levelNames[5] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[5]}}\r\nFrecuencia: {{feature.frequency[5]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[5].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[5]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[5].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[5]}}\r\nPeso Inferido: {{feature.weightInferred[5]}}\r\nProbabilidad: {{feature.probability[5].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[5].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[5] ? (feature.weightSetted[5] > 0 ? feature.weightSetted[5] : '') : ''")
                                                                                    span(ng-show="methaFeatures.levelNames[5]", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature,methaFeatures, 5)") 
                                                                                        i(class="glyphicon glyphicon-edit")
                                                                                td(ng-class="!feature.isWeightInferred[6] && methaFeatures.levelNames[6] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[6]}}\r\nFrecuencia: {{feature.frequency[6]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[6].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[6]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[6].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[6]}}\r\nPeso Inferido: {{feature.weightInferred[6]}}\r\nProbabilidad: {{feature.probability[6].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[6].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[6] ? (feature.weightSetted[6] > 0 ? feature.weightSetted[6] : '') : ''")
                                                                                    span(ng-show="methaFeatures.levelNames[6]", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature,methaFeatures, 6)") 
                                                                                        i(class="glyphicon glyphicon-edit")
                                                                                td(ng-class="!feature.isWeightInferred[7] && methaFeatures.levelNames[7] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[7]}}\r\nFrecuencia: {{feature.frequency[7]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[7].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[7]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[7].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[7]}}\r\nPeso Inferido: {{feature.weightInferred[7]}}\r\nProbabilidad: {{feature.probability[7].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[7].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[7] ? (feature.weightSetted[7] > 0 ? feature.weightSetted[7] : '') : ''")
                                                                                    span(ng-show="methaFeatures.levelNames[7]", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature,methaFeatures, 7)") 
                                                                                        i(class="glyphicon glyphicon-edit")
                                                                                td(ng-class="!feature.isWeightInferred[8] && methaFeatures.levelNames[8] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[8]}}\r\nFrecuencia: {{feature.frequency[8]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[8].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[8]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[8].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[8]}}\r\nPeso Inferido: {{feature.weightInferred[8]}}\r\nProbabilidad: {{feature.probability[8].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[8].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[8] ? (feature.weightSetted[8] > 0 ? feature.weightSetted[8] : '') : ''")
                                                                                    span(ng-show="methaFeatures.levelNames[8]", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature,methaFeatures, 8)") 
                                                                                        i(class="glyphicon glyphicon-edit")
                                                                                td(ng-class="!feature.isWeightInferred[9] && methaFeatures.levelNames[9] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[9]}}\r\nFrecuencia: {{feature.frequency[9]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[9].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[9]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[9].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[9]}}\r\nPeso Inferido: {{feature.weightInferred[9]}}\r\nProbabilidad: {{feature.probability[9].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[9].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[9] ? (feature.weightSetted[9] > 0 ? feature.weightSetted[9] : '') : ''")
                                                                                    span(ng-show="methaFeatures.levelNames[9]", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature,methaFeatures, 9)") 
                                                                                        i(class="glyphicon glyphicon-edit")
                                                                                td(ng-class="!feature.isWeightInferred[10] && methaFeatures.levelNames[10] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[10]}}\r\nFrecuencia: {{feature.frequency[10]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[10].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[10]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[10].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[10]}}\r\nPeso Inferido: {{feature.weightInferred[10]}}\r\nProbabilidad: {{feature.probability[10].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[10].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[10] ? (feature.weightSetted[10] > 0 ? feature.weightSetted[10] : '') : ''")
                                                                                    span(ng-show="methaFeatures.levelNames[10]", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature,methaFeatures, 10)") 
                                                                                        i(class="glyphicon glyphicon-edit")
                                                                                td(ng-class="!feature.isWeightInferred[11] && methaFeatures.levelNames[11] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[11]}}\r\nFrecuencia: {{feature.frequency[11]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[11].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[11]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[11].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[11]}}\r\nPeso Inferido: {{feature.weightInferred[11]}}\r\nProbabilidad: {{feature.probability[11].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[11].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[11] ? (feature.weightSetted[11] > 0 ? feature.weightSetted[11] : '') : ''")
                                                                                    span(ng-show="methaFeatures.levelNames[11]", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature,methaFeatures, 11)") 
                                                                                        i(class="glyphicon glyphicon-edit")
                                                                                td() 
                                                                                    span(ng-show="showValue != 'p'") {{ feature.count }}
                                                                                    span(ng-show="showValue == 'p'") {{ feature.featureProbability | number:2 }}
                                                                                td() 
                                                                                    input(ng-show="!feature.discarded && Dato.vacancy !== ''", class="btn btn-default", type="button", value="{{ feature.discarded }}", ng-click="showDiscarded(feature, methaFeatures, feature.discarded)", data-toggle="modal", data-target="#modalDiscarded")
                                                                                    span(ng-show="feature.discarded || Dato.vacancy === ''") {{ feature.discarded }}
                                                                                td() {{ feature.mandatory }}
                                                                                td() {{ feature.topWeight }}
                                                                                td() {{ methaFeatures.mfrWeight }}
                                                                                td() {{ methaFeatures.pointValue | number:2 }}
                                                    div(id="tab4", class="tab-pane",ng-class="{'active' : Dato.tab == 'tab4'}")
                                                        div(ng-repeat="methaFeatures in methaFeatures | orderBy : ['methaFeatureOrder', 'name']", class="panel panel-primary")
                                                            div(class="panel-heading") 
                                                                div(class="col-sm-10")
                                                                    h4() 
                                                                        span() {{methaFeatures.name}}
                                                                div(class="col-sm-2")
                                                                    button(type="button", class="btn btn-default pull-right", ng-click="showAddFeature(methaFeatures)", data-toggle="modal", data-target="#modalAddFeature") 
                                                                        li(class="fa fa-plus")
                                                                        span() Agregar
                                                            div(class="panel-body panel-body-table")
                                                                div(class="table-responsive", style="overflow-x: scroll;")
                                                                    table(class="table table-bordered table-condensed")
                                                                        thead()
                                                                            tr()
                                                                                th() Feature
                                                                                th() MR1
                                                                                th() MR2
                                                                                th() MR3
                                                                                th() MR4
                                                                                th() MR5
                                                                                th() MR6
                                                                                th() MR7
                                                                                th() MR8
                                                                                th() MR9
                                                                                th() MR10
                                                                                th() MR11
                                                                                th() MR12
                                                                                th()
                                                                                    span(ng-show="showValue != 'p'") Count
                                                                                    span(ng-show="showValue == 'p'") Probab
                                                                                th() Discarded
                                                                                th() Mandatory
                                                                                th() Top Weight
                                                                                th() MFR WEIGHT
                                                                                th() Point Value
                                                                        tbody()
                                                                            tr(ng-repeat="feature in methaFeatures.features | orderBy : ['name']", ng-show="feature.count >= (methaFeatures.totalCount * Dato.minPercentage / 100)")
                                                                                td() {{ feature.name }}
                                                                                td(ng-class="!feature.isWeightInferred[0] && methaFeatures.levelNames[0] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[0]}}\r\nFrecuencia: {{feature.frequency[0]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[0].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[0]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[0].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[0]}}\r\nPeso Inferido: {{feature.weightInferred[0]}}\r\nProbabilidad: {{feature.probability[0].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[0].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[0] && feature.probability[0] > 0 ? feature.probability[0].toFixed(2) : ''")
                                                                                td(ng-class="!feature.isWeightInferred[1] && methaFeatures.levelNames[1] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[1]}}\r\nFrecuencia: {{feature.frequency[1]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[1].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[1]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[1].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[1]}}\r\nPeso Inferido: {{feature.weightInferred[1]}}\r\nProbabilidad: {{feature.probability[1].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[1].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[1] && feature.probability[1] > 0 ? feature.probability[1].toFixed(2) : ''")
                                                                                td(ng-class="!feature.isWeightInferred[2] && methaFeatures.levelNames[2] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[2]}}\r\nFrecuencia: {{feature.frequency[2]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[2].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[2]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[2].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[2]}}\r\nPeso Inferido: {{feature.weightInferred[2]}}\r\nProbabilidad: {{feature.probability[2].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[2].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[2] && feature.probability[2] > 0 ? feature.probability[2].toFixed(2) : ''")
                                                                                td(ng-class="!feature.isWeightInferred[3] && methaFeatures.levelNames[3] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[3]}}\r\nFrecuencia: {{feature.frequency[3]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[3].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[3]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[3].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[3]}}\r\nPeso Inferido: {{feature.weightInferred[3]}}\r\nProbabilidad: {{feature.probability[3].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[3].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[3] && feature.probability[3] > 0 ? feature.probability[3].toFixed(2) : ''")
                                                                                td(ng-class="!feature.isWeightInferred[4] && methaFeatures.levelNames[4] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[4]}}\r\nFrecuencia: {{feature.frequency[4]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[4].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[4]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[4].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[4]}}\r\nPeso Inferido: {{feature.weightInferred[4]}}\r\nProbabilidad: {{feature.probability[4].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[4].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[4] && feature.probability[4] > 0 ? feature.probability[4].toFixed(2) : ''")
                                                                                td(ng-class="!feature.isWeightInferred[5] && methaFeatures.levelNames[5] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[5]}}\r\nFrecuencia: {{feature.frequency[5]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[5].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[5]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[5].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[5]}}\r\nPeso Inferido: {{feature.weightInferred[5]}}\r\nProbabilidad: {{feature.probability[5].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[5].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[5] && feature.probability[5] > 0 ? feature.probability[5].toFixed(2) : ''")
                                                                                td(ng-class="!feature.isWeightInferred[6] && methaFeatures.levelNames[6] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[6]}}\r\nFrecuencia: {{feature.frequency[6]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[6].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[6]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[6].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[6]}}\r\nPeso Inferido: {{feature.weightInferred[6]}}\r\nProbabilidad: {{feature.probability[6].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[6].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[6] && feature.probability[6] > 0 ? feature.probability[6].toFixed(2) : ''")
                                                                                td(ng-class="!feature.isWeightInferred[7] && methaFeatures.levelNames[7] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[7]}}\r\nFrecuencia: {{feature.frequency[7]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[7].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[7]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[7].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[7]}}\r\nPeso Inferido: {{feature.weightInferred[7]}}\r\nProbabilidad: {{feature.probability[7].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[7].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[7] && feature.probability[7] > 0 ? feature.probability[7].toFixed(2) : ''")
                                                                                td(ng-class="!feature.isWeightInferred[8] && methaFeatures.levelNames[8] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[8]}}\r\nFrecuencia: {{feature.frequency[8]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[8].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[8]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[8].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[8]}}\r\nPeso Inferido: {{feature.weightInferred[8]}}\r\nProbabilidad: {{feature.probability[8].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[8].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[8] && feature.probability[8] > 0 ? feature.probability[8].toFixed(2) : ''")
                                                                                td(ng-class="!feature.isWeightInferred[9] && methaFeatures.levelNames[9] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[9]}}\r\nFrecuencia: {{feature.frequency[9]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[9].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[9]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[9].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[9]}}\r\nPeso Inferido: {{feature.weightInferred[9]}}\r\nProbabilidad: {{feature.probability[9].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[9].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[9] && feature.probability[9] > 0 ? feature.probability[9].toFixed(2) : ''")
                                                                                td(ng-class="!feature.isWeightInferred[10] && methaFeatures.levelNames[10] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[10]}}\r\nFrecuencia: {{feature.frequency[10]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[10].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[10]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[10].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[10]}}\r\nPeso Inferido: {{feature.weightInferred[10]}}\r\nProbabilidad: {{feature.probability[10].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[10].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[10] && feature.probability[10] > 0 ? feature.probability[10].toFixed(2) : ''")
                                                                                td(ng-class="!feature.isWeightInferred[11] && methaFeatures.levelNames[11] && Dato.vacancy !== '' ? 'warning' : ''", title="MR: {{methaFeatures.levelNames[11]}}\r\nFrecuencia: {{feature.frequency[11]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[11].toFixed(2)}}\r\nFrecuencia Preselect: {{feature.frequencyPreselect[11]}}\r\nFrecuencia Preselect Corregida: {{feature.frequencyPreselectCorrected[11].toFixed(2)}}\r\nPeso establecido: {{feature.weightSetted[11]}}\r\nPeso Inferido: {{feature.weightInferred[11]}}\r\nProbabilidad: {{feature.probability[11].toFixed(2)}}\r\nProbabilidad Condicionada: {{feature.conditionalProbability[11].toFixed(2)}}") 
                                                                                    span(ng-bind="methaFeatures.levelNames[11] && feature.probability[11] > 0 ? feature.probability[110].toFixed(2) : ''")
                                                                                td() 
                                                                                    span() {{ feature.featureProbability | number:2 }}
                                                                                td() 
                                                                                    input(ng-show="!feature.discarded && Dato.vacancy !== ''", class="btn btn-default", type="button", value="{{ feature.discarded }}", ng-click="showDiscarded(feature, methaFeatures, feature.discarded)", data-toggle="modal", data-target="#modalDiscarded")
                                                                                    span(ng-show="feature.discarded || Dato.vacancy === ''") {{ feature.discarded }}
                                                                                td() {{ feature.mandatory }}
                                                                                td() {{ feature.topWeight }}
                                                                                td() {{ methaFeatures.mfrWeight }}
                                                                                td() {{ methaFeatures.pointValue | number:2 }}
div(class="modal", id="modalWeight", role="dialog")
    div(role="document", class="modal-dialog")
        div(class="modal-content")
            div(class="modal-header")
                button(type="button", data-dismiss="modal", class="close")
                    span(aria-hidden="true") &times;
                    span(class="sr-only") Close
                h4(class="modal-title", id="weightLabel") Editar peso
            div(class="modal-body")
                div() 
                    label() Metha feature:&nbsp;
                    span() {{ Dato.featureEdit.methaFeature.name }},&nbsp; 
                    label() Feature:&nbsp;
                    span() {{ Dato.featureEdit.name }},&nbsp;
                    label() MR:&nbsp;
                    span() {{ Dato.methaRelationEdit }}
                div(class="form-group")
                    label(for='weight') Peso:
                    input(id="weight", class="form-control", type='text', placeholder='peso', name='weight', ng-model="Dato.weightPopupEdit")
            div(class="modal-footer")
                button(class="btn btn-default", type="button", ng-click="saveWeight()", data-dismiss="modal") Guardar
                button(class="btn btn-default", type="button", data-dismiss="modal") Cancelar
div(class="modal", id="modalAddFeature", role="dialog")
    div(class="modal-dialog", role="document") 
        div(class="modal-content")
            div(class="modal-header")
                button(type="button", data-dismiss="modal", class="close")
                    span(aria-hidden="true") &times;
                    span(class="sr-only") Close
                h4(class="modal-title", id="weightLabel") Agregar característica
            div(class="modal-body")
                div() 
                    label() Metha feature:&nbsp;
                    span() {{ Dato.currentMethaFeatureName }}
                div(class="form-group")
                    label(for='feature') Caracteristica:
                    select(ng-model="Dato.featureToAdd")
                        option(ng-repeat="f in Dato.currentFeatureNames")(value="{{ f.id }}") {{ f.name }}
                div(class="alert alert-danger", ng-show="Dato.addFeatureError") {{ Dato.addFeatureError }}
            div(class="modal-footer")
                button(class="btn btn-default", type="button", ng-click="addFeature()") Guardar
                button(class="btn btn-default", type="button", data-dismiss="modal") Cancelar
div(class="modal", id="modalDiscarded", role="dialog")
    div(class="modal-dialog", role="document")
        div(class="modal-content")
            div(class="modal-header")
                button(type="button", data-dismiss="modal", class="close")
                    span(aria-hidden="true") &times;
                    span(class="sr-only") Close
                h4(class="modal-title") Modificar discarded
            div(class="modal-body")
                div() 
                    label() Metha feature:&nbsp; 
                    span() {{ Dato.featureEdit.methaFeature.name }}, 
                    label() Feature:&nbsp;
                    span() {{ Dato.featureEdit.name }}
                div() Cambiar discarded a: {{ !Dato.featureEdit.discarded }}
                div(class="alert alert-danger",ng-show="Dato.editDiscardedError") {{ Dato.editDiscardedError }}
            div(class="modal-footer")
                button(class="btn btn-default", type="button", ng-click="saveDiscarded()") Confirmar
                button(class="btn btn-default", type="button", data-dismiss="modal") Cancelar
