//- PAGE TITLE
div(class="page-title")
    h2() Candidato:&nbsp;
        span(class="txt-grises", ng-bind="usuario.candidateInfo.name")
//- END PAGE TITLE
//- PAGE CONTENT WRAPPER
div(class="page-content-wrap")
    div(class="row")
        div(class="col-md-12")
            div(class="alert alert-danger", role="alert", style="display: none")
                button(type="button", class="close", data-dismiss="alert")
                    span(aria-hidden="true") x
                    span(class="sr-only") Close
                strong() Importante!
                span() &nbsp;Aqui se podrán visualizar todos los mensajes de alerta según las acciones que estemos efectuando en la pantalla.
    //- CANDIDATOS
    form(name="formCandidato", novalidate)
        div(class="row")
            div(class="col-md-3",style="display:none;")
                //- START PANEL WITH STATIC CONTROLS
                div(class="panel panel-default")
                    div(class="panel-heading")
                        div(class="form-group")
                            div(class="col-md-9 col-xs-9")
                                h3(class="profile-data-name", ng-bind="usuario.candidateInfo.name")
                                div(class="profile-data-title", ng-bind="usuario.candidateInfo.title")
                            div(class="col-md-3 col-xs-3")
                                ul(class="panel-controls")
                                    li()
                                        a(class="panel-edit", ng-click="usuario.edit = !usuario.edit")
                                            span(class="fa fa-pencil", ng-hide="usuario.edit")
                                            span(class="fa fa-save", ng-show="usuario.edit", ng-click="actualizarCandidato()")
                    div(class="panel-body")
                        div(class="text-center profilecand", id="user_image")
                            img(src="assets/images/users/user2.jpg", class="img-thumbnail")
                        br()
                        div(class="form-group")
                            div(class="col-md-4 col-xs-4")
                                label(for="") #ID
                            div(class="col-md-8 col-xs-8")
                                p(ng-bind="usuario.candidateInfo.id")
                        div(class="form-group")
                            div(class="col-md-4 col-xs-4")
                                label(for="") UserName
                            div(class="col-md-8 col-xs-8")
                                p(ng-bind="usuario.candidateInfo.username")
                        div(class="form-group")
                            div(div class="col-md-4 col-xs-4")
                                label(for="") Email
                            div(class="col-md-8 col-xs-8")
                                p()
                                    a(href="#", ng-bind="usuario.candidateInfo.email")
                //- END PANEL WITH STATIC CONTROLS
            div(class="col-md-9", ng-class="{'col-md-12': variablesGlobales.expandir,'col-md-9' : !variablesGlobales.expandir}")
                //- START PANEL WITH STATIC CONTROLS
                div(class="panel panel-default")
                    div(class="panel-heading")
                        h3(class="panel-title") Ficha del candidato
                        ul(class="panel-controls")
                            li()
                                a(class="panel-fullscreen", ng-click="variablesGlobales.expandir= !variablesGlobales.expandir")
                                    span(class="fa fa-expand")
                            li(class="dropdown", style="display:none;")
                                a(href="#", class="dropdown-toggle", data-toggle="dropdown")
                                    span(class="fa fa-cog")
                                ul(class="dropdown-menu")
                                    li()
                                        a(href="#", class="panel-collapse")
                                            span(span class="fa fa-angle-down")
                                            span() Collapse
                                    li()
                                        a(href="#", class="panel-refresh")
                                            span(class="fa fa-refresh")
                                            span() Refresh
                            li()
                                a(class="panel-remove", style="display:none;")
                                    span(class="fa fa-times")
                    div(class="panel-body")
                        div(class="form-group clearfix", ng-class="{ 'has-error' : formCandidato.nombre.$invalid && !formCandidato.nombre.$pristine }")   
                            label(class="col-md-3 control-label") Nombre Completo:
                            div(class="col-md-9")
                                input(name="nombre", type="text", class="form-control", ng-model="usuario.candidateInfo.name", required="") 
                                //-p(ng-show="formCandidato.nombre.$invalid", class="help-block") Nombre requerido. 
                        div(class="form-group clearfix")
                            label(class="col-md-3 control-label") Sexo:
                            //-select(style="height: 36px; padding: 0px 10px !important", class="form-control",data-ng-model="user.sexo", data-ng-options="sexo.value as sexo.label for sexo in variablesGlobales.sexo")
                            div(class="col-md-9").
                                    <select class="form-control" select2="", name="sexo" data-ng-model="usuario.candidateInfo.sex" >
                                        <option value="">Seleccione</option>
                                        <option ng-repeat="c in variablesGlobales.sexo" value="c.value">{{c.label}}</option>
                                    </select>
                        div(class="form-group clearfix")
                            label(class="col-md-3 control-label") Estatus:
                            div(class="col-md-9")
                                div(class="input-group")
                                    span(class="input-group-btn")
                                        button(class="btn btn-default", type="button")
                                            i(class="fa fa-circle status-disponible")
                                    select(class="form-control", select2="", name="estado", data-ng-model="usuario.candidateInfo.status")
                                        option(value="") Seleccione
                                        option(ng-repeat="estado in variablesGlobales.estados", value="estado.value") {{estado.label}}
                        div(class="form-group clearfix")
                            label(class="col-md-3 control-label") Número de identificación:
                            div(class="col-md-9")
                                input(type="text", class="form-control", placeholder="", ng-model="usuario.candidateInfo.idNumber")
                        div(class="form-group clearfix")
                            label(class="col-md-3 control-label") Teléfono:
                            div(class="col-md-9")
                                input(type="text", class="form-control", placeholder="", ng-model="usuario.candidateInfo.formattedNumber")
                        div(class="form-group clearfix", ng-class="{ 'has-error' : formCandidato.email.$invalid && !formCandidato.email.$pristine }")
                            label(class="col-md-3 control-label") E-mail:
                            div(class="col-md-9")
                                input(name="email", type="email", class="form-control", placeholder="", ng-model="usuario.candidateInfo.email")
                        div(class="form-group clearfix")
                            label(class="col-md-3 control-label") Dirección:
                            div(class="col-md-9")
                                input(type="text", class="form-control", placeholder="", ng-model="usuario.candidateInfo.addressLine")                    
                        div(class="form-group clearfix")
                            label(class="col-md-3 control-label") Población:
                            div(class="col-md-9")
                                select(class="form-control", select2="", name="ciudad", data-ng-model="usuario.candidateInfo.poblacion", ng-options="ciudad.value as ciudad.label for ciudad in variablesGlobales.poblacion")
                                        option(value="") Seleccione
                        div(class="form-group clearfix")
                            label(class="col-md-3 control-label") Código postal:
                            div(class="col-md-9")
                                input(type="text", class="form-control", placeholder="", ng-model="usuario.candidateInfo.codigoPostal")
                        div(class="form-group clearfix")
                            label(class="col-md-3 control-label") Pais:
                            div(class="col-md-9")
                                select(class="form-control", select2="", name="pais", data-ng-model="usuario.candidateInfo.pais", ng-options="pais.value as pais.label for pais in variablesGlobales.paises")
                                        option(value="") Seleccione
                        div(class="form-group clearfix")
                            label(class="col-md-3 control-label") Nacionalidad:
                            div(class="col-md-9")
                                select(class="form-control", select2="", name="nacionalidad", data-ng-model="usuario.candidateInfo.nacionalidad", ng-options="nacionalidad.value as nacionalidad.label for nacionalidad in variablesGlobales.paises")
                                        option(value="") Seleccione
                        div(class="form-group")
                            div(class="col-md-12")
                                button(type="button", class="btn btn-primary pull-right", ng-click="actualizarCandidato()") 
                                    li(class="fa fa-save")
                                    span() Guardar
                //- END PANEL WITH STATIC CONTROLS
            div(class="col-md-3")
                //- START PANEL WITH STATIC CONTROLS
                div(class="panel panel-default")
                    div(class="panel-heading")
                        h3(class="panel-title") Información Adicional
                    div(class="panel-body")
                        h4(class="txt-redAlert") Esta información no se puede editar
                        div(class="form-group")
                            div(class="col-md-12")
                                label(for="") Coordenadas GPS
                            div(class="col-md-12")
                                p.
                                    &nbsp; &nbsp;<strong>Long:</strong> {{usuario.candidateInfo.long}}
                                p.
                                    &nbsp; &nbsp;<strong>Lat:</strong> {{usuario.candidateInfo.lat}}
                        div(class="form-group")
                            div(class="col-md-4 col-xs-4")
                                label(for="") Desde
                            div(class="col-md-8 col-xs-8")
                                p(ng-bind="usuario.candidateInfo.desde")
                        div(class="form-group")
                            div(class="col-md-4 col-xs-4")
                                label(for="") Última Actualización
                            div(class="col-md-8 col-xs-8")
                                p(ng-bind="usuario.candidateInfo.ultimaAct")
                //- END PANEL WITH STATIC CONTROLS
                div(class="panel panel-default", style="display:none;")
                    div(class="panel-heading")
                        h3(class="panel-title") Categorias del candidato
                    div(class="panel-body")
                        ul(class="list-tags")
                            li(ng-repeat="categoria in user.categorias")
                                a(href="#")
                                    span(class="fa fa-tag")
                                    span(ng-bind="categoria")
    //- FIN CANDIDATOS
    div(class="row")
        div(class="col-md-6")
            div(class="panel panel-default")
                div(class="panel-heading")
                    h3(class="panel-title") Estudios del candidato
                div(class="panel-body")
                    div(class="form-group")
                        div(class="col-md-12")
                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarEstudio()") Agregar
                    div(class="form-group")
                        div(class="col-md-12")
                            div(class="dd", id="nestable")
                                ol(class="dd-list")
                                    li(class="dd-item", data-id="1", ng-repeat="estudio in usuario.estudios")
                                        div(class="dd-handle clearfix")
                                            div(class="form-group")
                                                div(class="col-md-9")
                                                    div(class="form-group")
                                                        div(class="col-md-3")
                                                            label(for="") Estudio
                                                        div(class="col-md-9")
                                                            p(ng-bind="estudio.estudio", ng-hide="estudio.edit")
                                                            div(style="width:100%", ng-show="estudio.edit")
                                                                select(style="width:100%",class="form-control", select2="", name="estudio", data-ng-model="estudio.estudio", ng-disabled="!estudio.edit")
                                                                    option(value="") Seleccione
                                                                    option(ng-repeat="estudio in variablesGlobales.estudios", value="estudio.value") {{estudio.label}}
                                                    div(class="form-group")
                                                        div(class="col-md-3")
                                                            label(for="") Grado
                                                        div(class="col-md-9")
                                                            p(ng-bind="estudio.grado", ng-hide="estudio.edit")
                                                            div(style="width:100%", ng-show="estudio.edit")
                                                                select(style="width:100%",class="form-control", select2="", name="estudio", data-ng-model="estudio.grado", ng-options="grado.value as grado.label for grado in variablesGlobales.grados", ng-disabled="!estudio.edit")
                                                                    option(value="") Seleccione
                                                    div(class="form-group")    
                                                        div(class="col-md-3")
                                                            label(for="") Fecha de terminación
                                                        div(class="col-md-9")
                                                            p(ng-bind="estudio.fechaTerminacion", ng-hide="estudio.edit")
                                                            input(ng-model="estudio.fechaTerminacion", type="text", class="form-control", ng-show="estudio.edit")
                                                    div(class="form-group")
                                                        div(class="col-md-3")
                                                            label(for="") Pais
                                                        div(class="col-md-9")
                                                            p(ng-bind="estudio.pais", ng-hide="estudio.edit")
                                                            div(style="width:100%", ng-show="estudio.edit")
                                                                select(style="width:100%",class="form-control", select2="", name="pais", data-ng-model="estudio.pais", ng-options="pais.value as pais.label for pais in variablesGlobales.paises", ng-disabled="!estudio.edit")
                                                                    option(value="") Seleccione
                                                div(class="col-md-3")
                                                    ul(class="panel-controls")
                                                        li()
                                                            a(class="panel-fullscreen", ng-click="estudio.edit = !estudio.edit")
                                                                span(class="fa fa-pencil", ng-hide="estudio.edit")
                                                                span(class="fa fa-save", ng-show="estudio.edit")
                                                        li()
                                                            a(class="panel-remove", ng-click="eliminarEstudio(estudio)")
                                                                span(class="fa fa-times")
                    div(class="form-group")
                        div(class="col-md-12")
                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarEstudio()") Agregar
        div(class="col-md-6")
            div(class="panel panel-default")
                div(class="panel-heading")
                    h3(class="panel-title") Centros educativos
                 div(class="panel-body")
                    div(class="form-group")
                        div(class="col-md-12")
                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarCentroEstudio()") Agregar
                    div(class="form-group")
                        div(class="col-md-12")
                            div(class="dd", id="nestable")
                                ol(class="dd-list")
                                    li(class="dd-item", data-id="1", ng-repeat="estudio in usuario.schooling")
                                        div(class="dd-handle clearfix")
                                            div(class="form-group")
                                                div(class="col-md-9")
                                                    div(class="form-group")
                                                        div(class="col-md-3")
                                                            label(for="") Nombre
                                                        div(class="col-md-9")
                                                            p(ng-bind="estudio.jobName", ng-hide="estudio.edit")
                                                            div(style="width:100%", ng-show="estudio.edit")
                                                                select(style="width:100%",class="form-control", select2="", name="centroEducativo", data-ng-model="estudio.jobName", ng-disabled="!estudio.edit")
                                                                    option(value="") Seleccione
                                                                    option(ng-repeat="centro in variablesGlobales.centrosEducativos", value="centro.value") {{centro.label}}
                                                    div(class="form-group")
                                                        div(class="col-md-3")
                                                            label(for="") Pais
                                                        div(class="col-md-9")
                                                            p(ng-bind="estudio.pais", ng-hide="estudio.edit")
                                                            div(style="width:100%", ng-show="estudio.edit")
                                                                select(style="width:100%",class="form-control", select2="", name="pais", data-ng-model="estudio.pais", ng-options="pais.value as pais.label for pais in variablesGlobales.paises", ng-disabled="!estudio.edit")
                                                                    option(value="") Seleccione
                                                div(class="col-md-3")
                                                    ul(class="panel-controls")
                                                        li()
                                                            a(class="panel-fullscreen", ng-click="estudio.edit = !estudio.edit")
                                                                span(class="fa fa-pencil", ng-hide="estudio.edit")
                                                                span(class="fa fa-save", ng-show="estudio.edit")
                                                        li()
                                                            a(class="panel-remove", ng-click="eliminarCentroEstudio(estudio)")
                                                                span(class="fa fa-times")
                    div(class="form-group")
                        div(class="col-md-12")
                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarCentroEstudio()") Agregar
        div(class="col-md-6")
            div(class="panel panel-default")
                div(class="panel-heading")
                    h3(class="panel-title") Certificaciones
                 div(class="panel-body")
                    div(class="form-group")
                        div(class="col-md-12")
                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarCertificado()") Agregar
                    div(class="form-group")
                        div(class="col-md-12")
                            div(class="dd", id="nestable")
                                ol(class="dd-list")
                                    li(class="dd-item", data-id="1", ng-repeat="estudio in usuario.estudiosCertificaciones")
                                        div(class="dd-handle clearfix")
                                            div(class="form-group")
                                                div(class="col-md-9")
                                                    div(class="form-group")
                                                        div(class="col-md-3")
                                                            label(for="") Estudio
                                                        div(class="col-md-9")
                                                            p(ng-bind="estudio.estudio", ng-hide="estudio.edit")
                                                            div(style="width:100%", ng-show="estudio.edit")
                                                                select(style="width:100%",class="form-control", select2="", name="estudio", data-ng-model="estudio.estudio", ng-disabled="!estudio.edit")
                                                                    option(value="") Seleccione
                                                                    option(ng-repeat="estudio in variablesGlobales.estudios", value="estudio.value") {{estudio.label}}
                                                    div(class="form-group")
                                                        div(class="col-md-3")
                                                            label(for="") Pais
                                                        div(class="col-md-9")
                                                            p(ng-bind="estudio.pais", ng-hide="estudio.edit")
                                                            div(style="width:100%", ng-show="estudio.edit")
                                                                select(style="width:100%",class="form-control", select2="", name="pais", data-ng-model="estudio.pais", ng-options="pais.value as pais.label for pais in variablesGlobales.paises", ng-disabled="!estudio.edit")
                                                                    option(value="") Seleccione
                                                div(class="col-md-3")
                                                    ul(class="panel-controls")
                                                        li()
                                                            a(class="panel-fullscreen", ng-click="estudio.edit = !estudio.edit")
                                                                span(class="fa fa-pencil", ng-hide="estudio.edit")
                                                                span(class="fa fa-save", ng-show="estudio.edit")
                                                        li()
                                                            a(class="panel-remove", ng-click="eliminarCertificado(estudio)")
                                                                span(class="fa fa-times")
                    div(class="form-group")
                        div(class="col-md-12")
                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarCertificado()") Agregar
        //-div(class="row")
        div(class="col-md-6")
            div(class="panel panel-default")
                div(class="panel-heading")
                    h3(class="panel-title") Experiencias
                 div(class="panel-body")
                    div(class="form-group")
                        div(class="col-md-12")
                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarExperiencia()") Agregar
                    div(class="form-group")
                        div(class="col-md-12")
                            div(class="dd", id="nestable")
                                ol(class="dd-list")
                                    li(class="dd-item", data-id="1", ng-repeat="exp in usuario.experiencia")
                                        div(class="dd-handle clearfix")
                                            div(class="form-group")
                                                div(class="col-md-9")
                                                    div(class="form-group")
                                                        div(class="col-md-3")
                                                            label(for="") Trabajo
                                                        div(class="col-md-9")
                                                            p(ng-bind="exp.job", ng-hide="exp.edit")
                                                            div(style="width:100%", ng-show="exp.edit")
                                                                select(style="width:100%",class="form-control", select2="", name="job", data-ng-model="exp.job", ng-disabled="!exp.edit")
                                                                    option(value="") Seleccione
                                                                    option(ng-repeat="job in variablesGlobales.jobs", value="job.value") {{job.label}}
                                                    div(class="form-group")
                                                        div(class="col-md-3")
                                                            label(for="") Fecha
                                                        div(class="col-md-9")
                                                            p(ng-bind="exp.fecha", ng-hide="exp.edit")
                                                            input(ng-model="exp.fecha", type="text", class="form-control", ng-show="exp.edit")
                                                    div(class="form-group")
                                                        div(class="col-md-3")
                                                            label(for="") Meses
                                                        div(class="col-md-9")
                                                            p(ng-bind="exp.meses", ng-hide="exp.edit")
                                                            input(ng-model="exp.meses", type="text", class="form-control", ng-show="exp.edit")
                                                div(class="col-md-3")
                                                    ul(class="panel-controls")
                                                        li()
                                                            a(class="panel-fullscreen", ng-click="exp.edit = !exp.edit")
                                                                span(class="fa fa-pencil", ng-hide="exp.edit")
                                                                span(class="fa fa-save", ng-show="exp.edit")
                                                        li()
                                                            a(class="panel-remove", ng-click="eliminarExperiencia(exp)")
                                                                span(class="fa fa-times")
                    div(class="form-group")
                        div(class="col-md-12")
                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarExperiencia()") Agregar
        div(class="col-md-6")
            div(class="panel panel-default")
                div(class="panel-heading")
                    h3(class="panel-title") Empleadores
                div(class="panel-body")
                    div(class="form-group")
                        div(class="col-md-12")
                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarEmpleador()") Agregar
                    div(class="form-group")
                        div(class="col-md-12")
                            div(class="dd", id="nestable")
                                ol(class="dd-list")
                                    li(class="dd-item", data-id="1", ng-repeat="exp in usuario.jobs")
                                        div(class="dd-handle clearfix")
                                            div(class="form-group")
                                                div(class="col-md-9")
                                                    div(class="form-group")
                                                        div(class="col-md-3")
                                                            label(for="") Nombre
                                                        div(class="col-md-9")
                                                            p(ng-bind="exp.jobName", ng-hide="exp.edit")
                                                            input(ng-model="exp.jobName", type="text", class="form-control", ng-show="exp.edit")
                                                    div(class="form-group")
                                                        div(class="col-md-3")
                                                            label(for="") Fecha
                                                        div(class="col-md-9")
                                                            p(ng-bind="exp.fecha", ng-hide="exp.edit")
                                                            input(ng-model="exp.fecha", type="text", class="form-control", ng-show="exp.edit")
                                                    div(class="form-group")
                                                        div(class="col-md-3")
                                                            label(for="") Meses
                                                        div(class="col-md-9")
                                                            p(ng-bind="exp.meses", ng-hide="exp.edit")
                                                            input(ng-model="exp.meses", type="text", class="form-control", ng-show="exp.edit")
                                                div(class="col-md-3")
                                                    ul(class="panel-controls")
                                                        li()
                                                            a(class="panel-fullscreen", ng-click="exp.edit = !exp.edit")
                                                                span(class="fa fa-pencil", ng-hide="exp.edit")
                                                                span(class="fa fa-save", ng-show="exp.edit")
                                                        li()
                                                            a(class="panel-remove", ng-click="eliminarEmpleador(exp)")
                                                                span(class="fa fa-times")
                    div(class="form-group")
                        div(class="col-md-12")
                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarEmpleador()") Agregar
        //-div(class="row")
        div(class="col-md-6")
            div(class="panel panel-default")
                div(class="panel-heading")
                    h3(class="panel-title") Idiomas
                div(class="panel-body")
                    div(class="form-group")
                        div(class="col-md-12")
                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarIdioma()") Agregar
                    div(class="form-group")
                        div(class="col-md-12")
                            div(class="dd", id="nestable")
                                ol(class="dd-list")
                                    li(class="dd-item", data-id="1")
                                        div(class="dd-handle clearfix", ng-repeat="idioma in usuario.idiomas")
                                            div(class="form-group")
                                                div(class="col-md-9")
                                                    div(class="form-group")
                                                        div(class="col-md-3")
                                                            label(for="") Idioma
                                                        div(class="col-md-9")
                                                            p(ng-bind="idioma.nombre", ng-hide="idioma.edit")
                                                            div(style="width:100%", ng-show="idioma.edit")
                                                                select(style="width:100%",class="form-control", select2="", name="idioma", data-ng-model="idioma.idioma", ng-options="idioma.value as idioma.label for idioma in variablesGlobales.idiomas", ng-disabled="!idioma.edit")
                                                                    option(value="") Seleccione
                                                    div(class="form-group")
                                                        div(class="col-md-3")
                                                            label(for="") Leido
                                                        div(class="col-md-9")
                                                            p(ng-bind="idioma.leido", ng-hide="idioma.edit")
                                                            input(ng-model="idioma.leido", type="text", class="form-control", ng-show="idioma.edit")
                                                    div(class="form-group")
                                                        div(class="col-md-3")
                                                            label(for="") Hablado
                                                        div(class="col-md-9")
                                                            p(ng-bind="idioma.hablado", ng-hide="idioma.edit")
                                                            input(ng-model="idioma.hablado", type="text", class="form-control", ng-show="idioma.edit")
                                                    div(class="form-group")
                                                        div(class="col-md-3")
                                                            label(for="") Escrito
                                                        div(class="col-md-9")
                                                            p(ng-bind="idioma.escrito", ng-hide="idioma.edit")
                                                            input(ng-model="idioma.escrito", type="text", class="form-control", ng-show="idioma.edit")
                                                div(class="col-md-3")
                                                    ul(class="panel-controls")
                                                        li()
                                                            a(class="panel-fullscreen", ng-click="idioma.edit = !idioma.edit")
                                                                span(class="fa fa-pencil", ng-hide="idioma.edit")
                                                                span(class="fa fa-save", ng-show="idioma.edit")
                                                        li()
                                                            a(class="panel-remove", ng-click="eliminarIdioma(idioma)")
                                                                span(class="fa fa-times")
                    div(class="form-group")
                        div(class="col-md-12")
                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarIdioma()") Agregar
        div(class="col-md-6")
            div(class="panel panel-default")
                div(class="panel-heading")
                    h3(class="panel-title") Habilidades/Skills
                div(class="panel-body")
                    form(role="form", class="form-horizontal")
                        div(class="form-group")
                            div(class="col-md-12")
                                button(type="button", class="btn btn-primary pull-right", ng-click="agregarSkill()") Agregar
                        div(class="dd", id="nestable")
                            ol(class="dd-list")
                                li(class="dd-item", data-id="1", ng-repeat="skill in usuario.skills")
                                    div(class="dd-handle clearfix")
                                        div(class="form-group")
                                            div(class="col-md-9")
                                                div(class="form-group")
                                                    div(class="col-md-3")
                                                        label(for="") Habilidad
                                                    div(class="col-md-9")
                                                        p(ng-bind="skill.name", ng-hide="skill.edit")
                                                        div(style="width:100%", ng-show="skill.edit")
                                                                select(style="width:100%",class="form-control", select2="", name="skill", data-ng-model="skill.name", ng-disabled="!skill.edit")
                                                                    option(value="") Seleccione
                                                                    option(ng-repeat="skill in variablesGlobales.skills", value="skill.value") {{skill.label}}
                                                div(class="form-group")
                                                    div(class="col-md-3")
                                                        label(for="") Meses
                                                    div(class="col-md-9")
                                                        p(ng-bind="skill.meses", ng-hide="skill.edit")
                                                        input(ng-model="skill.meses", type="text", class="form-control", ng-show="skill.edit")
                                                div(class="form-group")
                                                    div(class="col-md-3")
                                                        label(for="") Fecha
                                                    div(class="col-md-9")
                                                        p(ng-bind="skill.fechaFin", ng-hide="skill.edit")
                                                        input(ng-model="skill.fechaFin", type="text", class="form-control", ng-show="skill.edit")
                                            div(class="col-md-3")
                                                ul(class="panel-controls")
                                                    li()
                                                        a(class="panel-fullscreen", ng-click="skill.edit = !skill.edit")
                                                            span(class="fa fa-pencil", ng-hide="skill.edit")
                                                            span(class="fa fa-save", ng-show="skill.edit")
                                                    li()
                                                        a(class="panel-remove", ng-click="eliminarSkill(skill)")
                                                            span(class="fa fa-times")
                    div(class="form-group")
                        div(class="col-md-12")
                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarSkill()") Agregar
        //-div(class="row")
        div(class="col-md-6")
            div(class="panel panel-default")
                div(class="panel-heading")
                    h3(class="panel-title") Características 
                div(class="panel-body")
                    div(class="form-group")
                        div(class="col-md-12")
                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarCaracteristica()") Agregar
                    div(class="form-group")
                        div(class="col-md-12")
                            div(class="dd", id="nestable")
                                ol(class="dd-list")
                                    li(class="dd-item", data-id="1")
                                        div(class="dd-handle clearfix", ng-repeat="caracteristica in usuario.caracteristicas")
                                            div(class="form-group")
                                                div(class="col-md-9")
                                                    div(class="form-group")
                                                        div(class="col-md-3")
                                                            label(for="") Caracteristica
                                                        div(class="col-md-9")
                                                            p(ng-bind="caracteristica.nombre", ng-hide="caracteristica.edit")
                                                            div(style="width:100%", ng-show="caracteristica.edit")
                                                                select(style="width:100%",class="form-control", select2="", name="caracteristica", data-ng-model="caracteristica.nombre", ng-disabled="!caracteristica.edit")
                                                                    option(value="") Seleccione
                                                                    option(ng-repeat="caracteristica in variablesGlobales.caracteristicas", value="caracteristica.value") {{caracteristica.label}}
                                                    div(class="form-group")
                                                        div(class="col-md-3")
                                                            label(for="") Valor
                                                        div(class="col-md-9")
                                                            p(ng-bind="caracteristica.valor", ng-hide="caracteristica.edit")
                                                            input(ng-model="caracteristica.valor", type="text", class="form-control", ng-show="caracteristica.edit")
                                                div(class="col-md-3")
                                                    ul(class="panel-controls")
                                                        li()
                                                            a(class="panel-fullscreen", ng-click="caracteristica.edit = !caracteristica.edit")
                                                                span(class="fa fa-pencil", ng-hide="caracteristica.edit")
                                                                span(class="fa fa-save", ng-show="caracteristica.edit")
                                                        li()
                                                            a(class="panel-remove", ng-click="eliminarCaracteristica(caracteristica)")
                                                                span(class="fa fa-times")
                    div(class="form-group")
                        div(class="col-md-12")
                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarCaracteristica()") Agregar
        div(class="col-md-6")
            div(class="panel panel-default")
                div(class="panel-heading")
                    h3(class="panel-title") Características psicológicas
                div(class="panel-body")
                    div(class="form-group")
                        div(class="col-md-12")
                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarCaracteristicaPsicologica()") Agregar
                    div(class="form-group")
                        div(class="col-md-12")
                            div(class="dd", id="nestable")
                                ol(class="dd-list")
                                    li(class="dd-item", data-id="1")
                                        div(class="dd-handle clearfix", ng-repeat="caracteristica in usuario.caracteristicasPsicologicas")
                                            div(class="form-group")
                                                div(class="col-md-9")
                                                    div(class="form-group")
                                                        div(class="col-md-3")
                                                            label(for="") Caracteristica
                                                        div(class="col-md-9")
                                                            p(ng-bind="caracteristica.nombre", ng-hide="caracteristica.edit")
                                                            div(style="width:100%", ng-show="caracteristica.edit")
                                                                select(style="width:100%",class="form-control", select2="", name="caracteristica", data-ng-model="caracteristica.nombre", ng-disabled="!caracteristica.edit")
                                                                    option(value="") Seleccione
                                                                    option(ng-repeat="caracteristica in variablesGlobales.caracteristicasPsicologicas", value="caracteristica.value") {{caracteristica.label}}
                                                    div(class="form-group")
                                                        div(class="col-md-3")
                                                            label(for="") Valor
                                                        div(class="col-md-9")
                                                            p(ng-bind="caracteristica.valor", ng-hide="caracteristica.edit")
                                                            input(ng-model="caracteristica.valor", type="text", class="form-control", ng-show="caracteristica.edit")
                                                div(class="col-md-3")
                                                    ul(class="panel-controls")
                                                        li()
                                                            a(class="panel-fullscreen", ng-click="caracteristica.edit = !caracteristica.edit")
                                                                span(class="fa fa-pencil", ng-hide="caracteristica.edit")
                                                                span(class="fa fa-save", ng-show="caracteristica.edit")
                                                        li()
                                                            a(class="panel-remove", ng-click="eliminarCaracteristicaPsicologica(caracteristica)")
                                                                span(class="fa fa-times")
                    div(class="form-group")
                        div(class="col-md-12")
                            button(type="button", class="btn btn-primary pull-right", ng-click="agregarCaracteristicaPsicologica()") Agregar
        //-div(class="row")
        div(class="col-md-6")
                div(class="panel panel-default")
                    div(class="panel-heading")
                        h3(class="panel-title") Cargos a los que se ha postulado
                    div(class="panel-body")
                        form(role="form", class="form-horizontal")
                            div(class="panel panel-default", ng-repeat="postulacion in usuario.postulaciones")
                                div(class="form-group")
                                    label(class="col-sm-2") Cargo:
                                    div(class="col-md-10")
                                        p(class="form-control-static", ng-bind="postulacion.job")
                                div(class="form-group")
                                    label(class="col-sm-2") Empresa:
                                    div(class="col-md-10")
                                        p(class="form-control-static", ng-bind="postulacion.empleador")
                                div(class="form-group")
                                    label(class="col-sm-2") Fecha:
                                    div(class="col-md-10")
                                        p(class="form-control-static", ng-bind="postulacion.fecha")
                                div(class="form-group")
                                    label(class="col-sm-2") Ranking
                                    div(class="col-md-10")
                                        p(class="form-control-static", ng-bind="postulacion.ranking")
                                div(class="form-group")
                                    label(class="col-sm-2") Seleccionado
                                    div(class="col-md-10").
                                        <p>Si
                                            <input type="radio" class="icheckbox" checked="checked" value="Si" ng-model="postulacion.seleccionado" disabled="disabled"/> No
                                            <input type="radio" class="icheckbox" value="No" ng-model="postulacion.seleccionado"  disabled="disabled"/>
                                        </p>