div.row
    div.col-md-12
        br
        div.col-md-4(style="float: left")
            span Empleador 
            select(ng-model="employer", ng-change="getJobs()")
                option(ng-repeat="emp in employers")(value="{{ emp.code }}") {{ emp.name }}
                option(value="") Todos
        div.col-md-4
            span Oficio 
            select(ng-model="job", ng-change="getVacancies()")
                option(ng-repeat="job in jobs")(value="{{ job.id }}") {{ job.name }}
                option(value="") Todos
        div.col-md-4
            span Vacante 
            select(ng-model="vacancy")
                option(ng-repeat="v in vacancies")(value="{{ v.code }}") {{ v.name }}
                option(value="") Todos
        br
        br
        div.col-md-4
            span Años 
            select(ng-model="years")
                each val in [1, 2, 3, 4, 5]
                    option(value=val)= val
        div.col-md-4(ng-show="false")
            span Candidatos 
            select(ng-model="candidateType")
                option(value="C") Concurridos
                option(value="P") Preseleccionados
                option(value="S") Seleccionados
        div.col-md-4
            span Filtro por porcentaje de ocurrencias (%) 
            input(type="text", name="", style="width:50px", ng-model="minPercentage", ng-change="updateVisible()")
        div.col-md-12
            br
            input(type="button", value="Consultar", style="float:right", ng-click="getMethaFeatures()")
        div.col-md-12
            input(type="button", value="Frecuencia", ng-click="setShowValue('f')") 
            input(type="button", value="Peso", ng-click="setShowValue('w')") 
            input(type="button", value="Probabilidad", ng-click="setShowValue('p')") 
            br
            br
        br
        br        
        table(class = "table", border = 1)
            thead
                tr: th 
                    th
                    th(colspan = "12") Metha-Relación
                    th(colspan = 3)
                tr: th Metha Feature
                    th Feature
                    th MR1
                    th MR2
                    th MR3
                    th MR4
                    th MR5
                    th MR6
                    th MR7
                    th MR8
                    th MR9
                    th MR10
                    th MR11
                    th MR12
                    th Count
                    th Discarded
                    th Mandatory
             tbody
                 tr(ng-repeat="feature in featuresModified | orderBy : ['methaFeature', 'name']", ng-show="feature.visible") 
                    td {{ feature.methaFeature }}
                    td {{ feature.name }}

                    td(title="MR: {{feature.levelNames[0]}}\r\nFrecuencia: {{ feature.frequency[0] | number:0 }}\r\nFrecuencia Corregida: {{ feature.frequencyCorrected[0] | number:2 }}\r\nPeso: {{ feature.weight[0] | number:2 }}\r\nPeso Inferido: {{ feature.weightInferred[0] | number:2 }}\r\nProbabilidad: {{ feature.probability[0] | number:2 }}")
                        div(ng-show="showValue == 'f' && feature.frequency[0] > 0") {{ feature.frequency[0] | number:0 }}
                        div(ng-show="showValue == 'w' && feature.weightInferred[0] > 0") {{ feature.weightInferred[0] | number:2 }}
                        div(ng-show="showValue == 'p' && feature.probability[0] > 0") {{ feature.probability[0] | number:2 }}
                    td(title="MR: {{feature.levelNames[1]}}\r\nFrecuencia: {{ feature.frequency[1] | number:0 }}\r\nFrecuencia Corregida: {{ feature.frequencyCorrected[1] | number:2 }}\r\nPeso: {{ feature.weight[1] | number:2 }}\r\nPeso Inferido: {{ feature.weightInferred[1] | number:2 }}\r\nProbabilidad: {{ feature.probability[1] | number:2 }}") 
                        div(ng-show="showValue == 'f' && feature.frequency[1] > 0") {{ feature.frequency[1] | number:0 }}
                        div(ng-show="showValue == 'w' && feature.weightInferred[0] > 0") {{ feature.weightInferred[1] | number:2 }}
                        div(ng-show="showValue == 'p' && feature.probability[1] > 0") {{ feature.probability[1] | number:2 }}
                    td(title="MR: {{feature.levelNames[2]}}\r\nFrecuencia: {{ feature.frequency[2] | number:0 }}\r\nFrecuencia Corregida: {{ feature.frequencyCorrected[2] | number:2 }}\r\nPeso: {{ feature.weight[2] | number:2 }}\r\nPeso Inferido: {{ feature.weightInferred[2] | number:2 }}\r\nProbabilidad: {{ feature.probability[2] | number:2 }}") 
                        div(ng-show="showValue == 'f' && feature.frequency[2] > 0") {{ feature.frequency[2] | number:0 }}
                        div(ng-show="showValue == 'w' && feature.weightInferred[0] > 0") {{ feature.weightInferred[2] | number:2 }}
                        div(ng-show="showValue == 'p' && feature.probability[2] > 0") {{ feature.probability[2] | number:2 }}
                    td(title="MR: {{feature.levelNames[3]}}\r\nFrecuencia: {{ feature.frequency[3] | number:0 }}\r\nFrecuencia Corregida: {{ feature.frequencyCorrected[3] | number:2 }}\r\nPeso: {{ feature.weight[3] | number:2 }}\r\nPeso Inferido: {{ feature.weightInferred[3] | number:2 }}\r\nProbabilidad: {{ feature.probability[3] | number:2 }}") 
                        div(ng-show="showValue == 'f' && feature.frequency[3] > 0") {{ feature.frequency[3] | number:0 }}
                        div(ng-show="showValue == 'w' && feature.weightInferred[0] > 0") {{ feature.weightInferred[3] | number:2 }}
                        div(ng-show="showValue == 'p' && feature.probability[3] > 0") {{ feature.probability[3] | number:2 }}
                    td(title="MR: {{feature.levelNames[4]}}\r\nFrecuencia: {{ feature.frequency[4] | number:0 }}\r\nFrecuencia Corregida: {{ feature.frequencyCorrected[4] | number:2 }}\r\nPeso: {{ feature.weight[4] | number:2 }}\r\nPeso Inferido: {{ feature.weightInferred[4] | number:2 }}\r\nProbabilidad: {{ feature.probability[4] | number:2 }}") 
                        div(ng-show="showValue == 'f' && feature.frequency[4] > 0") {{ feature.frequency[4] | number:0 }}
                        div(ng-show="showValue == 'w' && feature.weightInferred[0] > 0") {{ feature.weightInferred[4] | number:2 }}
                        div(ng-show="showValue == 'p' && feature.probability[4] > 0") {{ feature.probability[4] | number:2 }}
                    td(title="MR: {{feature.levelNames[5]}}\r\nFrecuencia: {{ feature.frequency[5] | number:0 }}\r\nFrecuencia Corregida: {{ feature.frequencyCorrected[5] | number:2 }}\r\nPeso: {{ feature.weight[5] | number:2 }}\r\nPeso Inferido: {{ feature.weightInferred[5] | number:2 }}\r\nProbabilidad: {{ feature.probability[5] | number:2 }}") 
                        div(ng-show="showValue == 'f' && feature.frequency[5] > 0") {{ feature.frequency[5] | number:0 }}
                        div(ng-show="showValue == 'w' && feature.weightInferred[0] > 0") {{ feature.weightInferred[5] | number:2 }}
                        div(ng-show="showValue == 'p' && feature.probability[5] > 0") {{ feature.probability[5] | number:2 }}
                    td(title="MR: {{feature.levelNames[6]}}\r\nFrecuencia: {{ feature.frequency[6] | number:0 }}\r\nFrecuencia Corregida: {{ feature.frequencyCorrected[6] | number:2 }}\r\nPeso: {{ feature.weight[6] | number:2 }}\r\nPeso Inferido: {{ feature.weightInferred[6] | number:2 }}\r\nProbabilidad: {{ feature.probability[6] | number:2 }}") 
                        div(ng-show="showValue == 'f' && feature.frequency[6] > 0") {{ feature.frequency[6] | number:0 }}
                        div(ng-show="showValue == 'w' && feature.weightInferred[0] > 0") {{ feature.weightInferred[6] | number:2 }}
                        div(ng-show="showValue == 'p' && feature.probability[6] > 0") {{ feature.probability[6] | number:2 }}
                    td(title="MR: {{feature.levelNames[7]}}\r\nFrecuencia: {{ feature.frequency[7] | number:0 }}\r\nFrecuencia Corregida: {{ feature.frequencyCorrected[7] | number:2 }}\r\nPeso: {{ feature.weight[7] | number:2 }}\r\nPeso Inferido: {{ feature.weightInferred[7] | number:2 }}\r\nProbabilidad: {{ feature.probability[7] | number:2 }}") 
                        div(ng-show="showValue == 'f' && feature.frequency[7] > 0") {{ feature.frequency[7] | number:0 }}
                        div(ng-show="showValue == 'w' && feature.weightInferred[0] > 0") {{ feature.weightInferred[7] | number:2 }}
                        div(ng-show="showValue == 'p' && feature.probability[7] > 0") {{ feature.probability[7] | number:2 }}
                    td(title="MR: {{feature.levelNames[8]}}\r\nFrecuencia: {{ feature.frequency[8] | number:0 }}\r\nFrecuencia Corregida: {{ feature.frequencyCorrected[8] | number:2 }}\r\nPeso: {{ feature.weight[8] | number:2 }}\r\nPeso Inferido: {{ feature.weightInferred[8] | number:2 }}\r\nProbabilidad: {{ feature.probability[8] | number:2 }}") 
                        div(ng-show="showValue == 'f' && feature.frequency[8] > 0") {{ feature.frequency[8] | number:0 }}
                        div(ng-show="showValue == 'w' && feature.weightInferred[0] > 0") {{ feature.weightInferred[8] | number:2 }}
                        div(ng-show="showValue == 'p' && feature.probability[8] > 0") {{ feature.probability[8] | number:2 }}
                    td(title="MR: {{feature.levelNames[9]}}\r\nFrecuencia: {{ feature.frequency[9] | number:0 }}\r\nFrecuencia Corregida: {{ feature.frequencyCorrected[9] | number:2 }}\r\nPeso: {{ feature.weight[9] | number:2 }}\r\nPeso Inferido: {{ feature.weightInferred[9] | number:2 }}\r\nProbabilidad: {{ feature.probability[9] | number:2 }}") 
                        div(ng-show="showValue == 'f' && feature.frequency[9] > 0") {{ feature.frequency[9] | number:0 }}
                        div(ng-show="showValue == 'w' && feature.weightInferred[0] > 0") {{ feature.weightInferred[9] | number:2 }}
                        div(ng-show="showValue == 'p' && feature.probability[9] > 0") {{ feature.probability[9] | number:2 }}
                    td(title="MR: {{feature.levelNames[10]}}\r\nFrecuencia: {{ feature.frequency[10] | number:0 }}\r\nFrecuencia Corregida: {{ feature.frequencyCorrected[10] | number:2 }}\r\nPeso: {{ feature.weight[10] | number:2 }}\r\nPeso Inferido: {{ feature.weightInferred[10] | number:2 }}\r\nProbabilidad: {{ feature.probability[10] | number:2 }}") 
                        div(ng-show="showValue == 'f' && feature.frequency[10] > 0") {{ feature.frequency[10] | number:0 }}
                        div(ng-show="showValue == 'w' && feature.weightInferred[0] > 0") {{ feature.weightInferred[10] | number:2 }}
                        div(ng-show="showValue == 'p' && feature.probability[10] > 0") {{ feature.probability[10] | number:2 }}
                    td(title="MR: {{feature.levelNames[11]}}\r\nFrecuencia: {{ feature.frequency[11] | number:0 }}\r\nFrecuencia Corregida: {{ feature.frequencyCorrected[11] | number:2 }}\r\nPeso: {{ feature.weight[11] | number:2 }}\r\nPeso Inferido: {{ feature.weightInferred[11] | number:2 }}\r\nProbabilidad: {{ feature.probability[11] | number:2 }}") 
                        div(ng-show="showValue == 'f' && feature.frequency[11] > 0") {{ feature.frequency[11] | number:0 }}
                        div(ng-show="showValue == 'w' && feature.weightInferred[0] > 0") {{ feature.weightInferred[11] | number:2 }}
                        div(ng-show="showValue == 'p' && feature.probability[11] > 0") {{ feature.probability[11] | number:2 }}

                    td {{ feature.count }}
                    td {{ feature.discarded }}
                    td {{ feature.mandatory }}
