style(type="text/css")
    .weightSetted {
        background-color: #fff2cc;
    }

div.row
    div.col-md-12
        br
        div.col-md-4(style="float: left")
            span Empleador 
            select(ng-model="employer", ng-change="getJobs()")
                option(ng-repeat="emp in employers")(value="{{ emp.id }}") {{ emp.name }}
                option(value="") Todos
        div.col-md-4
            span Oficio 
            select(ng-model="job", ng-change="getVacancies()")
                option(ng-repeat="job in jobs")(value="{{ job.id }}") {{ job.name }}
                option(value="") Todos
        div.col-md-4
            span Vacante 
            select(ng-model="vacancy")
                option(ng-repeat="v in vacancies")(value="{{ v.id }}") {{ v.name }}
                option(value="") Todos
        br
        br
        div.col-md-4
            span Año de referencia 
            select(ng-model="referenceYear")
                option(ng-repeat="y in possibleReferenceYears")(value="{{ y }}") {{ y }} 
        div.col-md-4
            span Años atras 
            select(ng-model="yearsBack")
                option(ng-repeat="y in possibleYearsBack")(value="{{ y }}") {{ y }} 
        div.col-md-4(ng-show="false")
            span Candidatos 
            select(ng-model="candidateType")
                option(value="C") Concurridos
                option(value="P") Preseleccionados
                option(value="S") Seleccionados
        div.col-md-4
            span Filtro por porcentaje de ocurrencias (%) 
            input(type="text", name="", style="width:50px", ng-model="minPercentage", ng-change="updateVisible()")
        div.col-md-12
            br
            input(type="button", value="Consultar", style="float:right", ng-click="readFrequencyMatrix()")
            &nbsp; &nbsp;
            input(type="button", value="Calcular", style="float:right", ng-click="calculateFrequencyMatrix()")
            &nbsp; &nbsp;
            input(type="button", value="Consultar Job Last Vacancy", style="float:right", ng-click="getMethaFeaturesJobLastVacancy()")
            &nbsp; &nbsp;
            //- input(type="button", value="Consultar New Vacancy", style="float:right", ng-click="getMethaFeaturesNewVacancy()")
        div.col-md-12
            input(type="button", value="Frecuencia", ng-click="setShowValue('f')") 
            input(type="button", value="Peso", ng-click="setShowValue('w')")
            input(type="button", value="Peso Establecido", ng-click="setShowValue('ws')", ng-show="vacancy != ''") 
            input(type="button", value="Probabilidad", ng-click="setShowValue('p')") 
            span &nbsp; &nbsp; Total candidatos: {{ featuresModified[0].totalCount }}
            br
            br
        br
        br        
        table(class = "table", border = 1)
            thead
                tr: th 
                    th
                    th(colspan = "12") Metha-Relación
                    th(colspan = 3)
                tr: th Metha Feature
                    th Feature
                    th MR1
                    th MR2
                    th MR3
                    th MR4
                    th MR5
                    th MR6
                    th MR7
                    th MR8
                    th MR9
                    th MR10
                    th MR11
                    th MR12
                    th
                        span(ng-show="showValue != 'p'") Count
                        span(ng-show="showValue == 'p'") Probab
                    th Discarded
                    th Mandatory

                    th Top Weight
                    th MFR WEIGHT
                    th Point Value
            tbody
                tr(ng-repeat="feature in featuresModified | orderBy : ['methaFeatureOrder', 'name']", ng-show="feature.visible", class="mf_tr_{{feature.methaFeatureId}}") 
                    td(class="mf_name") {{ feature.methaFeature }}
                    td {{ feature.name }}

                    td(class="{{ feature.tdClass[0] }}", title="{{ feature.tdTitle[0] }}") {{ feature.tdContent[0] }}
                        span(ng-show="feature.tdEditWeight[0]", class="editWeight", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature.id, 0)") 
                            i(class="glyphicon glyphicon-edit")
                    td(class="{{ feature.tdClass[1] }}", title="{{ feature.tdTitle[1] }}") {{ feature.tdContent[1] }}
                        span(ng-show="feature.tdEditWeight[1]", class="editWeight", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature.id, 1)") 
                            i(class="glyphicon glyphicon-edit")
                    td(class="{{ feature.tdClass[2] }}", title="{{ feature.tdTitle[2] }}") {{ feature.tdContent[2] }}
                        span(ng-show="feature.tdEditWeight[2]", class="editWeight", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature.id, 2)") 
                            i(class="glyphicon glyphicon-edit")
                    td(class="{{ feature.tdClass[3] }}", title="{{ feature.tdTitle[3] }}") {{ feature.tdContent[3] }}
                        span(ng-show="feature.tdEditWeight[3]", class="editWeight", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature.id, 3)") 
                            i(class="glyphicon glyphicon-edit")
                    td(class="{{ feature.tdClass[4] }}", title="{{ feature.tdTitle[4] }}") {{ feature.tdContent[4] }}
                        span(ng-show="feature.tdEditWeight[4]", class="editWeight", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature.id, 4)") 
                            i(class="glyphicon glyphicon-edit")
                    td(class="{{ feature.tdClass[5] }}", title="{{ feature.tdTitle[5] }}") {{ feature.tdContent[5] }}
                        span(ng-show="feature.tdEditWeight[5]", class="editWeight", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature.id, 5)") 
                            i(class="glyphicon glyphicon-edit")
                    td(class="{{ feature.tdClass[6] }}", title="{{ feature.tdTitle[6] }}") {{ feature.tdContent[6] }}
                        span(ng-show="feature.tdEditWeight[6]", class="editWeight", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature.id, 6)") 
                            i(class="glyphicon glyphicon-edit")
                    td(class="{{ feature.tdClass[7] }}", title="{{ feature.tdTitle[7] }}") {{ feature.tdContent[7] }}
                        span(ng-show="feature.tdEditWeight[7]", class="editWeight", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature.id, 7)") 
                            i(class="glyphicon glyphicon-edit")
                    td(class="{{ feature.tdClass[8] }}", title="{{ feature.tdTitle[8] }}") {{ feature.tdContent[8] }}
                        span(ng-show="feature.tdEditWeight[8]", class="editWeight", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature.id, 8)") 
                            i(class="glyphicon glyphicon-edit")
                    td(class="{{ feature.tdClass[9] }}", title="{{ feature.tdTitle[9] }}") {{ feature.tdContent[9] }}
                        span(ng-show="feature.tdEditWeight[9]", class="editWeight", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature.id, 9)") 
                            i(class="glyphicon glyphicon-edit")
                    td(class="{{ feature.tdClass[10] }}", title="{{ feature.tdTitle[10] }}") {{ feature.tdContent[10] }}
                        span(ng-show="feature.tdEditWeight[10]", class="editWeight", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature.id, 10)") 
                            i(class="glyphicon glyphicon-edit")
                    td(class="{{ feature.tdClass[11] }}", title="{{ feature.tdTitle[11] }}") {{ feature.tdContent[11] }}
                        span(ng-show="feature.tdEditWeight[11]", class="editWeight", data-toggle="modal", data-target="#modalWeight", ng-click="editWeight(feature.id, 11)") 
                            i(class="glyphicon glyphicon-edit")

                    td
                        span(ng-show="showValue != 'p'") {{ feature.count }}
                        span(ng-show="showValue == 'p'") {{ feature.featureProbability | number:2 }}
                    td
                        input(ng-show="!feature.discarded && vacancy !== ''", type="button", value="{{ feature.discarded }}", ng-click="showDiscarded(feature.id, feature.discarded)", data-toggle="modal", data-target="#modalDiscarded")
                        span(ng-show="feature.discarded || vacancy === ''") {{ feature.discarded }}
                    td {{ feature.mandatory }}

                    td {{ feature.topWeight }}
                    td {{ feature.mfrWeight }}
                    td {{ feature.pointValue | number:2 }}
  

//- , class="mb-control", data-box="#messageBoxWeight"
.message-box.message-box-success.animated.fadeIn#messageBoxWeight
    .mb-container
        .mb-middle
            .mb-title
                span.fa.fa-check Success
            .mb-content
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at tellus sed mauris mollis pellentesque nec a ligula. Quisque ultricies eleifend lacinia. Nunc luctus quam pretium massa semper tincidunt. Praesent vel mollis eros. Fusce erat arcu, feugiat ac dignissim ac, aliquam sed urna. Maecenas scelerisque molestie justo, ut tempor nunc.
            .mb-footer
                button.btn.btn-default.btn-lg.pull-right.mb-control-close Close

// .fade
.modal(id="modalWeight", role="dialog") 
    .modal-dialog(role="document")
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal")
                    span(aria-hidden="true") &times;
                    span.sr-only Close
                h4.modal-title(id="weightLabel")= "Editar peso"
            .modal-body
                div Metha feature: {{ featureEdit.methaFeature }}, Feature: {{ featureEdit.name }}, MR: {{ methaRelationEdit }}
                div.form-group
                    label(for='weight') Peso:
                    input#weight.form-control(type='text', placeholder='peso', name='weight', ng-model="weightPopupEdit")
            .modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") Cancelar                        
                button.btn.btn-primary(type="button", ng-click="saveWeight()", data-dismiss="modal") Guardar
                
.modal(id="modalAddFeature", role="dialog")
    .modal-dialog(role="document")
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal")
                    span(aria-hidden="true") &times;
                    span.sr-only Close
                h4.modal-title(id="weightLabel")= "Agregar característica"
            .modal-body
                div Metha feature: {{ currentMethaFeatureName }}
                div.form-group
                    label(for='feature') Caracteristica:
                    select(ng-model="featureToAdd")
                        option(ng-repeat="f in currentFeatureNames")(value="{{ f.id }}") {{ f.name }}
                div.alert.alert-danger(ng-show="addFeatureError") {{ addFeatureError }}
            .modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") Cancelar                        
                button.btn.btn-primary(type="button", ng-click="addFeature()") Guardar

.modal(id="modalDiscarded", role="dialog")
    .modal-dialog(role="document")
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal")
                    span(aria-hidden="true") &times;
                    span.sr-only Close
                h4.modal-title Modificar discarded
            .modal-body
                div Metha feature: {{ featureEdit.methaFeature }}, Feature: {{ featureEdit.name }}
                div Cambiar discarded a: {{ !featureEdit.discarded }}
                div.alert.alert-danger(ng-show="editDiscardedError") {{ editDiscardedError }}
            .modal-footer
                button.btn.btn-default(type="button", data-dismiss="modal") Cancelar                        
                button.btn.btn-primary(type="button", ng-click="saveDiscarded()") Confirmar

