//- PAGE TITLE
div(class="page-title")
    h2() {{'METHAFEATURES' | translate}}
//- END PAGE TITLE
//- PAGE CONTENT WRAPPER
div(class="page-content-wrap")
    form(name="userForm", id="userForm")
        div(class="row")
            div(class="col-md-12")
                div(class="row")
                    div(class="col-md-12")
                        div(class="panel panel-default")
                            div(class="panel-body")
                                div(class="row")
                                    div(class="col-sm-12")
                                        div(class="table-responsive")   
                                            table(class="table table-striped")
                                                thead()
                                                    tr()
                                                        td(class="col-md-6") 
                                                            h4() {{'NAME' | translate}}
                                                        td(class="col-md-5") 
                                                            h4() {{'DICTIONARY' | translate}}
                                                        td(class="col-md-1")
                                                tbody()
                                                    tr(ng-repeat="metaFeature in metaFeatures")
                                                        td()
                                                            label() {{metaFeature.name}}
                                                        td() {{metaFeature.dictionary}}
                                                        td()
                                                            button.btn.btn-deffault.btn-condensed(ng-click="showMetaFeature(metaFeature.id)") 
                                                                span(class="fa fa-pencil") 
