div.col-md-12
    h3 Conocimientos
div.col-md-12
    table(class = "table")
        thead
            tr: th Nombre
                th Experiencia (Meses)
                th Importancia (1-10)
        tbody
            tr: td Java
                td 5
                td 8
            tr: td HTML
                td 3
                td 7
            tr: td css3
                td 3
                td 8
            tr: td poo
                td 3
                td 5
div.col-md-12
    h3 Estudios
div.col-md-12
    table(class = "table")
        thead
            tr: th Nombre
                th Nivel
                th Preferencias
                th peso
        tbody
            tr: td sistemas
                td profesional
                td udea, nacional, eafit
                td 10
            tr: td telecomunicaciones
                td profesional
                td udea, nacional, eafit
                td 10
            tr: td sistemas
                td tecnologia
                td itm, pascual bravo
                td 6
div.col-md-12
    h3 Datos personales
div.col-md-12
    table(class = "table")
        thead
            tr: th Nombre
                th Valor
                th Importancia (1-10)
        tbody
            tr: td sexo
                td F
                td 8
            tr: td Edad
                td 18<x<40
                td 7
            tr: td Estado civil
                td Soltero
                td 3
