
div(class="col-md-12")
  div(class="panel panel-default")
    div(class="panel-body")
      div(class="row")
        div(class="col-sm-12")
          table(class = "table")
            thead
              tr: th: h4() Nombre
                  th: h4() Diccionario
                  th
            tbody
              tr(ng-repeat="entry in found")
                td: {{entry.name}}
                td: {{entry.best_weight}}
                td: button.btn.btn.btn-deffault(ng-click="pieceWiseSolve(entry.name)") 
                  span(class="fa fa-check")