div(class="col-md-6 col-md-offset-3")
    Estas en search
    div.input.form-group
        span.label.black-form Nombre
        input(type="text", name="name",id="name", class="form-control", ng-model="name")
        button(class="btn btn-default", ng-click="search(name)") Buscar
    div(ng-show="notFound")
        p el termino no existe, ¿desea crearlo como una entrada primaria?
        div(class="col-md-4")
            {{name}}
        div(class="col-md-2")
            button(id="createPrimary", class="btn btn-default", ng-click="createPrimary(name)") Crear
        
        