
div(class="col-md-12")
    h1 Buscar
    div.input.form-group
        span.label.black-form Entrada
        input(type="text", name="name",id="name", class="form-control", ng-model="name")
    div.input.form-group
        span.label.black-form Diccionario
        select(ng-model="meta", ng-options="x.name for x in metaFeatures", class="form-control")
    button(class="btn btn-default", ng-click="search(name,meta.dictionary)") Buscar
div(class="col-md-12")
    h1 Salida
    h4 {{output}}
        