{{metaRelation}}
div.row
    form
        div.form-group
            label(for="methaFeatureName") Meta caracteristica
            input.form-control(type="text", disabled, id="methaFeatureName", name="methaFeatureName", ng-model="metaFeature.name") 
        div.form-group
            label(for="methaRelation") Meta Relacion
            input.form-control(type="text", id="methaRelation", name="methaRelation", ng-model="metaRelation.name") 
        div.form-group
            label(for="orderNumber") Posición
            input.form-control(type="text", id="orderNumber", name="orderNumber",ng-model="metaRelation.orderNumber") 
        div.form-group
            label(for="fromValue") Desde
            input.form-control(type="text", ng-disabled="metaFeature.type != 'Mesurable'", id="fromValue", name="fromValue",ng-model="metaRelation.from") 
        div.form-group
            label(for="toValue", disabled) Hasta
            input.form-control(type="text", disabled, id="toValue", name="toValue",ng-model="metaRelation.to")
        button.btn.btn-success(ng-click="updateMetaRelation(metaRelation)") guardar