div(class="form-gorup")  
  div(class="col-md-12")
    label: h4 Entrada
  div(class="col-md-10")
    input(type="text",id="myId", disabled="true",class="form-control", ng-model="current.name")
  div(class="col-md-1")
    button(ng-click="editOriginal()") Editar
  div(class="col-md-1")
    button(ng-click="createPrimary(current)") Crear
div(class="form-gorup")
  div.col-md-12
    label: h4 Busqueda de sinonimos
  div.col-md-12
    input(type="text",class="form-control", ng-model="synonymsSearch",ng-change="getSuggested(synonymsSearch)")
 
div.col-md-12
  h4 Sugerencias
div(class="col-md-10 col-md-offset-1")
  {{current}}
  table(class = "table")
    thead
      tr: th Nombre
          th   
    tbody
      tr(ng-repeat="entry in suggested")
        td: {{entry.er}}
        td: button(ng-click="solveAsSynonym(entry.id)") seleccionar