div.row(style="padding-top:20px;")
    div.col-md-3
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Cargar</button>
    div.col-md-3
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#metaModal">Meta Relaciones</button>
div(class="row search-div")
    div(class="col-md-12")
        h1 Buscar
        div.input.form-group
            span.label.black-form Nombre
            input(type="text", name="name",id="name", class="form-control", ng-model="name")
    div.col-md-6
        span.label.black-form Diccionario
        <select ng-model="metaRelationSearch" ng-options="x.name for x in metaFeatures" class="form-control">
        </select>
    div.col-md-6
        span.label.black-form Acrónimo
        input(type="text", name="acronym",id="name", class="form-control", ng-model="acronym")
    div.col-md-1.col-md-offset-11
        button(class="btn btn-default", ng-click="search(name)") Buscar
    div(class="col-md-12")      
        div(ng-show="notFound")
            div.col-md-5
                h3 el termino no existe, ¿desea crearlo como una entrada primaria?
            div.col-md-5
                <select ng-model="meta" ng-options="x.name for x in metaFeatures" class="form-control">
                </select>  
            div.col-md-2
                button(id="createPrimary", class="btn btn-default", ng-click="createPrimary(name)") Crear
            div(class="col-md-12")
                table.table
                    thead
                        tr: th Noun
                            th
                    tbody
                        tr(ng-repeat="sug in suggested")
                            td:{{sug.er}}
                            td: button(ng-click="selectNoun(sug.er)") Seleccionar
            
#myModal.modal.fade(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') ×
            h1 Cargar Diccionario
      .modal-body
        input(type="file", name="image", ngf-select, ng-model="dictionary", name="file" )
        select.form-control(ng-model='meta', ng-options='x.name for x in metaFeatures')
        button(ng-click="uploadFiles(dictionary,'primary')") Subir
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
#metaModal.modal.fade(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') ×
        h1 Cargar meta relaciones
      .modal-body
        input(type="file", name="image", ngf-select, ng-model="meta", name="file" )
        button(ng-click="uploadFiles(meta)") Subir
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Close
    