//- PAGE TITLE
div(class="page-title")
    h2() {{ 'DICTIONARY' | translate }}
//- END PAGE TITLE
//- PAGE CONTENT WRAPPER
div(class="page-content-wrap")
    form(name="userForm", id="userForm")
        div(class="row")
            div.row.col-md-12
                div(class="panel panel-default")
                    div(class="panel-body")
                        div.col-md-1
                            button(type="button", class="btn btn-default", ng-click="fuse()")
                                span() {{ 'FUSE' | translate }}
                        div.col-md-1
                            button(type="button", class="btn btn-default", ng-click="unfold()")
                                span() {{ 'UNFOLD' | translate }}
                        div.col-md-6
                        div.col-md-2
                            button(type="button", class="btn btn-default", data-toggle="modal", data-target="#myModal")
                                span(class="fa fa-cloud-upload")
                                span() {{ 'UPLOAD_DICTIONARY' | translate }}
                        div.col-md-2
                            button(type="button", class="btn btn-default", data-toggle="modal", data-target="#metaModal")
                                span(class="fa fa-cloud-upload")
                                span() {{ 'METHAFEATURES' | translate }}
            div.row.col-md-12
                div(class="panel panel-default")
                    div(class="panel-body")
                        div.col-md-6
                            div.input.form-group
                                label {{ 'NAME' | translate }}
                                input(type="text", name="name",id="name", class="form-control", ng-model="name")
                        div.col-md-3
                            label {{ 'DICTIONARY' | translate }}
                            select(ng-model="metaRelationSearch", ng-options="x.name for x in metaFeatures", class="form-control")
                        div.col-md-2
                            label {{ 'ACRONYM' | translate }}
                            input(type="text", name="acronym",id="name", class="form-control", ng-model="acronym")
                        div.col-md-1
                            label &nbsp
                            button(class="btn btn-default", ng-click="search(name)") {{ 'SEARCH' | translate }}
            div.row.col-md-12(ng-show="notFound")
                div(class="panel panel-default")
                    div(class="panel-body")
                        div.col-md-5
                            h3 {{ 'TERM_EXIST' | translate }}
                        div.col-md-5
                            label {{ 'DICTIONARY' | translate }}
                            <select ng-model="meta" ng-options="x.name for x in metaFeatures" class="form-control">
                            </select>  
                        div.col-md-2
                            label  &nbsp
                            button(id="createPrimary", class="btn btn-default", ng-click="createPrimary(name)") {{ 'CREATE' | translate }}
                        div(class="col-md-12")
                            table.table
                                thead
                                    tr: th {{ 'ENTRY' | translate }}
                                        th
                                tbody
                                    tr(ng-repeat="sug in suggested")
                                        td:{{sug.er}}
                                        td: button(ng-click="selectNoun(sug.er)") {{ 'SELECT' | translate }}
                        
#myModal.modal.fade(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') ×
        h1 {{ 'UPLOAD_DICTIONARY' | translate }}
      .modal-body
        input(type="file", name="image", ngf-select, ng-model="dictionary", name="file" )
        label {{ 'DICTIONARY' | translate }}
        select.form-control(ng-model='meta', ng-options='x.name for x in metaFeatures')
        button(class="btn btn-default",ng-click="uploadFiles(dictionary,'primary')") {{ 'UPLOAD' | translate }}
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') {{ 'CLOSE' | translate }}
#metaModal.modal.fade(role='dialog')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') ×
        h1 {{ 'UPLOAD_METHAFEATURE' | translate }}
      .modal-body
        input(type="file", name="image", ngf-select, ng-model="meta", name="file" )
        button(class="btn btn-default",ng-click="uploadFiles(meta)") {{ 'UPLOAD' | translate }}
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') {{ 'CLOSE' | translate }}
    