div.row(style="padding-top:20px;")
    div.col-md-12
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Cargar</button>
div(class="row search-div")
    div(class="col-md-6")
        h1 Buscar
        div.input.form-group
            span.label.black-form Nombre
            input(type="text", name="name",id="name", class="form-control", ng-model="name")
            button(class="btn btn-default", ng-click="search(name)") Buscar
    div(class="col-md-6")      
        div(ng-show="notFound")
            h2 el termino no existe, ¿desea crearlo como una entrada primaria?
            div(class="col-md-4")
                sugeridos {{suggested}}
            div(class="col-md-2")
                button(id="createPrimary", class="btn btn-default", ng-click="createPrimary(name)") Crear

<div class="modal fade" id="myModal" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
h1 Cargar Diccionario
</div>
<div class="modal-body">

input(type="file", name="image", ngf-select, ng-model="picFile", name="file" )  
button(ng-click="uploadPic(picFile)") Subir
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>