//- PAGE TITLE
div(class="page-title")
    h2() Desdoblar
        span(class="txt-grises", ng-bind="lista.cantidad")
//- END PAGE TITLE
//- PAGE CONTENT WRAPPER
div(class="page-content-wrap")
    //-INICIO
    div(class="row")
        div(class="col-md-12")
            div(class="panel panel-default")
                div(class="panel-body")
                    form(class="form-horizontal")
                        div(class="form-group")
                            span.col-md-3.col-xs-12.control-label Diccionario
                            div.col-md-6.col-xs-12
                                select(ng-model="metaRelationSearch", ng-options="x.name for x in metaFeatures", class="form-control")
                        div.form-group
                            span.col-md-3.col-xs-12.control-label Noun 1
                            div.col-md-6.col-xs-12
                                input(class="form-control",ng-focus="onFocus('firstNounVisible',1)",ng-blur="onBlur('firstNounVisible',1)", ng-model-options="{ debounce: 1000 }",ng-change="autocompletarInput(firstNoun.er,'JobFunctionName','dataNoun1','null')", ng-model="firstNoun.er")
                                ul(ng-show="{{ 'firstNounVisible' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                    li(class="list-group-item",ng-mousedown="assignValue('firstNoun' ,persona)", ng-repeat="persona in dataNoun1"){{persona.er}}
                        div(class="form-group")
                            div.col-md-1.col-md-offset-8
                                button(class="btn btn-primary mb-control",ng-click="search(firstNoun.er)") Buscar
                div(class="col-md-6 col-md-offset-3", ng-show="synonyms != (null || undefined)")
                        span.label.black-form Sinonimos
                        table(class = "table")
                                thead
                                tr: th ir
                                    th 
                                    th
                                tbody
                                tr(ng-repeat = "(key, synonym) in synonyms")
                                    td: label {{synonym.er}}
                                    td: button(class="btn btn-danger mb-control",ng-click="unfold(firstNoun,synonym)") Desdoblar
                                            