div.col-md-12
  <select ng-model="meta" ng-options="x.name for x in metaFeatures" class="form-control">
  <option value="">Seleccione</option>
  </select>
div
  table(class = "table")
    thead
      tr: th Nombre
          th Diccionario
          th
          th
    tbody
      tr(ng-repeat="task in unresolved", ng-show="!meta || meta.dictionary==task.dictionary")
        td: {{task.name}}
        td {{task.dictionary}}
        td: button.btn.btn.btn-deffault(ng-click="solve(task)") Resolver
        td: button.btn.btn.btn-danger(ng-click="discard(task)") Descartar
        
