div
  table(class = "table")
    thead
      tr: th Nombre
          th Diccionario
          th
    tbody
      tr(ng-repeat="task in unresolved")
        td: {{task.name}}
        td {{task.dictionary}}
        td: button.btn.btn.btn-deffault(ng-click="solve(task.name)") resolver
