//- PAGE TITLE
div(class="page-title")
    h2() {{'USER' | translate}}:&nbsp;
        span(class="txt-grises", ng-bind="user.userName")
//- END PAGE TITLE
//- PAGE CONTENT WRAPPER
div(class="page-content-wrap")
    div(class="row")
        div(class="col-sm-12")
            form(name="formCandidato", novalidate)
                div(class="row")
                    div(class="col-md-12")
                        div(class="panel panel-default")
                            div(class="panel-heading")
                                h3(class="panel-title") {{'USER_DATA' | translate}}
                            div(class="panel-body")
                                div(class="row row-space")
                                    label(class="col-md-3", style="text-align: right;") {{'USERNAME' | translate}}
                                    div(class="col-md-6")
                                        input(type="text", class="form-control", ng-model="user.userName")
                                div(class="row row-space")
                                    label(class="col-md-3", style="text-align: right;") {{'ROLE' | translate}}
                                    div(class="col-md-6")
                                        select(class="form-control", select2="", name="estado", data-ng-model="user.role")
                                            option(value="") {{'SELECT' | translate}}
                                            option(value="5") {{'ADMINISTRATOR' | translate}}
                                            option(value="4") {{'FEATURE_ENGINEER' | translate}}
                                            option(value="3") {{'FEATURE_ENGINEER_GENERAL' | translate}}
                                            option(value="2") {{'SELECTION_ANALIST' | translate}}
                                            option(value="1") {{'SELECTION_ANALIST_GENERAL' | translate}}
                                            option(value="0") {{'QUERY' | translate}}
                                div(class="row row-space")
                                    label(class="col-md-3", style="text-align: right;") {{'PASSWORD' | translate}}
                                    div(class="col-md-6")
                                        input(type="password", class="form-control", ng-model="user.password")
                                div(class="row row-space")
                                    label(class="col-md-3", style="text-align: right;") {{'PORTFOLIO' | translate}}
                                    div(class="col-md-6")
                                        input(name="portafolio",autocomplete="off", class="form-control has-error",ng-focus="onFocus('portafolio',1)",ng-blur="onBlur('portafolio',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(user.portFolio,'EmployerName','dataPortafolio','null','user.portFolio')", ng-model="user.portFolio")
                                        ul(ng-show="{{ 'portafolio' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                            li(class="list-group-item",ng-mousedown="assign('user.portFolio',item)", ng-repeat="item in dataPortafolio") {{item.name}}
                                div(class="row row-space")
                                    label(class="col-md-3", style="text-align: right;") {{'NAME' | translate}}
                                    div(class="col-md-6")
                                        input(name="fullName",autocomplete="off", class="form-control has-error",ng-focus="onFocus('fullName',1)",ng-blur="onBlur('fullName',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput2(user.name,'Name','dataName','null','user.name')", ng-model="user.name")
                                        ul(ng-show="{{ 'fullName' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                            li(class="list-group-item",ng-mousedown="user.name = item.er", ng-repeat="item in dataName") {{item.er}}
                                div(class="row row-space")
                                    div(class="col-md-12")
                                        button(type="button", class="btn btn-primary pull-right", ng-click="actualizarUser()") 
                                            li(class="fa fa-save")
                                            span() {{'SAVE' | translate}}

                                div
                                    {{dataName}}


