//- PAGE TITLE
div(class="page-title")
    h2() Vacante
//- END PAGE TITLE
//- PAGE CONTENT WRAPPER
div(class="page-content-wrap")
    div(class="row")
        div(class="col-md-12")
            //-INICIO
            div(class="row")
                div(class="col-md-12")
                    div(class="panel panel-default")
                        div(class="panel-body")
                            form(class="form-horizontal")
                                div(class="col-md-1") 
                                    label() Empleador
                                div(class="col-md-5")
                                    input(class="form-control",ng-focus="onFocus('empleador',1)",ng-blur="onBlur('empleador',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(Dato.employer,'EmployerName','dataEmpleador')", ng-model="Dato.employer")
                                    ul(ng-show="{{ 'empleador' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                        li(class="list-group-item",ng-mousedown="Dato.employer = item.er", ng-repeat="item in dataEmpleador") {{item.er}}
                                div(class="col-md-1") 
                                    label() Oficio
                                div(class="col-md-5")
                                    input(class="form-control",ng-focus="onFocus('oficio',1)",ng-blur="onBlur('oficio',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(Dato.job,'JobName','dataJob')", ng-model="Dato.job")
                                    ul(ng-show="{{ 'oficio' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                        li(class="list-group-item",ng-mousedown="Dato.job = item.er", ng-repeat="item in dataJob") {{item.er}}
            div(class="row", ng-if="Dato.employer && Dato.job")
                div(class="col-md-12")
                    div(class="panel panel-default")
                        div(class="panel-body")
                            form(class="form-horizontal")
                                div(class="panel panel-default nav-tabs-vertical")
                                    ul(class="nav nav-tabs")
                                        li(style="border-bottom: 1px solid #ddd;")
                                            a(data-toggle="tab", data-target="#tab1") Información
                                        li(style="border-bottom: 1px solid #ddd;")
                                            a(data-toggle="tab", data-target="#tab2") Metha-Características
                                        li(style="border-bottom: 1px solid #ddd;")
                                            a(data-toggle="tab", data-target="#tab3") Matriz de caracterización
                                        li(style="border-bottom: 1px solid #ddd;")
                                            a(data-toggle="tab", data-target="#tab4") Lista de preselección
                                    div(class="tab-content", style="min-height:100vh; border-left: 1px solid #ddd;")
                                        div(id="tab1", class="tab-pane fade")
                                            div(class="panel-body")
                                                div(class="row row-space")
                                                    div(class="col-md-2")
                                                        label() Código
                                                    div(class="col-md-4")
                                                        input(type='text', class="form-control")
                                                    div(class="col-md-2")
                                                        label() Número de vacantes
                                                    div(class="col-md-4")
                                                        input(type='text', class="form-control")
                                                div(class="row row-space")
                                                    div(class="col-md-2")
                                                        label() Estatus
                                                    div(class="col-sm-4")
                                                        input(type='text', class="form-control")
                                                    div(class="col-md-2")
                                                        label() Fecha de inicio
                                                    div(class="col-md-4")
                                                        input(type='text', class="form-control")
                                                div(class="row row-space")
                                                    div(class="col-md-2")
                                                        label() Fecha fin
                                                    div(class="col-sm-4")
                                                        input(type='text', class="form-control")
                                                    div(class="col-md-2")
                                                        label() Salario previsto
                                                    div(class="col-md-4")
                                                        input(type='text', class="form-control")
                                                div(class="row row-space")
                                                    div(class="col-md-2")
                                                        label() Dirección
                                                    div(class="col-sm-4")
                                                        input(type='text', class="form-control")
                                                    div(class="col-md-2")
                                                        label() Población
                                                    div(class="col-md-4")
                                                        input(type='text', class="form-control")
                                                div(class="row row-space")
                                                    div(class="col-md-2")
                                                        label() Código postal
                                                    div(class="col-sm-4")
                                                        input(type='text', class="form-control")
                                                    div(class="col-md-2")
                                                        label() País
                                                    div(class="col-md-4")
                                                        input(type='text', class="form-control")
                                                div(class="row row-space")
                                                    div(class="col-md-2")
                                                        label() Cargo
                                                    div(class="col-sm-4")
                                                        input(type='text', class="form-control")
                                                    div(class="col-md-2")
                                                        label() Analista
                                                    div(class="col-md-4")
                                                        input(type='text', class="form-control")
                                                div(class="row row-space")
                                                    div(class="col-md-2")
                                                        label() Persona de contacto
                                                    div(class="col-sm-4")
                                                        input(type='text', class="form-control")
                                                    div(class="col-md-2")
                                                        label() Probabilidad condicional
                                                    div(class="col-md-4")
                                                        input(type='text', class="form-control")
                                                div(class="row row-space")
                                                    div(class="col-md-2")
                                                        label() Coordenadas GPS
                                                    div(class="col-sm-4")
                                                        input(type='text', class="form-control")
                                                    div(class="col-md-2")
                                                        label() Última actualización
                                                    div(class="col-md-4")
                                                        input(type='text', class="form-control")
                                        div(id="tab2", class="tab-pane fade")
                                            div(class="panel-body")
                                        div(id="tab3", class="tab-pane fade")
                                            div(class="panel-body")
                                        div(id="tab4", class="tab-pane fade")
                                            div(class="panel-body")
                                                div(class="row row-space")
                                                    div(class="col-md-8") 
                                                        div(class="input-group")
                                                            div(class="input-group-addon")
                                                                span(class="fa fa-search")
                                                            input(class="form-control", placeholder="busqueda de candidatos",ng-focus="onFocus('candidatos',1)",ng-blur="onBlur('candidatos',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(Dato.candidate,'Name','dataCandidate')", ng-model="Dato.candidate")
                                                        ul(ng-show="{{ 'candidatos' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                            li(class="list-group-item",ng-mousedown="Dato.candidate = item.er", ng-repeat="item in dataCandidate") {{item.er}}
                                                    div(class="col-md-2") 
                                                        button(class="btn btn-default btn-block mb-control")
                                                            span(class="fa fa-plus")
                                                            span() Agregar
                                                    div(class="col-md-2") 
                                                        button(class="btn btn-default btn-block mb-control")
                                                            span(class="fa fa-cloud-upload")
                                                            span() Importar CV
                                                div(class="row")
                                                    div(class="col-md-8") 
                                                    div(class="col-md-4") 
                                                            button(class="btn btn-default btn-block mb-control", data-toggle="modal", data-target="#myModal", data-backdrop="true")
                                                                span(class="fa fa-search")
                                                                span() Busqueda avanzada
            
            
            
            
            
            
            
            
            //- Ventana busqueda avanzada
            div(id="myModal", class="modal fade", role="dialog")
                div(class="modal-dialog modal-lg")
                    div(class="modal-content") 
                        div(class="modal-header")
                            button(type="button", class="close", data-dismiss="modal") &times;
                            h4(class="modal-title") Modal Header
                        div(class="modal-body")
                        div(class="modal-footer")
                            button(type="button", class="btn btn-default", data-dismiss="modal") Cerrar

                                               


































































