//- PAGE TITLE
div(class="page-title")
    h2() {{ 'VACANCY_FILE' | translate}}
        span(class="txt-grises") &nbsp;- {{titulo | translate}}
        //-span(class="txt-grises", ng-bind="titulo")
//- END PAGE TITLE
//- PAGE CONTENT WRAPPER
div(class="page-content-wrap")
    form(name="userForm", id="userForm")
        div(class="row")
            div(class="col-md-12")
                //-INICIO
                div(class="row",ng-hide="Data.vacancy.id")
                    div(class="col-md-12")
                        div(class="panel panel-default")
                            div(class="panel-body")
                                form(class="form-horizontal")
                                    div(class="row row-space")
                                        div(class="col-md-1") 
                                            label() {{ 'EMPLOYER' | translate}}
                                        div(class="col-md-5")
                                            input(name="employer",autocomplete="off", class="form-control has-error",ng-focus="onFocus('empleador',1)",ng-blur="onBlur('empleador',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(Dato.employer,'EmployerName','dataEmpleador','null','Dato.employer')", ng-model="Dato.employer",ng-required="Dato.employerSelected")
                                            ul(ng-show="{{ 'empleador' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                li(class="list-group-item",ng-mousedown="assign('Dato.employer',item)", ng-repeat="item in dataEmpleador") {{item.er}}
                                        div(class="col-md-1") 
                                            label() {{ 'JOB' | translate}}
                                        div(class="col-md-5")
                                            input(class="form-control",autocomplete="off", ng-focus="onFocus('oficio',1)",ng-blur="onBlur('oficio',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(Dato.job,'JobName','dataJob','null','Dato.job')", ng-model="Dato.job", ng-required="Dato.jobSelected")
                                            ul(ng-show="{{ 'oficio' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                li(class="list-group-item",ng-mousedown="assign('Dato.job',item)", ng-repeat="item in dataJob") {{item.er}}
                                    div(class="row row-space")
                                        div(class="col-sm-12 pull-right", ng-if="Dato.employerSelected && Dato.jobSelected", ng-hide="Data.vacancy.id")
                                            button(type="button", class="btn btn-primary pull-right", ng-click="crearVacante()")
                                                li(class="fa fa-save")
                                                span() {{ 'NEW_VACANCY' | translate}}
                div(class="row",ng-show="Data.vacancy.id")
                    //- div(class="row")
                    div(class="col-md-12")
                        div(class="panel panel-default")
                            div(class="panel-body")
                                form(class="form-horizontal")
                                    div(class="row row-space")
                                        div(class="col-sm-11") 
                                            H3() {{ 'EMPLOYER' | translate}}: {{Data.vacancy.employer}} - {{ 'JOB' | translate}}: {{Data.vacancy.job}}
                                        div(class="col-sm-1")
                                            button(type="button", class="btn btn-primary pull-right", ng-click="guardarDatos()", ng-hide="Data.vacancy.disabled==true")
                                                li(class="fa fa-save")
                                                span() {{ 'SAVE' | translate}}
                                    div(class="panel panel-default tabs")
                                        ul(class="nav nav-tabs nav-justified")
                                            li(ng-class="{'active' : Dato.tab == 'tab1'}")
                                                a(data-toggle="tab", data-target="#tab1",ng-click="setActive('tab1')") {{ 'INFO' | translate}}
                                            li(ng-class="{'active' : Dato.tab == 'tab3'}")
                                                a(data-toggle="tab", data-target="#tab3",ng-click="setActive('tab3')") {{ 'CHARAC_MATRIX' | translate}}
                                            li(class="dropdown",ng-class="{'active' : Dato.tab == 'tab4'}")
                                                a(class="dropdown-toggle", data-toggle="dropdown") {{ 'SELECTION_LIST' | translate}}
                                                    span(class="fa fa-caret-down")
                                                    ul(class="dropdown-menu")
                                                        li()
                                                            a(data-toggle="tab", data-target="#tab7",ng-click="setActive('tab7')") {{ 'SUGGESTED' | translate}}
                                                        li()
                                                            a(data-toggle="tab", data-target="#tab4",ng-click="setActive('tab4')") {{ 'CONCUR' | translate}}
                                                        li()
                                                            a(data-toggle="tab", data-target="#tab5",ng-click="setActive('tab5')") {{ 'PRESELECTED' | translate}}
                                                        li()
                                                            a(data-toggle="tab", data-target="#tab6",ng-click="setActive('tab6')") {{ 'SELECTED_S' | translate}}
                                        div(class="tab-content", style="min-height:100vh; border-left: 1px solid #ddd;")
                                            div(id="tab1", class="tab-pane",ng-class="{'active' : Dato.tab == 'tab1'}")
                                                div(class="panel-body")
                                                    div(class="row row-space")
                                                        div(class="col-md-2")
                                                            label() {{ 'CODE' | translate}}
                                                        div(class="col-md-4")
                                                            input(type='text', class="form-control", data-ng-model="Data.vacancy.code", ng-disabled="Data.vacancy.disabled==true")
                                                        div(class="col-md-2")
                                                            label() {{ 'VACANCY_NUMBER' | translate}}
                                                        div(class="col-md-4")
                                                            input(type='text', class="form-control", data-ng-model="Data.vacancy.vacanciesNumber", ng-disabled="Data.vacancy.disabled==true")
                                                    div(class="row row-space")
                                                        div(class="col-md-2")
                                                            label() {{ 'STATUS' | translate}}
                                                        div(class="col-sm-4")
                                                            select(class="form-control", select2="", name="estado", data-ng-model="Data.vacancy.status", ng-disabled="Data.vacancy.disabled==true")
                                                                option(value="") {{ 'SELECT' | translate}}
                                                                option(ng-repeat="estado in variablesGlobales.estados", value="{{estado.value}}") {{estado.label | translate}}
                                                        div(class="col-md-2")
                                                            label() {{ 'START_DATE' | translate}}
                                                        div(class="col-md-4")
                                                            adm-dtp(ng-model='Data.vacancy.fromDate', options='{calType: "gregorian", format: "YYYY-MM-DD"}', dtpType="date", autoClose="true", transition="false", ng-disabled="Data.vacancy.disabled==true")
                                                    div(class="row row-space")
                                                        div(class="col-md-2")
                                                            label() {{ 'END_DATE' | translate}}
                                                        div(class="col-sm-4")
                                                            adm-dtp(ng-model='Data.vacancy.toDate', options='{calType: "gregorian", format: "YYYY-MM-DD"}', dtpType="date", autoClose="true", transition="false", ng-disabled="Data.vacancy.disabled==true")
                                                        div(class="col-md-2")
                                                            label() {{ 'EXPECTED_SALARY' | translate}}
                                                        div(class="col-md-4")
                                                            input(type='text', class="form-control", data-ng-model="Data.vacancy.salary", ng-disabled="Data.vacancy.disabled==true")
                                                    div(class="row row-space")
                                                        div(class="col-md-2")
                                                            label() {{ 'ADDRESS' | translate}}
                                                        div(class="col-sm-4")
                                                            input(type='text', class="form-control", data-ng-model="Data.vacancy.address", ng-disabled="Data.vacancy.disabled==true")
                                                        div(class="col-md-2")
                                                            label() {{ 'COUNTRY' | translate}}
                                                        div(class="col-md-4")
                                                            input(class="form-control",ng-focus="onFocus('paisVisible',1)",ng-blur="onBlur('paisVisible',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(Data.vacancy.country,'CountryName','dataPais','null','Data.vacancy.country'); cityName =''; postalCode =''", ng-model="Data.vacancy.country", ng-required="Data.vacancy.countrySelected", ng-disabled="Data.vacancy.disabled==true")
                                                            ul(ng-show="{{ 'paisVisible' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                                li(class="list-group-item",ng-mousedown="assign('Data.vacancy.country',pais); getAcronym(pais)", ng-repeat="pais in dataPais") {{pais.er}}
                                                    div(class="row row-space")
                                                        div(class="col-md-2")
                                                            label() {{ 'POSTAL_CODE' | translate}}
                                                        div(class="col-sm-4")
                                                            input(type='text', class="form-control", ng-model="Data.vacancy.postalCode", ng-disabled="!Data.vacancy.country", ng-disabled="Data.vacancy.disabled==true")
                                                        div(class="col-md-2")
                                                            label() {{ 'CITY' | translate}}
                                                        div(class="col-md-4")
                                                            input(class="form-control",ng-focus="onFocus('poblacionVisible',1)",ng-blur="onBlur('poblacionVisible',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(Data.vacancy.city,'CityName','dataCity',Data.vacancy.acronym,'Data.vacancy.city')", ng-model="Data.vacancy.city", ng-required="Data.vacancy.citySelected", ng-disabled="!Data.vacancy.country", ng-disabled="Data.vacancy.disabled==true")
                                                            ul(ng-show="{{ 'poblacionVisible' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                                li(class="list-group-item",ng-mousedown="assign('Data.vacancy.city',city)", ng-repeat="city in dataCity") {{city.er}}
                                                    div(class="row row-space")
                                                        div(class="col-md-2")
                                                            label() {{ 'JOB_FUNCTION' | translate}}
                                                        div(class="col-sm-4")
                                                            input(type='text', class="form-control",ng-model="Data.vacancy.jobDescription", ng-disabled="Data.vacancy.disabled==true")
                                                        div(class="col-md-2")
                                                            label() {{ 'ANALIST' | translate}}
                                                        div(class="col-md-4")
                                                            input(class="form-control", ng-focus="onFocus('analista',1)",ng-blur="onBlur('analista',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(Data.vacancy.analist,'Name','dataAnalista','null','Data.vacancy.analist')", ng-model="Data.vacancy.analist", ng-disabled="Data.vacancy.disabled==true")
                                                            ul(ng-show="{{ 'analista' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                                li(class="list-group-item",ng-mousedown="assign('Data.vacancy.analist',item)", ng-repeat="item in dataAnalista") {{item.er}}
                                                    div(class="row row-space")
                                                        div(class="col-md-2")
                                                            label() {{ 'CONTACT_PERSON' | translate}}
                                                        div(class="col-sm-4")
                                                            input(class="form-control", ng-focus="onFocus('persona',1)",ng-blur="onBlur('persona',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(Data.vacancy.contact,'Name','dataPersona','null','Data.vacancy.contact')", ng-model="Data.vacancy.contact", ng-disabled="Data.vacancy.disabled==true")
                                                            ul(ng-show="{{ 'persona' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                                li(class="list-group-item",ng-mousedown="assign('Data.vacancy.contact',item)", ng-repeat="item in dataPersona") {{item.er}}
                                                        div(class="col-md-2")
                                                            label() {{ 'CONDITIONAL_PROBABILITY' | translate}}
                                                        div(class="col-md-4")
                                                            input(type='checkbox', data-ng-model="Data.vacancy.conditionalProbability", value="true", ng-disabled="Data.vacancy.disabled==true")
                                                    div(class="row row-space")
                                                        div(class="col-md-2")
                                                            label() {{ 'GPS_COORDINATES' | translate}}
                                                        div(class="col-sm-4")
                                                            input(type='text', class="form-control", data-ng-model="Data.vacancy.gps", ng-disabled="true")
                                                        div(class="col-md-2")
                                                            label() {{ 'LAST_UPDATE' | translate}}
                                                        div(class="col-md-4")
                                                            input(type='text', class="form-control", data-ng-model="Data.vacancy.lastUpdate", ng-disabled="true")
                                            div(id="tab3", class="tab-pane",ng-class="{'active' : Dato.tab == 'tab3'}")
                                                div(class="panel-body")
                                                    div(class="row row-space")
                                                        div(class="col-sm-12")
                                                            button(type="button", class="btn btn-primary pull-right", ng-click="irCaracterizacion()", ng-show="sesion.role=='5' || sesion.role=='4' || sesion.role=='3'")
                                                                li(class="fa fa-mail-forward")
                                                                span() {{ 'CHARACTERIZE' | translate}}
                                                    div(class="row")
                                                        div(class="col-sm-12")
                                                            table(class="col-sm-12")
                                                                tr(ng-repeat="methaFeatures in methaFeatures | filter: greaterThan('mfrWeight', 0) | orderBy : ['methaFeatureOrder', 'name']")
                                                                    td(class="col-sm-12")
                                                                        div(class="col-sm-12")
                                                                            div(class="panel panel-primary data")
                                                                                div(class="panel-heading") 
                                                                                    div(class="col-sm-11")
                                                                                        h4() 
                                                                                            span() {{methaFeatures.name | translate}}
                                                                                            span(class="pull-right") {{ 'WEIGHT' | translate}}: {{methaFeatures.mfrWeight}}
                                                                                    div(class="col-sm-1")
                                                                                        ul(class="panel-controls") 
                                                                                            li(class="clickable panel-collapsed")
                                                                                                a(class="panel-collapse")
                                                                                                    i(class="fa fa-angle-down")
                                                                                div(class="panel-body", style="overflow: hidden; display: none;")
                                                                                    table(class="col-sm-12 table")
                                                                                        thead()
                                                                                            tr()
                                                                                                th(style="width: 200px;") {{ 'FEATURE' | translate}}
                                                                                                th(ng-repeat="levelNames in methaFeatures.levelNames", style="width: 60px;") {{levelNames}}
                                                                                                th()
                                                                                                    span(ng-show="showValue != 'p'") Count
                                                                                                    span(ng-show="showValue == 'p'") Probab
                                                                                        tbody()
                                                                                            tr(ng-repeat="feature in methaFeatures.features | orderBy : ['name'] | filter: greaterThanMultiple('isWeightInferred','weightInferred','weightSetted', 0,'mandatory')")
                                                                                                td(style="white-space:nowrap;") 
                                                                                                    span() {{ feature.name }} &nbsp;
                                                                                                        i(class="fa fa-lock", ng-show="feature.mandatory==true")
                                                                                                td(ng-repeat="levelNames in methaFeatures.levelNames", ng-class="{ 'warning': !feature.isWeightInferred[$index] }") 
                                                                                                    div(title="MR: {{levelNames}}\r\nFrecuencia: {{feature.frequency[$index]}}\r\nFrecuencia Corregida: {{feature.frequencyCorrected[$index].toFixed(2)}}\r\nPeso Inferido: {{feature.weightInferred[$index]}}\r\nProbabilidad: {{feature.probability[$index].toFixed(2)}}") {{ feature.isWeightInferred[$index] ? feature.weightInferred[$index] : feature.weightSetted[$index]}}
                                                                                                td() {{ feature.count }}
                                            div(id="tab4", class="tab-pane",ng-class="{'active' : Dato.tab == 'tab4'}")
                                                div(class="panel-body")
                                                    div(class="row row-space")
                                                        h3() {{ 'CANDIDATES_CONCUR' | translate}}
                                                    div(class="row row-space", ng-hide="Data.vacancy.disabled==true")
                                                        div(class="col-md-8") 
                                                            div(class="input-group")
                                                                div(class="input-group-addon")
                                                                    span(class="fa fa-search")
                                                                input(class="form-control", placeholder="busqueda de candidatos",ng-focus="onFocus('candidatos',1)",ng-blur="onBlur('candidatos',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInputCandidato(candidato,'dataCandidate','candidato')", ng-model="candidato")
                                                            ul(ng-show="{{ 'candidatos' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                                li(class="list-group-item",ng-mousedown="assignCandidato('candidato',item)", ng-repeat="item in dataCandidate") {{item.name}}
                                                        div(class="col-md-2") 
                                                            button(class="btn btn-default btn-block mb-control",ng-click="agregarCandidato(candidatoSelected.id,'CND_CONCUR')")
                                                                span(class="fa fa-plus")
                                                                span() {{ 'ADD' | translate}}
                                                        div(class="col-md-2") 
                                                            label(class="file-input-wrapper btn btn-default btn-block mb-control fileinput btn-default")
                                                                i(class="fa fa-cloud-upload", aria-hidden="true")
                                                                span() {{ 'IMPORT_CV' | translate}}
                                                                input(type="file", id="file", accept="image/pdf", class="custom-file-input", onchange="angular.element(this).scope().uploadFile(this.files)")
                                                    div(class="row row-space", ng-hide="Data.vacancy.disabled==true")
                                                        div(class="col-md-8") 
                                                        div(class="col-md-4") 
                                                                button(class="btn btn-default btn-block mb-control", data-toggle="modal", data-target="#myModal", data-backdrop="static")
                                                                    span(class="fa fa-search")
                                                                    span() {{ 'ADVANCE_SEARCH' | translate}}
                                                    div(class="row row-space")
                                                        div(class="col-sm-12")
                                                            div(class="col-sm-9")
                                                                div(class="panel panel-default")
                                                                    div(class="panel-body posts")
                                                                        div(class="row")
                                                                            table(class="table ")
                                                                                thead()
                                                                                    tr()
                                                                                        th(class="col-sm-7",style="text-align: center;",ng-click="sortType = 'name'; sortReverse = !sortReverse") 
                                                                                            label() {{ 'CANDIDATE' | translate}}
                                                                                            span(ng-show="sortType == 'name' && !sortReverse", class="fa fa-caret-down")
                                                                                            span(ng-show="sortType == 'name' && sortReverse", class="fa fa-caret-up")
                                                                                        th(class="col-sm-1",style="text-align: center;") 
                                                                                            label() {{ 'PENDING' | translate}}
                                                                                        th(class="col-sm-1",style="text-align: center;",ng-click="sortType = 'score'; sortReverse = !sortReverse") 
                                                                                            label() {{ 'SCORE' | translate}}
                                                                                            span(ng-show="sortType == 'score' && !sortReverse", class="fa fa-caret-down")
                                                                                            span(ng-show="sortType == 'score' && sortReverse", class="fa fa-caret-up")
                                                                                        th(class="col-sm-1",style="text-align: center;") {{ 'DETAIL' | translate}} 
                                                                                        th(class="col-sm-1",style="text-align: center;", ng-hide="Data.vacancy.disabled==true") {{ 'PRESELECT' | translate}}  
                                                                                        th(class="col-sm-1",style="text-align: center;", ng-hide="Data.vacancy.disabled==true") Quitar
                                                                                tbody()
                                                                                    tr(ng-repeat="candidato in Data.concur | orderBy:sortType:sortReverse", ng-class="Dato.searched == candidato.id ? 'info' : (candidato.disabled == true ? 'warning' : '')")
                                                                                        td() 
                                                                                            span(ng-bind="candidato.name")
                                                                                        td(style="text-align: center;") 
                                                                                            span(ng-bind="candidato.missingMandatory")
                                                                                        td(style="text-align: center;") 
                                                                                            span(ng-bind="candidato.score | number:2")
                                                                                        td(style="text-align: center;") 
                                                                                            button(class="btn btn-info btn-condensed", ng-click="buscarDetalle(candidato.id)")
                                                                                                span(class="fa fa-file-text-o")
                                                                                        td(style="text-align: center;", ng-hide="Data.vacancy.disabled==true") 
                                                                                            button(type="button", class="btn btn-condensed",ng-class="candidato.select == true ? 'btn-success' : 'btn-warning'", ng-click="candidato.select = !candidato.select", ng-disabled="candidato.disabled", ng-hide="candidato.disabled == true")
                                                                                                span(class="fa", ng-class="candidato.select == true ? 'fa-check-square-o' : 'fa-square-o'")
                                                                                        td(style="text-align: center;", ng-hide="Data.vacancy.disabled==true") 
                                                                                            button(type="button", class="btn btn-condensed",ng-class="candidato.quitar == true ? 'btn-success' : 'btn-danger'", ng-click="candidato.quitar = !candidato.quitar", ng-disabled="candidato.disabled", ng-hide="candidato.disabled == true")
                                                                                                span(class="fa", ng-class="candidato.quitar == true ? 'fa-check-square-o' : 'fa-square-o'")
                                                            div(class="col-sm-3")  
                                                                div(class="panel panel-default")  
                                                                    div(class="panel-body")
                                                                        h3() {{ 'STADISTICS' | translate}}
                                                                        div(class="links")
                                                                            a() {{ 'CONCURRENT' | translate}}
                                                                                span(class="label label-primary") {{Data.concur.length}}
                                                                            a() {{ 'AVERAGE_SCORE' | translate}}
                                                                                span(class="label label-info") {{Data.promedioConcur | number:2}}
                                                                div(class="panel panel-default", ng-hide="Data.vacancy.disabled==true")  
                                                                    div(class="panel-body")
                                                                        div(class="row row-space")
                                                                            h4() Preseleccionar candidatos:
                                                                            button(type="button", class="btn btn-condensed btn-success", ng-click="seleccionarMultiple('CND_PRESELECTED')") Preseleccionar
                                                                        div(class="row row-space")
                                                                            h4() Quitar candidatos:
                                                                            button(type="button", class="btn btn-condensed btn-danger", ng-click="removerMultiple('CND_CONCUR')") Quitar
                                            div(id="tab5", class="tab-pane",ng-class="{'active' : Dato.tab == 'tab5'}")     
                                                div(class="panel-body")      
                                                    div(class="row row-space")
                                                        h3() {{ 'PRESELECTED_CANDIDATES' | translate}}
                                                    div(class="row row-space")
                                                        div(class="col-sm-12")
                                                            div(class="col-sm-9")
                                                                div(class="panel panel-default")
                                                                    div(class="panel-body posts")
                                                                        div(class="row")
                                                                            table(class="table")
                                                                                thead()
                                                                                    tr()
                                                                                        th(class="col-sm-7",style="text-align: center;",ng-click="sortType = 'name'; sortReverse = !sortReverse") 
                                                                                            label() {{ 'CANDIDATE' | translate}}
                                                                                            span(ng-show="sortType == 'name' && !sortReverse", class="fa fa-caret-down")
                                                                                            span(ng-show="sortType == 'name' && sortReverse", class="fa fa-caret-up")
                                                                                        th(class="col-sm-1",style="text-align: center;") 
                                                                                            label() {{ 'PENDING' | translate}}
                                                                                        th(class="col-sm-1",style="text-align: center;",ng-click="sortType = 'score'; sortReverse = !sortReverse") 
                                                                                            label() {{ 'SCORE2' | translate}}
                                                                                            span(ng-show="sortType == 'score' && !sortReverse", class="fa fa-caret-down")
                                                                                            span(ng-show="sortType == 'score' && sortReverse", class="fa fa-caret-up")
                                                                                        th(class="col-sm-1",style="text-align: center;") {{ 'DETAIL' | translate}} 
                                                                                        th(class="col-sm-1",style="text-align: center;", ng-hide="Data.vacancy.disabled==true") {{ 'SELECT2' | translate}} 
                                                                                        th(class="col-sm-1",style="text-align: center;", ng-hide="Data.vacancy.disabled==true") Quitar 
                                                                                tbody()
                                                                                    tr(ng-repeat="candidato in Data.preselected | orderBy:sortType:sortReverse", ng-class="Dato.searched == candidato.id ? 'info' : (candidato.disabled == true ? 'warning' : '')")
                                                                                        td() 
                                                                                            span(ng-bind="candidato.name")
                                                                                        td(style="text-align: center;") 
                                                                                            span(ng-bind="candidato.missingMandatory")
                                                                                        td(style="text-align: center;") 
                                                                                            span(ng-bind="candidato.score | number:2")
                                                                                        td() 
                                                                                            button(class="btn btn-info btn-condensed", ng-click="buscarDetalle(candidato.id)")
                                                                                                span(class="fa fa-file-text-o")
                                                                                        td(style="text-align: center;", ng-hide="Data.vacancy.disabled==true") 
                                                                                            button(type="button", class="btn btn-condensed",ng-class="candidato.select == true ? 'btn-success' : 'btn-warning'", ng-click="candidato.select = !candidato.select", ng-disabled="candidato.disabled", ng-hide="candidato.disabled == true || candidato.status=='H' || candidato.status=='N'")
                                                                                                span(class="fa", ng-class="candidato.select == true ? 'fa-check-square-o' : 'fa-square-o'")
                                                                                        td(style="text-align: center;", ng-hide="Data.vacancy.disabled==true") 
                                                                                            button(type="button", class="btn btn-condensed",ng-class="candidato.quitar == true ? 'btn-success' : 'btn-danger'", ng-click="candidato.quitar = !candidato.quitar", ng-disabled="candidato.disabled", ng-hide="candidato.disabled == true")
                                                                                                span(class="fa", ng-class="candidato.quitar == true ? 'fa-check-square-o' : 'fa-square-o'")
                                                            div(class="col-sm-3")  
                                                                div(class="panel panel-default")  
                                                                    div(class="panel-body")
                                                                        h3() {{ 'STADISTICS' | translate}}
                                                                        div(class="links")
                                                                            a() {{ 'PRESELECTED' | translate}}
                                                                                span(class="label label-primary") {{Data.preselected.length}}
                                                                            a() {{ 'CONCURRENT' | translate}}
                                                                                span(class="label label-primary") {{Data.concur.length}}
                                                                            a() {{ 'AVERAGE_SCORE' | translate}}
                                                                                span(class="label label-info") {{Data.promedioPreSelected | number:2}}
                                                                div(class="panel panel-default", ng-hide="Data.vacancy.disabled==true")  
                                                                    div(class="panel-body")
                                                                        div(class="row row-space")
                                                                            h4() Seleccionar candidatos:
                                                                            button(type="button", class="btn btn-condensed btn-success", ng-click="seleccionarMultiple('CND_SELECTED')") Seleccionar
                                                                        div(class="row row-space")
                                                                            h4() Quitar candidatos:
                                                                            button(type="button", class="btn btn-condensed btn-danger", ng-click="removerMultiple('CND_PRESELECTED')") Quitar
                                            div(id="tab6", class="tab-pane",ng-class="{'active' : Dato.tab == 'tab6'}")  
                                                div(class="panel-body")
                                                    div(class="row row-space")
                                                        h3() {{ 'SELECTED_CANDIDATES' | translate}}
                                                    div(class="row row-space")
                                                        div(class="col-sm-12")
                                                            div(class="col-sm-9")
                                                                div(class="panel panel-default")
                                                                    div(class="panel-body posts")
                                                                        div(class="row")
                                                                            table(class="table")
                                                                                thead()
                                                                                    tr()
                                                                                        th(class="col-sm-7",style="text-align: center;",ng-click="sortType = 'name'; sortReverse = !sortReverse") 
                                                                                            label() {{ 'CANDIDATE' | translate}}
                                                                                            span(ng-show="sortType == 'name' && !sortReverse", class="fa fa-caret-down")
                                                                                            span(ng-show="sortType == 'name' && sortReverse", class="fa fa-caret-up")
                                                                                        th(class="col-sm-1",style="text-align: center;") 
                                                                                            label() {{ 'PENDING' | translate}}
                                                                                        th(class="col-sm-1",style="text-align: center;",ng-click="sortType = 'score'; sortReverse = !sortReverse") 
                                                                                            label() {{ 'SCORE2' | translate}}
                                                                                            span(ng-show="sortType == 'score' && !sortReverse", class="fa fa-caret-down")
                                                                                            span(ng-show="sortType == 'score' && sortReverse", class="fa fa-caret-up")
                                                                                        th(class="col-sm-1",style="text-align: center;") {{ 'DETAIL' | translate}}  
                                                                                        th(class="col-sm-1",style="text-align: center;", ng-hide="Data.vacancy.disabled==true") Contratar
                                                                                        th(class="col-sm-1",style="text-align: center;", ng-hide="Data.vacancy.disabled==true") Quitar  
                                                                                tbody()
                                                                                    tr(ng-repeat="candidato in Data.selected | orderBy:sortType:sortReverse", ng-class="Dato.searched == candidato.id ? 'info' : (candidato.disabled == true ? 'warning' : '')")
                                                                                        td() 
                                                                                            span(ng-bind="candidato.name")
                                                                                        td(style="text-align: center;") 
                                                                                            span(ng-bind="candidato.missingMandatory")
                                                                                        td(style="text-align: center;") 
                                                                                            span(ng-bind="candidato.score | number:2")
                                                                                        td(style="text-align: center;") 
                                                                                            button(class="btn btn-info btn-condensed", ng-click="buscarDetalle(candidato.id)")
                                                                                                span(class="fa fa-file-text-o")
                                                                                        td(style="text-align: center;", ng-hide="Data.vacancy.disabled==true") 
                                                                                            button(type="button", class="btn btn-condensed",ng-class="candidato.select == true ? 'btn-success' : 'btn-warning'", ng-click="candidato.select = !candidato.select", ng-disabled="candidato.disabled", ng-hide="candidato.disabled == true || candidato.status=='H' || candidato.status=='N'")
                                                                                                span(class="fa", ng-class="candidato.select == true ? 'fa-check-square-o' : 'fa-square-o'")
                                                                                        td(style="text-align: center;", ng-hide="Data.vacancy.disabled==true") 
                                                                                            button(type="button", class="btn btn-condensed",ng-class="candidato.quitar == true ? 'btn-success' : 'btn-danger'", ng-click="candidato.quitar = !candidato.quitar", ng-disabled="candidato.disabled", ng-hide="candidato.disabled == true || candidato.status=='H' || candidato.status=='N'")
                                                                                                span(class="fa", ng-class="candidato.quitar == true ? 'fa-check-square-o' : 'fa-square-o'")
                                                            div(class="col-sm-3")  
                                                                div(class="panel panel-default")  
                                                                    div(class="panel-body")
                                                                        h3() {{ 'STADISTICS' | translate}}
                                                                        div(class="links")
                                                                            a() {{ 'SELECTED_S' | translate}}
                                                                                span(class="label label-primary") {{Data.selected.length}}
                                                                            a() {{ 'PRESELECTED' | translate}}
                                                                                span(class="label label-primary") {{Data.preselected.length}}
                                                                            a() {{ 'AVERAGE_SCORE' | translate}}
                                                                                span(class="label label-info") {{Data.promedioSelected | number:2}}
                                                                div(class="panel panel-default", ng-hide="Data.vacancy.disabled==true")  
                                                                    div(class="panel-body")
                                                                        div(class="row row-space")
                                                                            div(class="row row-space")
                                                                                h4() Contratar candidatos:
                                                                                button(type="button", class="btn btn-condensed btn-success", ng-click="seleccionarMultiple('CND_HIRED')") Contratar
                                                                            div(class="row row-space")
                                                                                h4() Quitar candidatos:
                                                                                button(type="button", class="btn btn-condensed btn-danger", ng-click="removerMultiple('CND_SELECTED')") Quitar
                                            div(id="tab7", class="tab-pane",ng-class="{'active' : Dato.tab == 'tab7'}")
                                                div(class="panel-body")       
                                                    div(class="row row-space")
                                                        h3() {{ 'SUGGESTED' | translate}}         
                                                    div(class="row row-space")
                                                        div(class="col-sm-12")
                                                            div(class="col-sm-12")
                                                                div(class="panel panel-default")
                                                                    div(class="panel-body posts")
                                                                        div(class="row")
                                                                            table(class="table ")
                                                                                thead()
                                                                                    tr()
                                                                                        th(class="col-sm-8",style="text-align: center;",ng-click="sortType = 'name'; sortReverse = !sortReverse") 
                                                                                            label() {{ 'CANDIDATE' | translate}}
                                                                                            span(ng-show="sortType == 'name' && !sortReverse", class="fa fa-caret-down")
                                                                                            span(ng-show="sortType == 'name' && sortReverse", class="fa fa-caret-up")
                                                                                        th(class="col-sm-1",style="text-align: center;") 
                                                                                            label() {{ 'PENDING' | translate}}
                                                                                        th(class="col-sm-1",style="text-align: center;",ng-click="sortType = 'score'; sortReverse = !sortReverse") 
                                                                                            label() {{ 'SCORE' | translate}}
                                                                                            span(ng-show="sortType == 'score' && !sortReverse", class="fa fa-caret-down")
                                                                                            span(ng-show="sortType == 'score' && sortReverse", class="fa fa-caret-up")
                                                                                        th(class="col-sm-1",style="text-align: center;") {{ 'DETAIL' | translate}} 
                                                                                        th(class="col-sm-1",style="text-align: center;", ng-hide="Data.vacancy.disabled==true") {{ 'ADD' | translate}}  
                                                                                tbody()
                                                                                    tr(ng-repeat="candidato in Data.suggested | orderBy:sortType:sortReverse", ng-class="Dato.searched == candidato.candidateId ? 'info' : (candidato.disabled == true ? 'warning' : '')")
                                                                                        td() 
                                                                                            span(ng-bind="candidato.name")
                                                                                        td(style="text-align: center;") 
                                                                                            span(ng-bind="candidato.missingMandatory")
                                                                                        td(style="text-align: center;") 
                                                                                            span(ng-bind="candidato.score | number:2")
                                                                                        td(style="text-align: center;") 
                                                                                            button(class="btn btn-info btn-condensed", ng-click="buscarDetalle(candidato.candidateId)")
                                                                                                span(class="fa fa-file-text-o")
                                                                                        td(style="text-align: center;", ng-hide="Data.vacancy.disabled==true")
                                                                                            button(class="btn btn-success btn-condensed",ng-click="agregarCandidato(candidato.candidateId,'CND_CONCUR')",ng-disabled="candidato.disabled", ng-hide="candidato.disabled == true")
                                                                                                span(class="fa fa-check")
                
                
                
                
                
                
                
                //- Ventana busqueda avanzada
                div(id="myModal", class="modal fade", role="dialog")
                    div(class="modal-dialog modal-lg")
                        div(class="modal-content") 
                            div(class="modal-header")
                                button(type="button", class="close", data-dismiss="modal") &times;
                                h4(class="modal-title") {{ 'ADVANCE_SEARCH' | translate}}
                            div(class="modal-body")
                                div(class="dd-handle clearfix")
                                    div(class="row row-space")
                                        div(class="col-sm-1") 
                                            label(for="") {{ 'COUNTRY' | translate}}
                                        div(class="col-sm-3")
                                            input(class="form-control",ng-focus="onFocus('pais',1)",ng-blur="onBlur('pais',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(Dato.country,'CountryName','dataPais','null','Dato.country')", ng-model="Dato.country")
                                            ul(ng-show="{{ 'pais' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                li(class="list-group-item",ng-mousedown="assign('Dato.country',item)", ng-repeat="item in dataPais") {{item.er}}
                                        div(class="col-sm-1") 
                                            label(for="") {{ 'STATUS' | translate}}
                                        div(class="col-sm-3")
                                            select(style="width:100%",class="form-control", select2="", name="estatus", ng-model="Dato.status")
                                                option(value="") Seleccione
                                                option(ng-repeat="estado in variablesGlobales.estadosCandidato", value="{{estado.value}}") {{estado.label}}
                                        div(class="col-sm-1") 
                                            label(for="") {{ 'SKILL' | translate}}
                                        div(class="col-sm-3")
                                            input(class="form-control",ng-focus="onFocus('skill',1)",ng-blur="onBlur('skill',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(Dato.skill,'SkillName','dataSkills','null','Dato.skill')", ng-model="Dato.skill")
                                            ul(ng-show="{{ 'skill' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                li(class="list-group-item",ng-mousedown="assign('Dato.skill',item)", ng-repeat="item in dataSkills") {{item.er}}
                                    div(class="row row-space")
                                        div(class="col-sm-1") 
                                            label(for="") {{ 'JOB_FUNCTION' | translate}}
                                        div(class="col-sm-3")
                                            input(class="form-control",ng-focus="onFocus('jobFunction',1)",ng-blur="onBlur('jobFunction',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(Dato.jobFunction,'JobFunctionName','dataJobFuncion','null','Dato.jobFunction')", ng-model="Dato.jobFunction")
                                            ul(ng-show="{{ 'jobFunction' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                li(class="list-group-item",ng-mousedown="assign('Dato.jobFunction',item)", ng-repeat="item in dataJobFuncion") {{item.er}}
                                        div(class="col-sm-1") 
                                            label(for="") {{ 'JOBS' | translate}}
                                        div(class="col-sm-3")
                                            input(class="form-control",ng-focus="onFocus('job',1)",ng-blur="onBlur('job',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(Dato.jobs,'JobName','dataJobs','null','Dato.jobs')", ng-model="Dato.jobs")
                                            ul(ng-show="{{ 'job' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                li(class="list-group-item",ng-mousedown="assign('Dato.jobs',item)", ng-repeat="item in dataJobs") {{item.er}}
                                        div(class="col-sm-4")
                                            button(class="btn btn-primary mb-control pull-right",ng-click="advSearch(Dato.name,Dato.country,Dato.status,Dato.skill,Dato.jobFunction,Dato.jobs,1,10)", data-box="#message-box-success") Buscar
                                div(class="dd-handle clearfix")
                                    div(class="row row-space")
                                        div(class="col-sm-12")
                                            div(style="height: 300px; overflow: auto;")
                                                table(class="table table-striped", style="height: 100px;")
                                                    thead()
                                                        tr()
                                                            th(class="col-sm-10") {{ 'CANDIDATE' | translate}}
                                                            th(class="col-sm-2") {{ 'ADD' | translate}} 
                                                    tbody()
                                                        tr(ng-repeat="candidato in lista.candidatos")
                                                            td() 
                                                                span(ng-bind="candidato.name")
                                                            td() 
                                                                button(class="btn btn-default btn-condensed",ng-click="agregarCandidato(candidato.id,'CND_CONCUR')")
                                                                    span(class="fa fa-file-text-o")
                            div(class="modal-footer")
                                button(type="button", class="btn btn-default", data-dismiss="modal") {{ 'CLOSE' | translate}} 
