div.row
    div.col-md-6
        select(ng-model="vacancy", ng-options="x.name for x in vacancies", class="form-control", ng-change="getRelations()")
    div.col-md-6
        select(ng-model="candidate", ng-options="x.name for x in candidates", class="form-control", ng-change="getRelations()")
div.row(ng-show = "vacancy && candidate") 
    div.panel
        div.col-md-5
            {{vacancy.name}}
        div.col-md-2
            button.btn.btn-info(ng-click="createVancancyCandidateRelation(vacancy.id,candidate.id,'CND_CONCUR')", ng-disabled="relations.indexOf('CND_CONCUR') !=-1") CND_CONCUR
            button.btn.btn-info(ng-click="createVancancyCandidateRelation(vacancy.id,candidate.id,'CND_PRESELECTED')", ng-disabled="relations.indexOf('CND_PRESELECTED') !=-1 || relations.indexOf('CND_CONCUR') ==-1") CND_PRESELECTED
            button.btn.btn-info(ng-click="createVancancyCandidateRelation(vacancy.id,candidate.id,'CND_SELECTED')", ng-disabled="relations.indexOf('CND_SELECTED') !=-1 || relations.indexOf('CND_CONCUR') ==-1 || relations.indexOf('CND_PRESELECTED') ==-1") CND_SELECTED
            {{relations}}
        div.col-md-5
            {{candidate.name}}