//- PAGE TITLE
div(class="page-title")
    h2() Lista de fichas de Vacantes
    span(ng-bind="lista.cantidad")
//- END PAGE TITLE
//- PAGE CONTENT WRAPPER
div(class="page-content-wrap")
    div(class="row")
        div(class="col-md-12")
            //-INICIO
            div(class="row")
                div(class="col-md-12")
                    div(class="panel panel-default")
                        div(class="panel-body")
                            p() Usa la búsqueda para encontrar vacantes
                            form(class="form-horizontal")
                                div(class="form-group")
                                    div(class="col-md-6")
                                        div(class="input-group")
                                            div(class="input-group-addon")
                                                span(class="fa fa-search")
                                            input(class="form-control", placeholder="¿Que estás buscando?", type="text", ng-model="Dato.name")
                                            div(class="input-group-btn")
                                                button(class="btn btn-primary mb-control", data-box="#message-box-success",ng-click="advSearch(Dato.name,Dato.employer,Dato.job,Dato.status,Dato.analist,Dato.country,Dato.fromDate,Dato.toDate,1,12)", ng-hide="busquedaAvanzada") Buscar
                                    div(class="col-md-2")
                                        button(class="btn btn-default btn-block mb-control", ng-click="busquedaAvanzada = !busquedaAvanzada")
                                            span(class="fa fa-filter")
                                            span() Filtrar
                                    div(class="col-md-2")
                                        button(ng-click="clearFilter()", class="btn btn-default btn-block")
                                            i(class="fa fa-eraser", aria-hidden="true")
                                            span() Limpiar filtro
                                    div(class="col-md-2")
                                        button(class="btn btn-default btn-block mb-control", ng-click="crearNuevo()")
                                            span(class="fa fa-plus")
                                            span() Crear vacante
                                div(class="form-group", ng-show="busquedaAvanzada")
                                    div(class="dd-handle clearfix")
                                        div(class="row row-space")
                                            div(class="col-sm-1") 
                                                label(for="") Empleador
                                            div(class="col-sm-3")
                                                input(class="form-control",ng-focus="onFocus('employer',1)",ng-blur="onBlur('employer',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(Dato.employer,'EmployerName','dataEmployer')", ng-model="Dato.employer")
                                                ul(ng-show="{{ 'employer' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                    li(class="list-group-item",ng-mousedown="Dato.employer = item.er", ng-repeat="item in dataEmployer") {{item.er}}
                                            div(class="col-sm-1") 
                                                label(for="") Job
                                            div(class="col-sm-3")
                                                input(class="form-control",ng-focus="onFocus('job',1)",ng-blur="onBlur('job',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(Dato.job,'JobName','dataJob')", ng-model="Dato.job")
                                                ul(ng-show="{{ 'job' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                    li(class="list-group-item",ng-mousedown="Dato.job = item.er", ng-repeat="item in dataJob") {{item.er}}
                                            div(class="col-sm-1") 
                                                label(for="") Desde
                                            div(class="col-sm-3")
                                                adm-dtp(ng-model='Dato.fromDate', options='{calType: "gregorian", format: "YYYY-MM-DD"}', dtpType="date", autoClose="true", transition="false")
                                        div(class="row row-space")
                                            div(class="col-sm-1") 
                                                label(for="") Analista
                                            div(class="col-sm-3")
                                                input(class="form-control",ng-focus="onFocus('analist',1)",ng-blur="onBlur('analist',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(Dato.analist,'Name','dataAnalist')", ng-model="Dato.analist")
                                                ul(ng-show="{{ 'analist' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                    li(class="list-group-item",ng-mousedown="Dato.analist = item.er", ng-repeat="item in dataAnalist") {{item.er}}
                                            div(class="col-sm-1") 
                                                label(for="") Pais
                                            div(class="col-sm-3")
                                                input(class="form-control",ng-focus="onFocus('country',1)",ng-blur="onBlur('country',1)", ng-model-options="{ debounce: 1000 }", ng-change="autocompletarInput(Dato.country,'CountryName','dataCountry')", ng-model="Dato.country")
                                                ul(ng-show="{{ 'country' + 1 }}", class="list-group select-list", style="z-index: 10; position: absolute;")
                                                    li(class="list-group-item",ng-mousedown="Dato.country = item.er", ng-repeat="item in dataCountry") {{item.er}}
                                            div(class="col-sm-1") 
                                                label(for="") Hasta
                                            div(class="col-sm-3") 
                                                adm-dtp(ng-model='Dato.toDate', options='{calType: "gregorian", format: "YYYY-MM-DD"}', dtpType="date", autoClose="true", transition="false")
                                        div(class="row row-space")
                                            div(class="col-sm-1") 
                                                label(for="") Estatus
                                            div(class="col-sm-3")
                                                select(style="width:100%",class="form-control", select2="", name="estatus", ng-model="Dato.status")
                                                    option(value="") Seleccione
                                                    option(ng-repeat="estado in variablesGlobales.estados", value="{{estado.value}}") {{estado.label}}
                                            div(class="col-sm-8")
                                                button(class="btn btn-primary mb-control pull-right",ng-click="advSearch(Dato.name,Dato.employer,Dato.job,Dato.status,Dato.analist,Dato.country,Dato.fromDate,Dato.toDate,1,12)", data-box="#message-box-success") Buscar
                                div(class="form-group")
                                    div(class="col-sm-12", ng-show="Dato.namePaginado || Dato.countryPaginado || Dato.statusPaginado || Dato.analistPaginado || Dato.employerPaginado || Dato.jobPaginado || Dato.fromDatePaginado || Dato.toDatePaginado")
                                        span()
                                            span(class="fa fa-filter")
                                            label() Filtros:
                                        ul(class="list-tags")
                                            li(ng-show="Dato.namePaginado")
                                                a()
                                                    span() Nombre: {{Dato.namePaginado}}
                                            li(ng-show="Dato.employerPaginado")
                                                a()
                                                    span() Empleador: {{Dato.employerPaginado}}
                                            li(ng-show="Dato.jobPaginado")
                                                a()
                                                    span() Job: {{Dato.jobPaginado}}
                                            li(ng-show="Dato.statusPaginado")
                                                a()
                                                    span(ng-if="Dato.statusPaginado == 'A'") Estatus: Asignada
                                                    span(ng-if="Dato.statusPaginado == 'P'") Estatus: En proceso
                                                    span(ng-if="Dato.statusPaginado == 'C'") Estatus: Cerrada
                                                    span(ng-if="Dato.statusPaginado == 'D'") Estatus: Anulada
                                                    span(ng-if="Dato.statusPaginado == 'S'") Estatus: Inferida
                                            li(ng-show="Dato.analistPaginado")
                                                a()
                                                    span() Analista: {{Dato.analistPaginado}}
                                            li(ng-show="Dato.countryPaginado")
                                                a()
                                                    span() Pais: {{Dato.countryPaginado}}
                                            li(ng-show="Dato.fromDatePaginado")
                                                a()
                                                    span() Desde: {{Dato.fromDatePaginado}}
                                            li(ng-show="Dato.toDatePaginado")
                                                a()
                                                    span() Hasta: {{Dato.toDatePaginado}}
            div(class="row")
                div(class="col-md-12")
                    div(class="panel panel-default")
                        div(class="panel-body")
                            div(class="row")
                                div(class="col-sm-12")
                                    div(class="table-responsive")
                                        table(class="table table-bordered")
                                            thead()
                                                tr()
                                                    td(class="col-md-1") 
                                                        h4() Fecha
                                                    td(class="col-md-4") 
                                                        h4() Ficha de Vacantes
                                                    td(class="col-md-2") 
                                                        h4() Empleador
                                                    td(class="col-md-2") 
                                                        h4() Job
                                                    td(class="col-md-1") 
                                                        h4() Estatus
                                                    td(class="col-md-1") 
                                                        h4() Analista
                                                    td(class="col-md-1")
                                            tbody()
                                                tr(ng-repeat="vacante in lista.vacantes")
                                                    td() {{vacante.fromDate}}
                                                    td() 
                                                        label() {{vacante.name}}
                                                    td() {{vacante.employer}}
                                                    td() {{vacante.job}}
                                                    td() 
                                                        span(ng-if="vacante.status == 'A'") Asignada
                                                        span(ng-if="vacante.status == 'P'") En proceso
                                                        span(ng-if="vacante.status == 'C'") Cerrada
                                                        span(ng-if="vacante.status == 'D'") Anulada
                                                        span(ng-if="vacante.status == 'S'") Inferida
                                                    td() {{vacante.analist}}
                                                    td() 
                                                        div(class="btn-group")
                                                            button(class="btn btn-default btn-condensed", ng-click="buscarDetalle(vacante.id)")
                                                                span(class="fa fa-pencil")
                                                            button(class="btn btn-default btn-condensed")
                                                                span(class="fa fa-copy")
                            div(class="row")
                                div(class="col-sm-12")
                                    pagination(class="pagination pagination-sm",page="currentPage", max-size="noOfPages", total-items="totalItems", items-per-page="entryLimit")
















