extends layout

block body
  div(class="container container-fixed")
    div(ng-controller='AppCtrl')
      ul(class="nav nav-tabs")
        li(role="synonyms", ng-class="{active: $route.current.activetab == 'synonyms'}")
          a(href='synonyms') sinonimos
        li(role="presentation", ng-class="{active: $route.current.activetab == 'unresolved'}")
          a(href='unresolved') Sin resolver
        li(role="presentation", ng-class="{active: $route.current.activetab == 'search'}")
          a(href='search') Buscar

      div(ng-view)

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/factories.js')
  script(src='js/lib/ng-file-upload.min.js')