extends layout

block body
  div(ui-view)

  script(type="text/javascript", src="js/plugins/jquery/jquery.min.js")
  script(type="text/javascript", src="js/plugins/jquery/jquery-ui.min.js")
  script(type="text/javascript", src="js/plugins/bootstrap/bootstrap.min.js")
  script(type='text/javascript', src='js/plugins/icheck/icheck.min.js')
  script(type="text/javascript", src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js")
  script(type='text/javascript', src='js/plugins/noty/jquery.noty.js')
  script(type='text/javascript', src='js/plugins/noty/layouts/topRight.js')
  script(type='text/javascript', src='js/plugins/noty/layouts/topCenter.js')
  script(type='text/javascript', src='js/plugins/noty/layouts/center.js')
  script(type='text/javascript', src='js/plugins/noty/layouts/top.js')
  script(type='text/javascript', src='js/plugins/noty/layouts/inline.js')
  script(type='text/javascript', src='js/plugins/noty/themes/default.js')
  script(type='text/javascript', src='js/plugins/noty/promise.js')
  script(type="text/javascript", src="js/plugins.js")
  script(src='js/lib/angular/angular.js')
  script(src='js/lib/angular/angular-animate.js')
  script(src='js/lib/angular/angular-sanitize.js')
  script(src='js/lib/angular/angular-ui-router.js')
  script(src='js/lib/angular/angular-route.js')
  script(src='js/lib/angular/angular-cookies.js')
  script(src='js/lib/angular/angular-jwt.min.js')
  script(type="text/javascript", src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js")
  script(src="js/plugins/ui-select/select.js")
  script(src="js/plugins/ADM-dateTimePicker/ADM-dateTimePicker.js")
  
  script(src='js/app.js')
  script(src='js/loginController.js')
  script(src='js/loginService.js')
  script(src='js/services.js')
  script(src='js/vacancyService.js')
  script(src='js/controllers.js')
  script(src='js/vacancyController.js')
  script(src='js/vacancyDetailController.js')
  script(src='js/vacancyListController.js')
  script(src='js/candidatesServices.js')
  script(src='js/candidatesController.js')
  script(src='js/candidatesListController.js')
  script(src='js/employerService.js')
  script(src='js/employerListController.js')
  script(src='js/employerController.js')
  script(src='js/jobService.js')
  script(src='js/jobListController.js')
  script(src='js/jobController.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  script(src='js/factories.js')
  script(src='js/constant.js')
  script(src='js/lib/ng-file-upload.min.js')
  script(src='js/lib/angular-spinner.min.js')