!!!
html(ng-app="myApp")
  head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    base(href='/')
    title K H E T H A
    link(rel="icon", href="favicon.gif", type="image/x-icon")
    link(rel='stylesheet',href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel="stylesheet", type="text/css", id="theme", href="css/theme-default.css")
    link(rel="stylesheet", type="text/css", id="theme", href="css/khethApp.css")
    link(rel='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css", rel="stylesheet")
    script(src='http://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    block body